{% extends "MBHChannelManagerBundle:ChannelManager:layout.html.twig" %}

{% set small_title = "channel_manager.logs.small_title"|trans %}
{% set layout = "box" %}

{% block content %}
    {% if contentArray %}
        {% include 'MBHChannelManagerBundle:ChannelManager:extendedPager.html.twig'
            with {
                paramPage: page,
                link: link,
                pagination: pagination
            }
        %}
        <form action="" method="POST">
                {% for stringArray in contentArray %}
                    <div class="text-left">{{ stringArray | raw }}</div>
                {% endfor %}
            {% include 'MBHBaseBundle:Actions:new.html.twig' with {'save_close': false, save_text: 'channel_manager.logs.clear'|trans } %}
        </form>
    {% else %}
        <div class="alert alert-warning">{{ 'channel_manager.logs.no_entries_in_file'|trans }}</div>
    {% endif %}
{% endblock %}
