{% extends "MBHChannelManagerBundle:ChannelManager:layout.html.twig" %}

{% set small_title = "{{ 'mbhchannelmanagerbundle.view.channelmanager.logs.logi'|trans }} " %}
{% set layout = "box" %}

{% block content %}
    {% if content %}
        <div class="well scrolling">
            <form action="" method="POST">
            <pre>{{ content|raw }}</pre>
                {% set clear = 'mbhchannelmanagerbundle.view.channelmanager.logs.ochistitʹ'|trans  %}
                {% include 'MBHBaseBundle:Actions:new.html.twig' with {'save_close': false, save_text: 'clear ' } %}
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning">{{ 'mbhchannelmanagerbundle.view.channelmanager.logs.netzapiseyvfaylelogov'|trans }} .</div>
    {% endif %}
{% endblock %}
