<div class="alert alert-warning">
    {{ 'mbhchannelmanagerbundle.view.channelmanager.pushlink.ssylkadlya'|trans }} push {{ 'mbhchannelmanagerbundle.view.channelmanager.pushlink.uvedomleniy'|trans }} : {{ url('channel_manager_notifications', {'name': name})}}
</div>