<div class="mbh-results-room-type-name-wrapper">
    <span class="mbh-results-room-type-name"
          data-id="{{ result.roomType.id }}">{{ result.roomType.localeTitle(app.request.locale) }}</span>
</div>
<div class="mbh-results-hotel-title-wrapper">
    <span class="mbh-results-hotel text-primary"
          data-id="{{ result.roomType.hotel.id }}">{{ result.roomType.hotel.fullTitle }}</span>
</div>
