/* package*/

@media (max-width: 767px) {
  #package-table_wrapper {
    .col-sm-7 {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  section.content {
    .nav-tabs-custom {
      #package_accommodation_room {
        .alert>ul {
          padding-left: 0;
        }
      }
      div.tab-content {

        #home {
          &>.well.well-sm.we,
            /** вообще сделал hidden-xs*/
          .created-info {
            ul {
              display: flex;
              width: 100%;
              li {
                float: none;
                overflow: hidden;
                &>a {
                  white-space: nowrap;
                  overflow: overlay;
                  padding: 10px 10px;
                }
              }

            }
          }

          table#accommodation-select-table,
          table#accommodations-table,
          table#cash-package-table,
          table.package-guest-table {
            thead {
              display: none;
            }

            tbody {
              display: flex;
              flex-direction: column;

              tr {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
              }
            }
          }

          table.package-guest-table {
            td {
              border: unset;

              &:nth-of-type(7) {
                &::before {
                  content: "Паспорт";
                  padding-right: 0.5em;
                }
                &::after {
                  content: ";";
                }
              }
              &:nth-of-type(8) {
                &::before {
                  content: "Адрес";
                  padding-right: 0.5em;
                }
                &::after {
                  content: ";";
                }
              }
            }
          }
        }
      }

      /* форма вниз, чтобы кнопки были внизу */
      form {
        margin-bottom: -43px;
      }
    }
  }
}

@media (max-width: 633px){
  #package-table-filter {
    input.datepicker {
      max-width: 100% !important;
      text-align: center;
    }
    .group-date .input:first-child {
      margin-bottom: 0;
    }
    .group-date-select {
      margin-left: 0;
      padding-left: 28px;
    }
    #package-filter-dates,
    .select2-container--default {
      width: 100% !important;
    }
    .input {
      width: 100%;
      margin-bottom: 3px;
    }
  }

  #package-table-quick-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    li a {
      padding: 5px;
      width: 100%;
    }
  }
}