/* package*/

@media (max-width: 767px) {
  #package-table_wrapper {
    .col-sm-7 {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  section.content {

    #package-table_wrapper #package-table {
      tr {

        td {

          &:nth-of-type(1),
          &:nth-of-type(2) {
            width: 49%;
          }

          &:nth-of-type(1) {
            align-self: flex-start;
            height: 30px;
          }

          &:nth-of-type(2) {
            align-self: flex-end;
            margin-top: -40px;
          }
        }
      }
    }

    .nav-tabs-custom {
      #package_accommodation_room {
        .alert>ul {
          padding-left: 0;
        }
      }
      div.tab-content {

        #home {
          &>.well.well-sm.we,
            /** вообще сделал hidden-xs*/
          .created-info {
            ul {
              display: flex;
              width: 100%;
              li {
                float: none;
                overflow: hidden;
                &>a {
                  white-space: nowrap;
                  overflow: overlay;
                  padding: 10px 10px;
                }
              }

            }
          }

          table#accommodation-select-table,
          table#accommodations-table,
          table#cash-package-table,
          table.package-guest-table {
            thead {
              display: none;
            }

            tbody {
              display: flex;
              flex-direction: column;

              tr {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
              }
            }
          }

          table.package-guest-table {
            td {
              border: unset;

              &:nth-of-type(7) {
                &::before {
                  content: "Паспорт";
                  padding-right: 0.5em;
                }
                &::after {
                  content: ";";
                }
              }
              &:nth-of-type(8) {
                &::before {
                  content: "Адрес";
                  padding-right: 0.5em;
                }
                &::after {
                  content: ";";
                }
              }
            }
          }
        }
      }

      /* форма вниз, чтобы кнопки были внизу */
      form {
        margin-bottom: -43px;
      }
    }
  }
}

@media (max-width: 767px){
  //#package-table-filter {
  #package-table-quick-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    li a {
      padding: 5px;
      width: 100%;
    }
  }
}