<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Maxibooking</title>
</head>

<body>
   <div id="mbh-form-wrapper" style="overflow: hidden;height: auto;">
        <a href="http://maxi-booking.ru/">система онлайн бронирования</a>
   </div>
   <script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script>')</script>
   <script>$.isFunction($().datepicker) || document.write('<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"><\/script><link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"/>')</script>
   <script type="text/javascript" src="http://localhost:9090/app_dev.php/management/online/api/form/5901a8602b7d9e005c68c41e"></script>
</body>
</html>
