{% extends 'MBHChannelManagerBundle:Vashotel:layout.html.twig' %}

{% set small_title = 'views.channnelmanager.settings'|trans({}, 'MBHChannelManagerBundle') %}

{% block content %}

    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 4, 'entity': config, 'base': 'vashotel'} %}

    <div class="tab-content">

        <div class="alert alert-warning spacer-top">TODO: Service sync</div>

        <div class="tab-pane active" id="home">
            {% if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {%  endif %}
        </div>
    </div>
{% endblock %}