{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set small_title = "редактирование <" ~ entity.name ~ "> #" ~ entity.id %}

{% block content %}

    {% include 'MBHPriceBundle:Tariff:editTabs.html.twig' with {'active': 4 , 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {{ form_start(form, {'action': path('food_price_create', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': 'tariff_delete' } %}
            {{ form_end(form) }}
            
            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'tariff_delete' } %}
        </div>
    </div>
{% endblock %}
