{% spaceless %}
    <h1 style="color:#00005a; font-size:19px; border-bottom: 1px solid #e1e1f9; margin:0 0 30px 0;padding:10px 0;font-family:Open Sans,Lucida Grande,Segoe UI,Arial,Verdana,Lucida Sans Unicode,Tahoma,Sans Serif;">
        {{subject|default('')}}
    </h1>
    <p>{{text|default('')|raw}}</p>
{% endspaceless %}