{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}

{% block subject %}
    {% set subject = text %}
    <div>
        <p><strong>{{ 'mailer.packageZip.error'|trans }} : {{ error }}</strong></p>
        <p><strong>{{ 'mailer.packageZip.amount'|trans }} : {{ amount }}</strong></p>
    </div>

{% endblock %}
