{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}

{% block subject %}
    {% set subject = text %}
    <div>
        <p><strong>{{ 'mailer.packageZip.content-text'|trans }}</strong></p>
    </div>

{% endblock %}
