{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}
{% set link = url('package_moving') %}

{% block subject %}
    <div>
        <p style="font-size: 1.35em">
            {% if movingInfo.movingPackagesData|length > 0 %}
                {% if movingInfo.roomTypes|length == 0 %}
                    {% set roomTypeData = 'для всех типов комнат' %}
                {% else %}
                    {% set roomTypeData = 'типов комнат: ' ~ movingInfo.roomTypes|join(', ') %}
                {% endif %}
                {{ 'mailer.package_moving_report.content'| trans({
                    '%begin%' : movingInfo.begin|date('d.m.Y'),
                    '%end%' : movingInfo.end|date('d.m.Y'),
                    '%runningBy%': movingInfo.runningBy ? movingInfo.runningBy.fullName : 'автоматически',
                    '%startAt%' : movingInfo.startAt|date('d.m.Y H:i'),
                    '%roomTypeData%' : roomTypeData
                }) }}
            {% else %}
                Отчет сгенерирован. Данных для перемещения не найдено.
            {% endif %}
        </p>
    </div>
{% endblock %}