{% extends 'MBHBaseBundle:Mailer:base.html.twig' %}
{% block subject %}
    {% set subject = text %}
    {{ parent() }}
{% endblock %}

{% block text %}
    <h2>
        {{ 'resetting.email.message'|trans({'%username%': user.username, '%buttonName%': buttonName}, 'FOSUserBundle') }}
    </h2>
{% endblock %}