{% extends "MBHClientBundle:ClientConfigPaymentSystem:layout.html.twig" %}

{% set title = 'menu.label.payment_systems'|trans({}, "MBHBaseBundle") %}
{% set small_title = (paymentSystemName != null ? 'views.clientConfig.index.editing' : 'views.clientConfig.index.new') |trans({}, 'MBHClientBundle') %}

{% block content %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {% include 'MBHClientBundle:ClientConfigPaymentSystem:blockPaymentSystemsForm.htm.twig' %}
            {% if entity %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
            {% endif %}
        </div>
    </div>

{% endblock %}