{% extends "MBHClientBundle:ClientConfigPaymentSystem:layout.html.twig" %}

{% set title = 'menu.label.payment_systems'|trans({}, "MBHBaseBundle") %}
{% set small_title = (paymentSystemName != null ? 'views.clientConfig.index.editing' : 'views.clientConfig.index.new') |trans({}, 'MBHClientBundle') %}

{% block scripts %}
    {{ parent() }}

    {% javascripts
        '@MBHClientBundle/Resources/public/js/client_config_payment_system/form/*.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, uglifycss'
        '@MBHClientBundle/Resources/public/css/client_config_payment_system/form/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block content %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {% include 'MBHClientBundle:ClientConfigPaymentSystem:blockPaymentSystemsForm.htm.twig' %}
            {% if entity %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs} %}
            {% endif %}
        </div>
    </div>

{% endblock %}