DBADDRESS = 'mbh-mongo:27017'
DATABASE_NAME = 'aliases'
CONNECTION_STRING = 'mongodb://aliases:aliases@{}/{}'.format(DBADDRESS,
                                                             DATABASE_NAME)
ENDPOINT = 'https://billing.maxi-booking.com/ru/clients/'
TOKEN = 'Token YouTokenHere'
