<div id="mbh-results-global-wrapper" class="step-three">
     <div class="mbh-results-error">
         <i class="fa fa-exclamation-circle"></i> {{ 'views.api.getPaymentType.reservation_error_try_again'|trans({}, 'MBHOnlineBundle') }}
     </div>
</div>
