{% extends "@MBHOnline/ResultsForm/StepOneBlock/layout.html.twig" %}
{% block resultList %}
    {% for result in results %}
        <div class="row mbh-results-container mbh-results-container-desktop">
            <div class="col-xs-12 col-sm-4 mbh-results-image-wrapper">
                {% include "@MBHOnline/ResultsForm/StepOneBlock/imageContainer.html.twig" %}
            </div>
            <div class="col-xs-12 col-sm-5 mbh-results-description-container">
                {% include "@MBHOnline/ResultsForm/StepOneBlock/roomTypeNameAndHotelTitle.html.twig" %}
                {% include "@MBHOnline/ResultsForm/StepOneBlock/selectGuest.html.twig" %}
                {% include "@MBHOnline/ResultsForm/StepOneBlock/tariffTitleWraper.html.twig" %}
                {% include "@MBHOnline/ResultsForm/StepOneBlock/facilityWrapper.html.twig" %}
                {% include "@MBHOnline/ResultsForm/StepOneBlock/roomTypeDescriptionContainer.html.twig" %}
            </div>
            <div class="col-xs-12 col-sm-3 mbh-results-price-container">
                {% include "@MBHOnline/ResultsForm/StepOneBlock/priceContainerPrice.html.twig" %}
                {% include "@MBHOnline/ResultsForm/StepOneBlock/priceContainerNights.html.twig" %}
                {% include "@MBHOnline/ResultsForm/StepOneBlock/priceContainerRoomCountSelector.html.twig" %}
                <div style="flex-grow: 2;"></div>
                {% include "@MBHOnline/ResultsForm/StepOneBlock/priceContainerRoomAmount.html.twig" %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
