<div id="mbh-results-global-wrapper" class="step-one">
    <div class="mbh-results-error alert alert-warning">
        <i class="fa fa-exclamation-circle"> </i> {{ 'views.api.getResultsTable.nothing_found_for_your_query'|trans({}, 'MBHOnlineBundle') }}
    </div>
</div>
