<div id="mbh-results-global-wrapper">
    <div class="mbh-results-error"><i class="fa fa-exclamation-circle"> </i> {{ 'views.api.getUserForm.reservation_error'|trans({}, 'MBHOnlineBundle') }}
        {{ 'views.api.getUserForm.refresh_page_and_try_again'|trans({}, 'MBHOnlineBundle') }}
    </div>
</div>
