.dish-item-ingredients ul {
  list-style-type: none;
  padding-left: 0px;
}
.dish-item-ingredients ul li {
  overflow: hidden;
  margin-bottom: 5px;
}
.dish-item-ingredients ul li i.fa-times {
  cursor: pointer;
  vertical-align: middle;
}
.dish-item-ingredients ul li input,
.dish-item-ingredients ul li select {
  margin-right: 5px;
}
.dish-item-ingredients ul li > div {
  float: left;
}
.dish-item-ingredients ul li > div small {
  display: block;
}
.dish-item-ingredients .dish-ingredient-amount {
  margin-right: 30px;
}
