<div class="input">
    <i class="fa fa-trash-o" title data-toggle="tooltip" data-original-title="Показывать отключенные типы комнат?" aria-hidden="true"></i>&nbsp;
    <input type="checkbox" data-route-name="{{ route }}" id="mbh-disable"{% if isChecked %} checked{% endif %}>
</div>
