<div class="filter-form_input">
    <i class="fa fa-toggle-on" title data-toggle="tooltip" data-original-title="{{ 'views.partials.disable_button.show_disabled_room_types'|trans }}?" aria-hidden="true"></i>&nbsp;
    <input class="not-remember" type="checkbox" data-route-name="{{ route }}" id="mbh-disable"{% if isChecked %} checked{% endif %}>
</div>