<div class="modal fade" id="entity-delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="entity-delete-button" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" data-default="Подтверждение удаления" id="entity-delete-modal-header">Подтверждение удаления</h4>
      </div>
      <div class="modal-body" data-default="Точно удалить эту запись?" id="entity-delete-modal-text">
        Точно удалить эту запись?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> Отмена</button>
        <button type="button" id="entity-delete-button" data-default="danger" class="btn btn-danger"><i id="entity-delete-button-icon" data-default="fa-trash-o"  class="fa fa-trash-o"></i>&nbsp;<span data-default="Удалить" id="entity-delete-button-text">Удалить</span></button>
      </div>
    </div>
  </div>
</div>