{#todo remove. use embed_filter.html.twig#}
<div class="box box-default box-solid">
    <div class="box-header">
        <h3 class="box-title">{{ header|default('form.filter')|trans|raw }}</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool form-group-collapse" id="{{ id }}" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="{{ class|default('bg-gray disabled color-palette')}} box-body">