{% block content %}

    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 3, 'entity': config, base: service, services: false } %}

    <div class="tab-content">
        <div class="tab-pane active">
            {% block instructions %}

            {% endblock %}

            {% for room in config.rooms %}
                {% set link = url('ical_room_calendar', {id: room.roomType.id, service: service}) %}
                <div class="row" style="background-color: #e7f3e2; padding: 10px; margin: 0;">
                    <div class="col-md-2" style="padding-top: 5px; margin-bottom: 5px;">
                        <strong style="padding-left: 5px">
                            {{ room.roomType.name }}
                        </strong>
                    </div>
                    <div class="col-md-7" style="margin-bottom: 5px;">
                        <input class="readonly" type="text" readonly value="{{ link }}">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary" type="button" onclick='copyToClipboard("{{ link }}")'>
                            <i class='fa fa-link'></i> {{ 'airbnb.room_links.copy_link_button.text'|trans }}
                        </button>
                    </div>
                </div>
            {% endfor %}
            <br>

            <form method="post" id="room-links-form">
                {% include '@MBHChannelManager/ICalService/actions.html.twig' with {route: service ~ '_room_links'} %}
            </form>
            {% if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {% endif %}
        </div>
    </div>
{% endblock %}


