/scripts/upload
/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
*.php~
*.yml~
nbproject/
/web/css/
/web/js/
/web/upload/roomTypes/*
/web/upload/hotelLogos/*
/web/media/cache/*
!/web/upload/roomTypes/.gitkeep
!/web/media/cache/.gitkeep
/web/demo
/web/index.html
.idea/
/parameters.yml
parameters.yml
/protectedUpload/1C/*
/protectedUpload/orderDocuments/*
/protectedUpload/1C/*
/protectedUpload/vegaDocuments/*
!/protectedUpload/orderDocuments/.gitkeep
!web/assets/vendor/azovsky/
web/assets/vendor/
#web/assets