/scripts/upload
/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
*.php~
nbproject/
/web/css/
/web/js/
/web/upload/
/web/demo
.idea/
/parameters.yml
parameters.yml