{% set menu = [
    {'route': 'client_config', 'title': '<i class="fa fa-cog"></i> '~ 'client.tabs.params'|trans({}, 'MBHClientBundle')},
]
%}
{% if is_granted('ROLE_CLIENT_CONFIG_EDIT') %}
    {% set menu = menu|merge([{'route': 'color_settings', 'title': '<i class="fa fa-paint-brush" aria-hidden="true"></i> '~ 'client.views.clientConfig.tabs.color_settings'|trans({}, 'MBHClientBundle')}]) %}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    <li {% if loop.index == active %}class="active"{% endif %}>
        <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
    </li>
{% endfor %}
</ul>
