{% extends "MBHPackageBundle:Report:layout.html.twig" %}

{% set title = 'menu.label.portie'|trans({}, 'MBHBaseBundle') %}
{% set small_title = 'menu.label.portie.arrdep'|trans({}, 'MBHBaseBundle') %}
{% set title_url = path('report_porter') %}
{% set layout = 'box' %}

{% block content %}

<div class="nav-tabs-custom">
    {{ knp_menu_render(menuItem, {'allow_safe_labels': true, 'template' : 'knp_menu.html.twig'}) }}
</div>
    <input type="hidden" name="type" id="input-type" value="{{ type }}">
<div class="tab-content">
    <div class="tab-pane active">
        <div id="porter-report-table-wrapper">

        </div>
    </div>
</div>

{% endblock %}