{% extends 'MBHPackageBundle:Report:layout.html.twig' %}

{% set small_title = 'report.windows.title'|trans() %}
{% set layout = 'box' %}

{% block content %}

    {% include 'MBHBaseBundle:Partials:filter.html.twig' with {'id': 'windows-report-filter-widget'} %}
    <form id="windows-report-filter" class="form-inline filter-form remember" role="form">
        <div class="input">
            <i class="fa fa-calendar" title='Даты' data-toggle='tooltip'></i>&nbsp
            <input type="text" name="begin" id="windows-report-filter-begin" class="datepicker windows-report-filter begin-datepicker mbh-daterangepicker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('begin') is empty ? 'now'|date('d.m.Y') : app.request.get('begin') }}">
        </div>
        <div class="input hidden">
            - &nbsp
            <input type="text" name="end" id="windows-report-filter-end" class="datepicker windows-report-filter end-datepicker mbh-daterangepicker not-set-date form-control input-sm" data-date-format="dd.mm.yyyy" value="{{ app.request.get('end') is empty ? 'now'|date_modify("+45 days")|date('d.m.Y') : app.request.get('end') }}">
        </div>

        <div class="input">
            <i class="fa fa-bed"  title='Тип номера' data-toggle='tooltip'></i>&nbsp  <select name="roomType" multiple data-placeholder="Тип номера" id="windows-report-filter-roomType" class="windows-report-filter form-control input-sm">
                <option></option>
                {% for roomType in roomTypes %}
                    <option value="{{ roomType.id }}" {% if roomType.id in app.request.get('roomTypes') and roomTypes|length != app.request.get('roomTypes')|length %}selected{% endif %}>{{ roomType.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    </div></div>

    <div id="windows-report-content" class="scrolling"></div>

{% endblock %}