<table class="table table-strip">
    <thead>
    <tr>
        <th>ID</th>
        <th>Время</th>
    </tr>
    </thead>
    <tbody>
    {% for workShift in workShifts %}
        <tr>
            <td>{{ workShift.id }}</td>
            <td>{{ workShift.begin|date('H:i') }} - {{ workShift.end|date('H:i') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>