{% extends 'MBHBaseBundle::meta.html.twig' %}

{% set loginPage = true %}

{% block styles %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, uglifycss' '@MBHUserBundle/Resources/public/css/*'%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="login-box">

        {% block messages %}
            {% include 'MBHBaseBundle::messages.html.twig' %}
        {% endblock %}

        <div class="login-logo">
            <a href="{{ path('_welcome') }}"><b>Maxi</b>Booking</a>
        </div>

        <div class="login-box-body">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}