{% extends 'MBHBaseBundle::meta.html.twig' %}

{% block styles %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, uglifycss' '@MBHUserBundle/Resources/public/css/*'%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="container-fluid main-container">
        {% block messages %}
            {% include 'MBHBaseBundle::messages.html.twig' %}
        {% endblock %}
        
        {% block content %}{% endblock %}
    </div>
{% endblock %}