<a href="{{ path('_welcome') }}" class="logo">
    <span class="logo-mini"><i class="mb-icon-logo navbar-logo"></i></span>
    <span class="logo-lg">
        <i class="mb-icon-logo navbar-logo"></i>&nbsp;<b>Maxi</b>Booking
    </span>
</a>