<a href="{{ path('_welcome') }}" class="logo">
    <span class="logo-mini">
        {#<i class="mb-icon-logo navbar-logo"></i>#}
        {#<img src="{{ asset('bundles/mbhbase/images/logo-small39.png') }}" alt="">#}
        <img src="{{ asset('bundles/mbhbase/images/logo-small25.png') }}" alt="">
    </span>
    <span class="logo-lg">
        {#<i class="mb-icon-logo navbar-logo"></i>&nbsp;<b>Maxi</b>Booking#}
        <img src="{{ asset('bundles/mbhbase/images/logo-full.png') }}" alt="">
    </span>
</a>