<div class="modal fade" id="modal-with-form" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-with-form-title">{{ modalTitle }}</h4>
            </div>
            <div class="modal-body" id="modal-with-form-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-with-form-cancel-button"
                        data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;{{ 'modal.chessBoard.close'|trans }}
                </button>
                <button type="button" class="btn btn-primary" id="modal-with-form-save-button">
                    {{ 'modal.chessBoard.save'|trans}}
                </button>
            </div>
        </div>
    </div>
</div>