{% extends 'MBHChannelManagerBundle:Booking:layout.html.twig' %}

{% set small_title = 'views.booking.room.settings'|trans({}, 'MBHChannelManagerBundle') %}

{% block content %}

    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 3, 'entity': config, 'base': 'booking'} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {{ form_start(form, {'action': path('booking_tariff'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:new.html.twig' %}
            {{ form_end(form) }}

            {% if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {% endif %}
        </div>
    </div>
{% endblock %}