<form action="{{ path('generate_invoice', {'id': packageId}) }}" target="_blank">
    <button class="btn btn-info"><i class="fa fa-cc-visa"></i>&nbsp;{{ 'views.payment_systems.invoice.download_button.text'|trans}}</button>
</form>