<form id="online-payment-newRbk" method="post" action="{{ url('online_form_api_newrbk_generate_invoice') }}">
    <input type="hidden" class="form-control input-sm" name="total" value="{{ data.total }}">
    <input type="hidden" name="packageId" value="{{ data.packageId }}">
    {% include 'MBHClientBundle:PaymentSystem:button.html.twig' with {'data': data} %}
</form>

{% if not data.disabledScript %}
    {% include '@MBHClient/PaymentSystem/newRbk/scripts_for_iframe.html.twig' %}
{% endif %}