<form target="_blank" class="payment-system-form" method="post" action="{{ path('stripe_payment_page', {'id' : data.orderId}) }}">
    {% include 'MBHClientBundle:PaymentSystem:button.html.twig' with {'data': data} %}
</form>
