<form target="_blank" class="payment-system-form" method="post"
      action="{{ path('online_form_api_tinkoff_generate_link', {'id': data.cashDocumentId}) }}">
    {% include 'MBHClientBundle:PaymentSystem:button.html.twig' with {'data': data} %}
</form>
