{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set small_title = "mbhpricebundle.view.tariff.editpromotions.redaktirovaniye"|trans ~ "<" ~ entity.name ~ ">"%}
{% set layout = 'tabs' %}

{% block content %}

    {% include 'MBHPriceBundle:Tariff:editTabs.html.twig' with {'active' : 2, 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="general_info">
        {{ form_start(form, {'action': path('tariff_promotions_edit', {'id': entity.id}), 'method': 'POST', 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': entity.isDefault ? null : 'tariff_delete' } %}
        {{ form_end(form) }}
        </div>
        {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'tariff_delete' } %}
    </div>

{% endblock %}
