{% extends 'MBHPriceBundle:Tariff:layout.html.twig' %}

{% set small_title = "список" %}
{% set layout = 'box' %}

{% block content %}

    <table class="tariffs-table table table-striped table-hover table-condensed table-icons table-actions">
        <thead>
        <tr>
            <th class="td-xs"></th>
            <th>Название</th>
            <th class="td-xs text-center">Ребенок</th>
            <th class="td-xs text-center">Инфант</th>
            <th class="td-md text-center">Сроки</th>
            <th class="td-sm text-center">Основной</th>
            <th class="td-sm text-center">Онлайн</th>
            <th class="td-sm"></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.isEnabled is empty %} class="danger"{% endif %}>
                <td class="text-center table-icon"><i class="fa fa-sliders"></i></td>
                <td>
                    {% embed 'MBHBaseBundle:Actions:entry_link.html.twig' with {'entity': entity, 'route': 'tariff'} %}{% endembed %}
                </td>
                <td class="text-center">
                    {{ entity.childAge }}
                </td>
                <td class="text-center">
                    {{ entity.infantAge }}
                </td>
                <td class="text-center">
                    {{ entity.begin|mbh_format }} - {{ entity.end|mbh_format }}
                </td>
                <td class="text-center">
                    {% if entity.isDefault %}
                        <span class="label label-success">Да</span>
                    {% else %}
                        <span class="label label-default">Нет</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if entity.isOnline %}
                        <span class="label label-success">Да</span>
                    {% else %}
                        <span class="label label-default">Нет</span>
                    {% endif %}
                </td>
                <td class="table-actions-td text-right">
                    {% embed 'MBHBaseBundle:Actions:entry_actions.html.twig' with {'entity': entity, 'route': 'tariff', 'copy': true} %}
                    {% endembed %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'tariff_new', 'role': 'TARIFF'} %}

{% endblock %} 

