services:
    security.authentication.success_handler:
        class: MBH\Bundle\UserBundle\Security\AuthenticationSuccessHandler
        arguments:  ["@security.http_utils", {}, "@mbh.mbhs", "@mbh.dashboard"]
        tags:
            - { name: 'monolog.logger', channel: 'security' }

    mbh.api_key_user_provider:
        class: MBH\Bundle\UserBundle\Security\ApiKeyUserProvider
        arguments: ['@doctrine.odm.mongodb.document_manager']

    mbh.api_key_authenticator:
        class: MBH\Bundle\UserBundle\Security\ApiKeyAuthenticator
        arguments: ["%security.role_hierarchy.roles%"]

    mbh.user.group.type:
        class: MBH\Bundle\UserBundle\Form\GroupType
        tags:
          - { name: form.type, alias: mbh_bundle_userbundle_grouptype }
        arguments: ["%security.role_hierarchy.roles%"]

    mbh.user.roles.type:
        class: MBH\Bundle\UserBundle\Form\Type\RolesType
        arguments:
            - "%security.role_hierarchy.roles%"
        tags:
            - { name: form.type, alias: roles }
    mbh.user.metadata_listener:
        class: MBH\Bundle\UserBundle\EventListener\ClassMetadataListener
        tags:
            -  { name: doctrine_mongodb.odm.event_listener, event: loadClassMetadata }
    mbh.user.validator:
        class: MBH\Bundle\UserBundle\Validator\Constraints\UserValidator
        arguments: ['@service_container']
        tags:
            - { name: validator.constraint_validator, alias: mbh.user.validator }

#    mbh.user.work_shift_repository:
#        class: Doctrine\ODM\MongoDB\DocumentRepository
#        factory_service: doctrine_mongodb.odm.default_document_manager
#        factory_method: getRepository
#        arguments:
#            - MBH\Bundle\UserBundle\Document\WorkShift
#
    mbh.user.work_shift_manager:
        class: MBH\Bundle\UserBundle\Service\WorkShiftManager
        arguments: ['@doctrine_mongodb.odm.default_document_manager', '@mbh.hotel.selector']
#
#    mbh.user.work_shift_listener:
#        class: MBH\Bundle\UserBundle\EventListener\WorkShiftListener
#        arguments: ['@security.token_storage', '@session', '@router', '@mbh.user.work_shift_repository', '@translator.default']
#        tags:
#            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    # Two factor auth
    mbh.twofactor.email.helper:
      class: MBH\Bundle\UserBundle\Service\TwoFactor\Email\Helper
      arguments: ["@doctrine.odm.mongodb.document_manager", "@mbh.notifier.mailer"]

    mbh.twofactor.email.interactive_login_listener:
          class: MBH\Bundle\UserBundle\Service\TwoFactor\InteractiveLoginListener
          arguments: ["@mbh.twofactor.email.helper", "email"]
          tags:
            - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin }

    mbh.twofactor.email.request_listener:
              class: MBH\Bundle\UserBundle\Service\TwoFactor\RequestListener
              arguments: ["@mbh.twofactor.email.helper", "@security.token_storage", "@templating", "@router", "email"]
              tags:
                - { name: kernel.event_listener, event: kernel.request, method: onCoreRequest, priority: "-1"}

    mbh.twofactor.google:
          class: Google\Authenticator\GoogleAuthenticator

    mbh.twofactor.google.helper:
          class: MBH\Bundle\UserBundle\Service\TwoFactor\Google\Helper
          arguments: ["maxibooking.ru", "@mbh.twofactor.google", "@doctrine.odm.mongodb.document_manager", "@mbh.notifier.mailer"]

    mbh.twofactor.google.interactive_login_listener:
          class: MBH\Bundle\UserBundle\Service\TwoFactor\InteractiveLoginListener
          arguments: ["@mbh.twofactor.google.helper", "google"]
          tags:
            - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin }

    mbh.twofactor.google.request_listener:
              class: MBH\Bundle\UserBundle\Service\TwoFactor\RequestListener
              arguments: ["@mbh.twofactor.google.helper", "@security.token_storage", "@templating", "@router", "google"]
              tags:
                - { name: kernel.event_listener, event: kernel.request, method: onCoreRequest, priority: "-1"}


    mbh.user.locale.listener:
      class: MBH\Bundle\UserBundle\EventListener\UserLocalListener
      arguments: ['@session']
      tags:
        - { name: kernel.event_listener, event: security.interactive_login, method: onInteractiveLogin }

    mbh.resetting_subscriber:
        class: MBH\Bundle\UserBundle\EventListener\ResettingSubscriber
        arguments:
            - "%mbh.recaptcha%"
            - '@templating'
            - '@translator'
            - '@mbh.invisible_captcha'
        tags:
            - { name: kernel.event_subscriber}
    mbh.user_type:
      class: MBH\Bundle\UserBundle\Form\UserType
      arguments: ['@translator', '%locale%']
      tags:
          - {name: form.type}

    mbh.account_payer_type:
        class: MBH\Bundle\UserBundle\Form\PayerType
        arguments:
            - '@mbh.fms_dictionaries'
            - '@mbh.client_payer_manager'
            - '@mbh.client_manager'
            - '@translator'
        tags:
            - {name: form.type}

    mbh.client_payer_manager:
        class: MBH\Bundle\UserBundle\Service\ClientPayerManager
        arguments:
            - '@mbh.billing_payer_form_handler'
            - '@mbh.client_manager'
            - '@serializer'
            - '@mbh.billing.api'
            - '@mbh.billing_response_handler'

    mbh.profile_type:
        class: MBH\Bundle\UserBundle\Form\ProfileType
        arguments: ['%locale%']
        tags:
            - {name: form.type}

    mbh.token_user_provider:
        class: MBH\Bundle\UserBundle\Security\ApiTokenUserProvider
        arguments:
          - '%billing_front_token%'
    mbh.token_authenticator:
        class: MBH\Bundle\UserBundle\Security\ApiTokenAuthenticator
        arguments:
          - '%client%'

    mbh.api_access_denied_handler:
        class: MBH\Bundle\UserBundle\Security\ApiAccessDeniedHandler

    mbh.invisible_captcha:
      class: MBH\Bundle\UserBundle\Service\ReCaptcha\InvisibleCaptcha
      arguments:
        - '%captcha_secret%'
        - '@translator'

    mbh.billing.interactive_login_listener:
      class: MBH\Bundle\UserBundle\Service\Billing\InteractiveLoginListener
      tags:
        - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin, priority: "-1"}
      arguments: ["%mbh.recaptcha%", '@mbh.client_manager', '@session', '@mbh.billing.api', '@translator', '%support%', '@kernel']

    mbh.recaptcha.interactive_login_listener:
      class: MBH\Bundle\UserBundle\Service\ReCaptcha\InvisibleCaptchaInteractiveLoginListener
      tags:
        - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin, priority: "-1"}
      arguments:
        - '@kernel'
        - '@mbh.invisible_captcha'
