{% extends 'MBHSearchBundle::layout.html.twig' %}
{% block body %}
    <div id="new_search">
        <div class="left"><a href="#" id="async_search">Async Search!</a>
            <a href="#" id="sync_search">Sync Search!</a>
            <div>
            {{ form(form) }}
            </div>
        </div>
        <div class="right">
            <div id="results">Результаты тут!</div>
            <div id="vue_results">
            </div>
        </div>
    </div>

    <div id="app-7">

    </div>

{% endblock %}

