{% extends 'MBHSearchBundle::layout.html.twig' %}
{% block body %}
    <a href="#" id="async_search">Async Search!</a>
    <a href="#" id="sync_search">Sync Search!</a>
    {{ form(form) }}
    <div id="results">Результаты тут!</div>
{% endblock %}

