{% extends "MBHUserBundle::layout.html.twig" %}

{% set title_url = path('user_profile') %}
{% set layout = 'tabs' %}

{% set menu = [] %}
{% if is_granted('ROLE_PROFILE') %}
    {% set menu = menu|merge([{'route': 'user_profile', 'title': '<i class="fa fa-cog"></i> '~ 'views.profile.profile'|trans}])%}
{% else %}
    {% set permissionToPasswordDenied = true %}
{% endif %}

{% if is_granted('ROLE_PAYMENTS') %}
    {% if permissionToPasswordDenied is defined and permissionToPasswordDenied %}
        {% set active = active - 1 %}
    {% endif %}
    {% set menu = menu|merge([
        {'route': 'user_contacts', 'title': '<i class="fa fa-book"></i> '~ 'view.personal_account.contacts.small_title'|trans},
        {'route': 'user_tariff', 'title': '<i class="fa fa-sliders"></i> '~ 'view.personal_account.tariff.small_title'|trans},
        {'route': 'user_payer', 'title': '<i class="' ~ currency().icon ~ '"></i> '~ 'view.personal_account.payer.small_title'|trans},
        {'route': 'user_payment', 'title': '<i class="fa fa-credit-card"></i> '~ 'view.personal_account.orders.small_title'|trans}
    ]) %}
{% endif %}

{% block styles %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, uglifycss'
        '@MBHUserBundle/Resources/public/css/profile/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        {% for item in menu %}
            <li {% if loop.index == active %}class="active"{% endif %}>
                <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"
                   {% else %}href="{{ path(item.route) }}"{% endif %}>{{ item.title|raw }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}