{% extends "MBHUserBundle::layout.html.twig" %}

{% set title = 'views.profile.layout.profile'|trans({}, 'FOSUserBundle')%}
{% set title_url = path('user_profile') %}
{% set layout = 'tabs' %}

{% set menu = [
{'route': 'user_profile', 'title': '<i class="fa fa-cog"></i> '~ 'views.profile.profile.change_password'|trans({}, 'FOSUserBundle')},
{'route': 'user_account', 'title': '<i class="' ~ currency().icon ~ '"></i> '~ 'view.account.small_title'|trans},
]
%}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
    {% for item in menu %}
        <li {% if loop.index == active %}class="active"{% endif %}>
            <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}