<div class="modal fade" id="payments-list-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center">{{ 'view.payment_systems_modal.header_title'|trans }}</h4>
            </div>
            <div class="modal-body" id="payments-list-modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>
                    &nbsp;{{ 'modal.chessBoard.close'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>