{% extends 'MBHUserBundle:Profile:layout.html.twig' %}

{% set title = 'view.personal_account.title'|trans %}
{% set small_title = 'view.personal_account.services.small_title'|trans %}
{% set active = 3 %}

{% block content %}
    {{ parent() }}
    <div class="tab-content">
        {% include 'MBHUserBundle:Profile:services_table.html.twig' with {services: services} %}
    </div>

    {#{% if availableServices|length > 0 %}#}
        {#{% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'add_client_service', 'role': 'HOTEL'} %}#}
    {#{% endif %}#}

{% endblock %}

