
imports:
    - { resource: security.yml }
    - { resource: version.yml }
    - { resource: mbh.yml }
    - { resource: roles.yml }
    - { resource: mbh_restaurant_ctypes.xml }
    - { resource: rabbitmq.yml }

framework:
    assets:
        version: "v%mbh.version%" 
    serializer:
        enabled: true
    #esi:             ~
    translator:      { fallback: ["%locale%", ru, en] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: false
    form:            ~
    csrf_protection:
      enabled: true
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true
    cache:
        app: cache.adapter.redis
        default_redis_provider: "%mbh_redis%"
    ide: "phpstorm://open?file=%%f&line=%%l"



# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    base_template_class: MBH\Bundle\BaseBundle\Twig\Template
    globals:
        recaptcha: "%mbh.recaptcha%"
        meta_title: 'Система бронирования "MaxiBooking".'
        project_title: 'MaxiBooking'
        months:
          1: 'analytics.months.jan'
          2: 'analytics.months.feb'
          3: 'analytics.months.mar'
          4: 'analytics.months.apr'
          5: 'analytics.months.may'
          6: 'analytics.months.jun'
          7: 'analytics.months.jul'
          8: 'analytics.months.aug'
          9: 'analytics.months.sep'
          10: 'analytics.months.okt'
          11: 'analytics.months.nov'
          12: 'analytics.months.dec'
        weekdays:
          1: 'online.online-calendar.mon_abbr_min'
          2: 'online.online-calendar.tue_abbr_min'
          3: 'online.online-calendar.wed_abbr_min'
          4: 'online.online-calendar.thu_abbr_min'
          5: 'online.online-calendar.fri_abbr_min'
          6: 'online.online-calendar.sat_abbr_min'
          7: 'online.online-calendar.sun_abbr_min'
        environment: "%mbh.environment%"
        version: "%mbh.version%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: "%use_assetic_controller%"
    filters:
        cssrewrite: ~
        uglifycss:
            bin: /usr/local/bin/uglifycss
            node: /usr/bin/nodejs
        uglifyjs2:
            bin: /usr/local/bin/uglifyjs
            node: /usr/bin/nodejs
        less:
            node: /usr/bin/nodejs
            node_paths: [/usr/local/lib/node_modules/]
            apply_to: ".less$"
        scssphp:
            formatter: 'Leafo\ScssPhp\Formatter\Compressed'

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }
    encryption: "%mailer_encryption%"
    logging: true

# DoctrineMongoDBBundle Configuration
doctrine_mongodb:
    connections:
        default:
            server: "mongodb://%mongodb_host%:%mongodb_port%/%mongodb_database%"
            driver_options:
                context: "mbh.mongodb.context_service"
            options:
                ssl: "%mongodb_ssl%"
    default_database: "%mongodb_database%"
    document_managers:
        default:
            connection: 'default'
            metadata_cache_driver:
              type: memcached
              class: Doctrine\Common\Cache\MemcachedCache
              host: localhost
              port: 11211
              instance_class: Memcached
            auto_mapping: true
            filters:
                    softdeleteable:
                        class: Gedmo\SoftDeleteable\Filter\ODM\SoftDeleteableFilter
                        enabled: true
                    hotelable:
                        class: MBH\Bundle\BaseBundle\Filter\HotelableFilter
                        enabled: false
                    disableable:
                        class: MBH\Bundle\BaseBundle\Lib\Disableable\Filter\ODM\DisableableFilter
                        enabled: false
            mappings:
                gedmo_loggable:
                    type: annotation
                    prefix: Gedmo\Loggable\Document
                    dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Loggable/Document"
                    alias: GedmoLoggable # this one is optional and will default to the name set for the mapping
                    is_bundle: false
                gedmo_translatable:
                    type: annotation
                    prefix: Gedmo\Translatable\Document
                    dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Document"
                    alias: GedmoTranslatable # this one is optional and will default to the name set for the mapping
                    is_bundle: false
#                gedmo_translator:
#                    type: annotation
#                    prefix: Gedmo\Translator\Document
#                    dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translator/Document"
#                    alias: GedmoTranslator # this one is optional and will default to the name set for the mapping
#                    is_bundle: false
#                gedmo_tree:
#                    type: annotation
#                    prefix: Gedmo\Tree\Document
#                    dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Document"
#                    alias: GedmoTree # this one is optional and will default to the name set for the mapping
#                    is_bundle: false

# StofDoctrineExtensionsBundle Configuration
stof_doctrine_extensions:
    # see /src/MBH/Bundle/BaseBundle/Resources/config/doctrine_extensions.yml
    default_locale: ru_RU
    translation_fallback: true
    mongodb:
        default:
            blameable:      true
            timestampable:  true
            loggable:       true
            softdeleteable: true
            sluggable:      false
            translatable:   true
            uploadable:     false
            tree:           false
            sortable:       false

# FOSUserBundle Configuration
fos_user:
    db_driver: mongodb
    firewall_name: main
    user_class: MBH\Bundle\UserBundle\Document\User
    group:
            group_class: MBH\Bundle\UserBundle\Document\Group
    service:
        mailer: mbh.mailer
    from_email:
            address: "%mailer_user%"
            sender_name: NoReply

# KnpMenuBundle Configuration    
knp_menu:
    twig:  # use "twig: false" to disable the Twig extension and the TwigRenderer
        template: MBHBaseBundle:Menu:menu.html.twig
    templating: false # if true, enables the helper for PHP templates
    default_renderer: twig

# KnpSnappyBundle Configuration
knp_snappy:
    pdf:
        enabled:    true
        binary:     "%wkhtmltopdf_path%"
        options:    []
    image:
        enabled:    true
        binary:     /usr/local/bin/h
        options:    []

# IamPersistentMongoDBAclBundle Configuration
dinhkhanh_mongo_db_acl:
    acl_provider:
        default_database: "%mongodb_database%"

doctrine_cache:
    acl_cache:
        id: 'doctrine_cache.providers.acl_apc_provider'
    providers:
        acl_apc_provider:
            namespace: "%mongodb_database%_"
            type: 'apc'



# GravatarBundle
ornicar_gravatar:
  rating: g
  size: 160
  default: mm

# KNPMenu
parameters:
    knp_menu.renderer.twig.options:
        currentClass: active

# Lexik translation bundle
lexik_translation:
    fallback_locale: [ru]         # (required) default locale(s) to use
    managed_locales: [ru, en]
    storage:
        type: mongodb

vich_uploader:
    db_driver: mongodb
    mappings:
        upload_image:
            uri_prefix:         '/clients/%client%/upload/images'
            upload_destination: '%kernel.root_dir%/../web/clients/%client%/upload/images'

liip_imagine:
    resolvers:
        default:
            web_path:
                cache_prefix: "clients/%client%/media/cache"

    #dont touch data_root. Must be point to root web in our case
    loaders:
        default:
            filesystem:
                data_root: "%kernel.root_dir%/../web"
    loaders:
        protected:
            filesystem:
                data_root: "%kernel.root_dir%/../protectedUpload"

    filter_sets:
        cache: ~
        thumb_50x50:
            quality: 80
            filters:
                thumbnail: { size: [50, 50], mode: outbound, allow_upscale: true }
        thumb_100x100:
            quality: 80
            filters:
                thumbnail: { size: [100, 100], mode: outbound, allow_upscale: true }
        thumb_155x155:
            quality: 80
            filters:
                thumbnail: { size: [155, 155], mode: outbound, allow_upscale: true }
        thumb_130x110:
            quality: 80
            filters:
              thumbnail: { size: [130, 110], mode: outbound, allow_upscale: true }
        thumb_95x80:
            quality: 80
            filters:
              thumbnail: { size: [95, 80], mode: outbound, allow_upscale: true }
        stamp:
            data_loader: protected
            quality: 80
            filters:
              thumbnail: { size: [10, 10], mode: outbound, allow_upscale: true }
        scaler:
            quality: 80
            filters:
              relative_resize: { scale: 0.5, allow_upscale: true }


bazinga_js_translation:
    locale_fallback:      ru
    default_domain:       front_messages
    active_domains:
            - front_messages