parameters:

  #SMTP server
  mailer_transport: smtp
  mailer_host: smtp.example.com
  mailer_user: robot@example.com
  mailer_password: password
  from_email: robot@example.com
  mailer_encryption: ssl

  #MongoBD
  mongodb_url: 'mongodb://mbh-mongo:27017/mbh'
  mongodb_database: mbh

  #Rabbitmq
  rabbitmq_user: 'rabbitmq'
  rabbitmq_password: 'rabbitmq'
  rabbitmq_host: 'mbh-rabbitmq'
  rabbitmq_vhost: '/'
  rabbitmq_port: '5672'

  #Security
  secret: mySyperSecretKeyForSymfony
  mbhs_key: mySyperSecretKeyForMBHS
  mbh_environment: prod

  #System
  locale: ru
  locale.currency: rub
  debug_toolbar: true
  debug_redirects: false
  use_assetic_controller: false
  router.request_context.host: 'example.com'
  router.request_context.scheme: http
  router.request_context.base_url: null
  mbh_timezone: 'default'

  #Packages
  mbh_package_arrival_time: 12
  mbh_package_departure_time: 14
  mbh_package_notpaid_time: '-5 days'
  mbh_online_form_max_packages: 5

  #Mailer
  mailer_user_arrival_links:
    about: 'http://example.com/'
    rooms: 'http://example.com/'
    map: 'http://example.com/'
    contacts: 'http://example.com/'
    poll: 'http://example.com'

  #Cash
  mbh_payment_systems_change: true
  currency_ratio_fix: 1.015

  #Online form
  online_form_sites: ['http://example.com', 'http://example.com']
  online_form_result_url: 'http://example.com/results/'

  #Redis
  mbh_redis: 'redis://mbh-redis' 

  #Cache
  mbh_cache:
    is_enabled: false
    prefix: mbh
    lifetime: 7
    logs: false
    search:
      months: 6
      max_duration: 21
      min_duration: 3

  wkhtmltopdf_path: '/usr/local/bin/wkhtmltopdf'

  mbh_modules:
    tasks: true

  packaging.month_count: 5

  dev_delivery_addresses: ['info@maxi-booking.ru']
  mbh_dynamic_sale_period: 90
  data_fetch_log_level: 200
  ide_project_host_dir: ''
  ide_project_docker_dir: ''
