#rabbitmq
old_sound_rabbit_mq:
    connections:
        default:
            host:     "%rabbitmq_host%"
            port:     "%rabbitmq_port%"
            user:     "%rabbitmq_user%"
            password: "%rabbitmq_password%"
            vhost:    "%rabbitmq_vhost%"
            lazy:     false
            connection_timeout: 3
            read_write_timeout: 3
            keepalive: true
            heartbeat: 0
            use_socket: false
    producers:
      task_room_cache_recalculate:
        connection:       default
        exchange_options: {name: 'task_room_cache_recalculate', type: direct}
      task_notice_unpaid_order:
        connection:       default
        exchange_options: {name: 'task_notice_unpaid_order', type: direct}
      task_prepare_package_moving_report:
        connection:       default
        exchange_options: {name: 'task_prepare_package_moving_report', type: direct}
    consumers:
      task_room_cache_recalculate:
        connection:       default
        exchange_options: {name: 'task_room_cache_recalculate', type: direct}
        queue_options:    {name: 'task_room_cache_recalculate'}
        callback:         task_room_cache_recalculate
#      task_notice_unpaid_order:
#        connection:       default
#        exchange_options: {name: 'task_notice_unpaid_order', type: direct}
#        queue_options:    {name: 'task_notice_unpaid_order'}
#        callback:         task_notice_unpaid_order
#        idle_timeout:     10
      task_prepare_package_moving_report:
        connection:       default
        exchange_options: {name: 'task_prepare_package_moving_report', type: direct}
        queue_options:    {name: 'task_prepare_package_moving_report'}
        callback:         mbh.task_prepare_package_moving_report