parameters:
    sentry_dsn: ''
    yandex_api_key: ''
    vashotel_pass: ''
    booking_pass: ''
    ostrovok_username: ''
    ostrovok_pass: ''
    myallocator_api_username: ''
    myallocator_api_pass: ''
    myallocator_vendor_pass: ''
    expedia_pass: ''
    billing_token: ''
    billing_front_token: ''
    mb_user_pwd: ''
    captcha_secret: ''