security:
    acl:
        provider: mongodb_acl_provider

    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email
        api_key_user_provider:
            id: mbh.api_key_user_provider

    firewalls:
        dev:
            pattern:    ^/(_profiler|_wdt|css|js)
            security:   false
        # https://github.com/FriendsOfSymfony/FOSJsRoutingBundle/issues/140#issue-31895197
        js_router:
            pattern: ^/(js\/routing|profile\/js\/routing)
            security: false
        main:
#           Dev test only
#            http_basic: ~
            pattern: ^/
            form_login:
                always_use_default_target_path: false
                default_target_path: /
                use_referer: true
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                login_path:  /user/login
                check_path:  /user/login_check
                require_previous_session: true
                remember_me: true
            simple_preauth:
                authenticator: mbh.api_key_authenticator
                provider: api_key_user_provider
            logout:       
                path:   /user/logout
                target: /
            anonymous:    true
            remember_me:
                secret:      "%secret%"
                lifetime: 3600
                path:     /
                domain:   ~
            json_login:
                check_path: /user/json_login

    access_control:
        - { path: ^/deploy, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/management/channelmanager/package/notifications, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/management/channelmanager/expedia/push_notification, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/management/online/api, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/management/online/api_payment_form, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/media/cache/resolve, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/user/login$, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/user/json_login$, role: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/_wdt, roles: 'IS_AUTHENTICATED_ANONYMOUSLY' } 
        - { path: ^/_profiler, roles: 'IS_AUTHENTICATED_ANONYMOUSLY' }
        - { path: ^/, role: ROLE_BASE_USER }