<!doctype html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <title>Maxibooking</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"/>
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }
    </style>
    <script defer src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script defer src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" integrity="sha256-4JY5MVcEmAVSuS6q4h9mrwCm6KNx91f3awsSQgwu0qc=" crossorigin="anonymous"></script>
    <script defer src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script defer src="/js/translations/front_messages/ru.js"></script>
    {% javascripts filter='uglifyjs2'
        '@MBHOnlineBundle/Resources/public/js/api/search-form/calendar-iframe.js'
    %}
        <script defer type="text/javascript" src="{{ absolute_url(asset_url) }}"></script>
    {% endjavascripts %}
</head>

<body>
    <div id="mbh-calendar-locale"></div>
    <div id="mbh-calendar-datepicker"></div>
</body>

</html>
