@import "../common-style.mixin";

.importFontRoboto();

#mbh-body-search-iframe {

  @desktop-input-max-width: 180px;
  @desktop-input-min-width: 140px;

  @desktop-input-field-date: @desktop-input-max-width;
  @desktop-input-field-room-type: @desktop-input-max-width;
  @desktop-input-field-guest: @desktop-input-min-width;
  @desktop-input-button-find: @desktop-input-min-width;

  @tablet-input-width: 130px;
  @mobile-input-width: 240px;

  @ident-row: 7px;

  .commonStyleFont();

  margin: 0;

  display: flex;
  justify-content: center;

  background: rgba(40, 40, 40, 0.75);

  @media (min-width: @size-screen-max-width-mobile) {
    height: 120px;
  }

  height: 336px;

  select,
  input {
    font-family: inherit;
  }

  #mbh-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 35px 0 10px;

    form#mbh-form {
      .commonStyleForIconInput(@_side_size: 20px) {
        content: "";
        width: @_side_size;
        height: @_side_size;
        background-repeat: no-repeat;
      }

      display: flex;
      justify-content: center;

      @media (min-width: @size-screen-max-width-mobile) {
        width: @desktop-input-field-date*2 + @tablet-input-width*3 + (@ident-row*2)*4;
      }

      @media (min-width: @size-screen-mid-width-tablet) {
        width: @desktop-input-max-width*3+@desktop-input-min-width*2 + (@ident-row*2)*4;
      }

      width: 240px;

      flex-wrap: wrap;

      .calendarImage() {
        #mbh-form-begin-wrapper::after,
        #mbh-form-end-wrapper::after {
          .commonStyleForIconInput();
          background-image: url('/bundles/mbhonline/images/icon-calendar.svg');
          background-position: right;
          margin-right: 10px;
          margin-top: -1px;
        }
      }

      @media (min-width: @size-screen-mid-width-tablet) {
        .calendarImage();
      }

      @media (max-width: @size-screen-max-width-mobile-minus-one) {
        .calendarImage();
      }

      @media (min-width: @size-screen-max-width-mobile) {
        #mbh-form-begin-wrapper {
          margin-right: @ident-row;
        }

        .mbh-form-additional-form-amount-guest-wrapper,
        .mbh-form-additional-room-types,
        #mbh-form-end-wrapper {
          margin: 0 @ident-row;
        }

        #mbh-form-submit-wrapper {
          padding: unset;
          margin-left: @ident-row;
        }
      }

      @media (max-width: @size-screen-max-width-mobile-minus-one) {
        & > :nth-child(-n+7):not(#mbh-form-submit-wrapper) {
          margin-bottom: 16px;
        }
      }

      .mbh-form-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: #ffffff;

        @media (min-width: @size-screen-max-width-mobile) {
          width: @desktop-input-max-width;
        }

        @media (min-width: @size-screen-max-width-mobile) and (max-width: @size-screen-mid-width-tablet-minus-one) {
          &.mbh-form-date-wrapper {
            width: @tablet-input-width;
            label {
              display: none;
            }

            input {
              margin-right: 9px;
            }

            &::before {
              .commonStyleForIconInput(24px);
              background-position: right;
              margin-left: 10px;
            }

            &#mbh-form-begin-wrapper {
              &::before {
                background-image: url('/bundles/mbhonline/images/arrow-arrive.svg');
              }
            }

            &#mbh-form-end-wrapper {
              &::before {
                background-image: url('/bundles/mbhonline/images/arrow-departure.svg');
              }
            }
          }
        }

        &.mbh-form-additional-form-amount-guest-wrapper,
        &#mbh-form-submit-wrapper {
          @media (min-width: @size-screen-max-width-mobile) {
            width: @tablet-input-width;
          }
          @media (min-width: @size-screen-mid-width-tablet) {
            width: @desktop-input-min-width;
          }
        }

        &.mbh-form-additional-form-amount-guest-wrapper {
          @media (min-width: @size-screen-max-width-mobile) and (max-width: @size-screen-mid-width-tablet-minus-one) {
            width: 104px;
            label {
              display: none;
            }
          }
        }

        width: @mobile-input-width;
        height: 40px;

        & > label {
          border-right: 1px solid #A0A0A0;
          height: 16px;
          width: 63px;
          text-align: center;

          .textUppercase();
        }
      }

      #mbh-form-submit {
        justify-content: center;
        color: #FFFFFF;
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--main);
        .textUppercase();

        .filterBrightnessOnHover();
      }

      .mbh-form-additional-room-types {
        label {
          width: inherit;
          order: 2;
          border-right: none;
          margin-right: 15px;

          background-image: url('/bundles/mbhonline/images/arrow-down.svg');
          background-repeat: no-repeat;
          background-position: right;
        }

        @media (min-width: @size-screen-max-width-mobile) and (max-width: @size-screen-mid-width-tablet-minus-one) {
          width: @tablet-input-width;
        }

        select {
          -moz-appearance:none; /* Firefox */
          -webkit-appearance:none; /* Safari and Chrome */
          appearance: none;

          width: 100%;

          padding: 0 36px 0 12px;
          border: none;
          outline: none;
          background: transparent;
          .textUppercase();
          height: inherit;
          line-height: inherit;
          font-size: inherit;
          cursor: pointer;
        }
      }

      .mbh-form-additional-form-amount-guest-wrapper {
        .iconPerson() {
          .commonStyleForIconInput();
          background-image: url('/bundles/mbhonline/images/icon-person.svg');
        }

        .iconPersonNotTable() {
          &::after {
            margin-right: 10px;
            background-position: right;

            .iconPerson();
          }
        }

        @media (min-width: @size-screen-mid-width-tablet) {
          .iconPersonNotTable();
        }

        @media (max-width: @size-screen-max-width-mobile-minus-one) {
          .iconPersonNotTable();
        }

        @media (min-width: @size-screen-max-width-mobile) and (max-width: @size-screen-mid-width-tablet-minus-one) {
          &::before {
            margin-left: 10px;
            background-position: left;

            .iconPerson();
          }
        }

        .additional-input {
          background: #fff;
          border: none;
          text-align: center;
          padding: 0;
          @media (min-width: @size-screen-max-width-mobile) and (max-width: @size-screen-mid-width-tablet-minus-one) {
            width: 30px;
            margin-right: 30px;
          }

          width: 45px;

          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }

      #mbh-form-adults-children-clear,
      #mbh-actions-wrapper {
        display: none;
        visibility: hidden;
      }

      #mbh-logo-link-wrapper {
        margin: 10px 0 0 0;
        width: 100%;
        text-align: left;

        #mbh-logo-link {
          .svg-mb-logo {
            fill: #fff;
          }

          &:hover {
            .svg-mb-logo {
              fill: var(--mainlight);
            }
          }
        }
      }

      .additional-input,
      .mbh-calendar-input {
        border: none;
        text-align: center;
        padding: 0;
        width: 87px;
      }
    }
  }
}
