<div id="template-document-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'mbhpackagebundle.view.documents.documentformmodal.generatsiya.dokumenta'|trans }} "<em></em>"</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'mbhpackagebundle.view.documents.pdftemplates.close'|trans }}</button>
                <button type="button" class="btn btn-primary">{{ 'mbhpackagebundle.view.documents.pdftemplates.generate'|trans }}</button>
            </div>
        </div>
    </div>
</div>