{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = 'package.guest.edit_reservation'|trans({}, 'MBHPackageBundle') ~ package.numberWithPrefix %}

{% if entity.deletedAt %}{% set small_title = small_title ~ ' - <span class="text-danger">'~'package.guest.deleted'|trans({}, 'MBHPackageBundle')~'</span>' %}{% endif %}
{% set layout = 'box' %}


{% block content %}

        {% if entity.deletedAt is empty %}
            {{ form_start(form, {'action': path('order_document_edit', {'id': entity.id, 'name': document.name, 'packageId': package.id}),  'attr': {'class': 'form-horizontal' }}) }}
            {{ form_widget(form) }}
            {% include 'MBHPackageBundle:Package:actions.html.twig' with {'entity': package, 'role': 'ROLE_ORDER_DOCUMENTS'} %}
            {{ form_end(form) }}
        {% endif %}

{% endblock %}