imports:
    - { resource: doctrine_extensions.yml }

services:
    twig.text_extension:
        class: Twig_Extensions_Extension_Text
        tags:
            - name: twig.extension
    twig.intl_extension:
        class: Twig_Extensions_Extension_Intl
        tags:
            - name: twig.extension

    twig.date_extension:
        class: Twig_Extensions_Extension_Date
        tags:
            - name: twig.extension

    mbh.event_listener.disable_listener:
        class: MBH\Bundle\BaseBundle\Lib\Disableable\DisableableSubscriber
        tags:
            - { name: doctrine_mongodb.odm.event_subscriber, connection: default}


    doctrine_odm.mongodb.validator.unique:
      class: MBH\Bundle\BaseBundle\Validator\Constraints\UniqueEntityValidator
      arguments:
        - '@doctrine_mongodb'
      tags:
        - { name: validator.constraint_validator, alias: doctrine_odm.mongodb.unique }

    mbh.base_on_request_listener:
        class: MBH\Bundle\BaseBundle\EventListener\OnRequest
        arguments: ['@service_container']
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    mbh.base_on_controller_listener:
        class: MBH\Bundle\BaseBundle\EventListener\OnController
        arguments: ['@service_container']
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    mbh.twig.hotel_selector_extension:
        class: MBH\Bundle\BaseBundle\Twig\HotelSelectorExtension
        arguments: ['@service_container']
        tags:
            - { name: twig.extension }

    mbh.twig.extension:
        class: MBH\Bundle\BaseBundle\Twig\Extension
        arguments: ['@service_container']
        tags:
            - { name: twig.extension }
            
    mbh.form.fieldset_extension:
        class: MBH\Bundle\BaseBundle\Form\Extension\FieldsetExtension
        tags:
            - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType, alias: form }
            
    mbh.form.help_extension:
        class: MBH\Bundle\BaseBundle\Form\Extension\HelpMessageTypeExtension
        tags:
            - { name: form.type_extension, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType, alias: form }
            
    mbh.form.bottom_extension:
        class: MBH\Bundle\BaseBundle\Form\Extension\BottomMessageTypeExtension
        tags:
            - { name: form.type_extension, alias: form, extended_type: Symfony\Component\Form\Extension\Core\Type\FormType }
            
    mbh.hotel.selector:
        class: MBH\Bundle\BaseBundle\Service\HotelSelector
        arguments: ['@service_container', '@security.helper']

    mbh.currency:
            class: MBH\Bundle\BaseBundle\Service\Currency
            arguments: ['@service_container']

    mbh.helper:
            class: MBH\Bundle\BaseBundle\Service\Helper
            arguments: ['@service_container']

    mbh.pdf_generator:
        class: MBH\Bundle\BaseBundle\Service\PdfGenerator
        calls:
              - [ setContainer, [ '@service_container' ] ]

    mbh.mongo:
          class: MBH\Bundle\BaseBundle\Service\Mongo
          arguments: ['@service_container']

    doctrine_mongo_db_param_converter:
        class: Sensio\Bundle\FrameworkExtraBundle\Request\ParamConverter\DoctrineParamConverter
        arguments: ['@doctrine_mongodb']
        tags:
          - { name: request.param_converter, converter: doctrine.odm }


    #Notifiers
    mbh.notifier:
      class: MBH\Bundle\BaseBundle\Service\Messenger\Notifier
      calls:
        - [attach, ["@mbh.system.messenger"]]
        - [attach, ["@mbh.mailer"]]
      arguments: ['@service_container']

    mbh.notifier.mailer:
          class: MBH\Bundle\BaseBundle\Service\Messenger\Notifier
          calls:
            - [attach, ["@mbh.mailer"]]
          arguments: ['@service_container']

    mbh.mailer:
      class: MBH\Bundle\BaseBundle\Service\Messenger\Mailer
      arguments: ['@service_container']

    mbh.system.messenger:
      class: MBH\Bundle\BaseBundle\Service\Messenger\Messenger
      arguments: ['@service_container']


    form.type.facilities:
        class: MBH\Bundle\BaseBundle\Form\FacilitiesType
        calls:
            - [ setContainer, [ '@service_container' ] ]
        tags:
            - { name: form.type, alias: mbh_facilities }
    form.type.language:
        class: MBH\Bundle\BaseBundle\Form\LanguageType
        calls:
            - [ setContainer, [ '@service_container' ] ]
        tags:
            - { name: form.type, alias: mbh_language }

    mbh.event_listener.check_relation_subscriber:
            class: MBH\Bundle\BaseBundle\EventListener\OnRemoveSubscriber\Subscriber
            arguments: ['@service_container']
            tags:
                - { name: doctrine_mongodb.odm.event_subscriber, connection: default}


    mbh.event_listener.versioned_subscriber:
            class: MBH\Bundle\BaseBundle\EventListener\VersionedSubscriber
            arguments: ["@service_container"]
            tags:
                - { name: doctrine_mongodb.odm.event_subscriber, connection: default}

    mbh.event_listener.hotelable_listener:
        class: MBH\Bundle\BaseBundle\EventListener\HotelableListener
        arguments: ['@mbh.hotel.selector']
        tags:
            - { name: doctrine_mongodb.odm.event_subscriber, connection: default}
    mbh.get_set_method_normalizer:
        class: Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer
        tags:
            - { name: serializer.normalizer }

    mbh.validator.range:
        class: MBH\Bundle\BaseBundle\Validator\Constraints\RangeValidator
        tags:
            - { name: validator.constraint_validator, alias: mbh_range }

    mbh.event_listener.generate_internationl_listener:
        class: MBH\Bundle\BaseBundle\EventListener\GenerateInternationalListener
        tags:
            - { name: doctrine_mongodb.odm.event_subscriber, connection: default}
 
    mbh.cache:
        class: MBH\Bundle\BaseBundle\Service\Cache
        arguments:
          - '%mbh_cache%'
          - '%mbh_redis%'
          - '@doctrine_mongodb'
          - '@validator'
          - '@mbh.cache.logger'
          - '@mbh.mongo'
          - '@old_sound_rabbit_mq.task_cache_clear_producer'
        tags:
          - { name: kernel.event_listener, event: kernel.terminate }

    mbh.task.logger:
        class:     Symfony\Bridge\Monolog\Logger
        arguments: [app]
        calls:
            - [pushHandler, ['@mbh.task.logger_handler']]

    mbh.task.logger_handler:
        class:     Monolog\Handler\StreamHandler
        arguments: ["%kernel.logs_dir%/%kernel.environment%.task.log", 200]

    mbh.cache.logger:
        class:     Symfony\Bridge\Monolog\Logger
        arguments: [app]
        calls:
            - [pushHandler, ['@mbh.cache.logger_handler']]

    mbh.cache.logger_handler:
        class:     Monolog\Handler\StreamHandler
        arguments: ["%kernel.logs_dir%/%kernel.environment%.cache.log", 200]


    mbh.specials.logger:
        class:     Symfony\Bridge\Monolog\Logger
        arguments: [app]
        calls:
            - [pushHandler, ['@mbh.specials.logger_handler']]

    mbh.specials.logger_handler:
        class:     Monolog\Handler\StreamHandler
        arguments: ["%kernel.logs_dir%/%kernel.environment%.specials.log", 200]

    mbh.report:
        class: MBH\Bundle\BaseBundle\Lib\Report\Report
        arguments:
            - '@templating'

    mbh.menu_builder:
        class: MBH\Bundle\BaseBundle\Menu\Builder
        arguments:
            - "@knp_menu.factory"
            - "@service_container"
        tags:
            - { name: knp_menu.menu_builder, method: mainMenu, alias: base_mainMenu }
            - { name: knp_menu.menu_builder, method: managementMenu, alias: base_managementMenu }
            - { name: knp_menu.menu_builder, method: createHotelMenu, alias: base_createHotelMenu }


    mbh.secure.hotel_voter:
      class: MBH\Bundle\BaseBundle\Security\HotelVoter
      tags:
        - { name: security.voter }

    mbh.secure.package_voter:
      class: MBH\Bundle\BaseBundle\Security\PackageVoter
      tags:
        - { name: security.voter }

    mbh.service.acl_migratory:
      class: MBH\Bundle\BaseBundle\Service\AclMigrate\AclMigratory
      arguments: ['@doctrine.odm.mongodb.document_manager']

