<div class="modal fade" id="accommodation-form-modal" data-arrival-hours="{{ arrivalTime }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Добавить размещение?</h4>
            </div>
            <div class="modal-body">
                <p></p>
                12
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> {{ 'cancel'|trans|capitalize }}</button>
                <button type="button" id="modal-submit" class="btn btn-primary"> {{ 'save'|trans|capitalize }}</button>
            </div>
        </div>
    </div>
</div>