<div id="modal_delete_package" class="modal fade">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'modal.form.delete.reasons.confirmation'|trans({}, 'MBHPackageBundle') }}</h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>