<div id="modal_delete_package" class="modal fade">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delete-modal-entity-id">
                <div id="delete-modal-form-container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="package-delete-modal-button" class="btn btn-danger">
                    {{ 'modal.form.delete.reasons.delete'|trans({}, 'MBHPackageBundle') }}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{ 'modal.form.delete.reasons.close'|trans({}, 'MBHPackageBundle') }}
                </button>
            </div>
        </div>
    </div>
</div>