{% set accommodation = {
    'val': entity.accommodation ? entity.accommodation : 'package.edit_tabs.no'|trans,
    'class': pAccClass(entity),
    'checkIn': entity.accommodation and entity.isCheckIn and entity.isCheckOut is empty ? ' check-in-label' : '',
    'checkOut': entity.accommodation and entity.isCheckOut ? ' check-out-label' : '',
    'append': 'not.stopped'
} %}

{% if accommodation.checkIn is not empty %}
    {% set accommodation = accommodation|merge({'append': 'stopped'|trans ~ ', ' ~ entity.arrivalTime|date('now'|date('Y') == entity.arrivalTime|date('Y') ? 'd.m H:i' : 'd.m.Y H:i')}) %}
{% elseif accommodation.checkOut is not empty %}
    {% set accommodation = accommodation|merge({'append': 'left'|trans ~ ', ' ~ entity.departureTime|date('now'|date('Y') == entity.departureTime|date('Y') ? 'd.m H:i' : 'd.m.Y H:i')}) %}
{% endif %}

{% set confirmed = entity.order.confirmed ? '' : '<i class="fa fa-check"></i>' %}
{% set tourists = entity.tourists|length ? entity.tourists|length : '' %}
{% set services = entity.unDeletedServices|length ? entity.unDeletedServices|length : '' %}
{% set documents = entity.order.documents|length ? entity.order.documents|length : '' %}

{% if entity.order.isPaid and  entity.order.price < entity.order.paid %}
    {% set price = {
    'val': '+ ' ~ (entity.order.paid - entity.order.price)|number_format(2),
    'class': 'label-success'
    } %}
{% elseif entity.order.isPaid and  entity.order.price == entity.order.paid %}
    {% set price = {
    'val': 'ok',
    'class': 'label-success'
    } %}
{% elseif entity.order.isPaid == false and entity.order.paid == 0 %}
    {% set price = {
    'val': '- ' ~ entity.order.price|number_format(2),
    'class': 'label-danger'
    } %}
{% elseif entity.order.isPaid == false and  entity.order.paid < entity.order.price %}
    {% set price = {
    'val': '- ' ~ (entity.order.price - entity.order.paid)|number_format(2),
    'class': 'label-warning'
    } %}
{% endif %}

{% set menu = [
    {
        'route': 'package_order_edit',
        'order': true,
        'title': '<i class="fa fa-file-text-o"></i> '~ 'package.editTabs.order'|trans({}, 'MBHPackageBundle') ~ ' #' ~ entity.order.id ~ ' <small class="label label-primary label-as-badge">' ~ confirmed ~ '</small>',
        'append': entity.order.confirmed ? 'confirmed' : 'not.confirmed'
    },
    {
        'route': 'package_edit',
        'order': false,
        'title': '<i class="fa fa-info-circle"></i> '~ 'package.editTabs.reservation_info'|trans({}, 'MBHPackageBundle'),
        'append': entity.begin|date('now'|date('Y') == entity.begin|date('Y') ? 'd.m' : 'd.m.Y') ~ '-' ~ entity.end|date('now'|date('Y') == entity.end|date('Y') ? 'd.m' : 'd.m.Y') ~ ', ' ~ entity.roomType
    },
    {
        'route': entity.order.organization ? 'package_order_organization_edit' : 'package_order_tourist_edit',
        'order': true,
        'title': '<i class="fa fa-users"></i> ' ~ 'order.tabs.payer'|trans({}, 'MBHPackageBundle'),
        'append': entity.order.payer ? entity.order.payer.shortName|default(entity.order.payer.name) : 'dash'
    },
    {
        'route': 'package_guest',
        'order': false,
        'title': '<i class="fa fa-male"></i> '~'package.editTabs.guests'|trans({}, 'MBHPackageBundle')~' <small class="badge">' ~ tourists ~ '</small>',
        'append': entity.tourists|length ~ '/' ~ (entity.adults + entity.children)
    },
    {
        'route': 'package_service',
        'order': false,
        'title': '<i class="fa fa-plug"></i> '~'package.editTabs.services'|trans({}, 'MBHPackageBundle')~' <small class="badge">' ~ services ~ '</small>',
        'append': services != '' ? entity.unDeletedServices|length ~ ' ' ~ ('services')|transchoice(entity.unDeletedServices|length) ~ ', ' ~ entity.servicesPrice|number_format(2) : 'dash',
    },
    {
        'route': 'package_accommodation',
        'order': false,
        'title': '<i class="fa fa-bed"></i> '~'package.editTabs.placement'|trans({}, 'MBHPackageBundle')~' <small class="label ' ~ accommodation.class ~ accommodation.checkIn ~ accommodation.checkOut ~ ' label-as-badge">' ~ accommodation.val ~ '</small>',
        'append': accommodation.append ,
    },
    {
        'route': 'package_order_cash',
        'order': true,
        'title': '<i class="' ~ currency().icon ~ '"></i> '~'order.tabs.calculations'|trans({}, 'MBHPackageBundle')~' <small class="label ' ~ price.class ~ ' label-as-badge">' ~ price.val ~  '</i></small>',
        'append': entity.order.paid|number_format(2) ~ '/' ~ entity.order.price|number_format(2),
    },
    {
        'route': 'order_documents',
        'order': true,
        'title': '<i class="fa fa-file"></i> '~'package.editTabs.documents'|trans({}, 'MBHPackageBundle')~' <small class="badge">' ~ documents ~ '</small>',
        'append': entity.order.documents|length > 0 ? entity.order.documents|length : 'dash',
    },
] %}

<ul class="nav nav-tabs" role="tablist" id="package-tabs">
    {% for item in menu %}
        {% if item.order %}{% set params = {'id': entity.order.id, 'packageId': entity.id} %}{% else %}{% set params = {'id': entity.id} %}{% endif %}
        <li {% if loop.index == active %}class="active"{% endif %}>
            <a {% if loop.index == active %}href="{{ path(item.route, params) }}" role="tab" data-toggle="tab"
               {% else %}href="{{ path(item.route, params) }}"{% endif %}>
                {{ item.title|raw }}

            {% if item.append is defined and item.append is not empty %}
                <br><small>{{ item.append|trans|truncate(30) }}</small>
            {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
