{% set accommodation = {
    'val': entity.accommodation ? entity.accommodation : 'нет',
    'class': entity.accommodation ? 'label-success' : 'label-default'
} %}
{% set confirmed = entity.order.confirmed ? '' : '<i class="fa fa-check"></i>'  %}
{% set tourists = entity.tourists|length ? entity.tourists|length : ''  %}
{% set services = entity.services|length ? entity.services|length : ''  %}
{% set documents = entity.documents|length ? entity.documents|length : ''  %}

{% if entity.order.isPaid and  entity.order.price < entity.order.paid %}
    {% set price = {
    'val': '+ ' ~ (entity.order.paid - entity.order.price)|number_format(2),
    'class': 'label-success'
    } %}
{% elseif entity.order.isPaid and  entity.order.price == entity.order.paid %}
    {% set price = {
    'val': 'ok',
    'class': 'label-success'
    } %}
{% elseif entity.order.isPaid == false and entity.order.paid == 0 %}
    {% set price = {
    'val': '- ' ~ entity.order.price|number_format(2),
    'class': 'label-danger'
    } %}
{% elseif entity.order.isPaid == false and  entity.order.paid < entity.order.price %}
    {% set price = {
    'val': '- ' ~ (entity.order.price - entity.order.paid)|number_format(2),
    'class': 'label-warning'
    } %}
{% endif %}

{% set menu = [
    {'route': 'package_order_edit', 'order': true, 'title': '<i class="fa fa-file-text-o"></i> '~ 'package.editTabs.order'|trans({}, 'MBHPackageBundle') ~ ' #' ~ entity.order.id ~ ' <small class="label label-primary label-as-badge">' ~ confirmed ~ '</small>'},
    {'route': 'package_edit', 'order': false, 'title': '<i class="fa fa-info-circle"></i> '~ 'package.editTabs.reservation_info'|trans({}, 'MBHPackageBundle')},
    {'route': 'package_order_tourist_edit', 'order': true, 'title': '<i class="fa fa-users"></i> ' ~ 'order.tabs.payer'|trans({}, 'MBHPackageBundle')},
    {'route': 'package_guest', 'order': false, 'title': '<i class="fa fa-male"></i> '~'package.editTabs.guests'|trans({}, 'MBHPackageBundle')~' <small class="badge">' ~ tourists ~ '</small>'},
    {'route': 'package_service', 'order': false, 'title': '<i class="fa fa-plug"></i> '~'package.editTabs.services'|trans({}, 'MBHPackageBundle')~' <small class="badge">' ~ services ~ '</small>'},
    {'route': 'package_accommodation', 'order': false, 'title': '<i class="fa fa-bed"></i> '~'package.editTabs.placement'|trans({}, 'MBHPackageBundle')~' <small class="label ' ~ accommodation.class ~ ' label-as-badge">' ~ accommodation.val ~ '</small>'},
    {'route': 'package_order_cash', 'order': true, 'title': '<i class="fa fa-ruble"></i> '~'order.tabs.calculations'|trans({}, 'MBHPackageBundle')~' <small class="label ' ~ price.class ~ ' label-as-badge">' ~ price.val ~  '</i></small>'},
    {'route': 'package_documents', 'order': false, 'title': '<i class="fa fa-file"></i> '~'package.editTabs.documents'|trans({}, 'MBHPackageBundle')~' <small class="badge">' ~ documents ~ '</small>'}
]
%}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    {% if item.order %}{% set params = {'id': entity.order.id, 'packageId': entity.id} %}{% else %}{% set params = {'id': entity.id} %}{% endif %}
    <li {% if loop.index == active %}class="active"{% endif %}>
        <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route, params) }}"{% endif %}>{{item.title|raw}}</a>
    </li>
{% endfor %}
</ul>
