{% set menu = [
    {'route': 'package_edit', 'title': '<i class="fa fa-info-circle"></i> Основная информация'},
    {'route': 'package_guest', 'title': '<i class="fa fa-users"></i>  Гости'},
    {'route': 'package_cash', 'title': '<i class="fa fa-money"></i>  Рассчеты'},
    {'route': 'package_accommodation', 'title': '<i class="fa fa-home"></i>  Размещение'}
]
%}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    <li {% if loop.index == active %}class="active"{% endif %}>
        <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route, {'id': entity.id}) }}"{% endif %}>{{item.title|raw}}</a>
    </li>
{% endfor %}
</ul>
