{% set menu = [
    {'route': 'package_edit', 'title': '<i class="fa fa-info-circle"></i> Основная информация'},
    {'route': 'package_guest', 'title': '<i class="fa fa-users"></i>  Гости'},
    {'route': 'package_service', 'title': '<i class="fa fa-plug"></i>  Услуги'},
    {'route': 'package_cash', 'title': '<i class="fa fa-money"></i>  Расчеты'},
    {'route': 'package_accommodation', 'title': '<i class="fa fa-home"></i>  Размещение'}
]
%}
{% if entity.isDeleted is not empty %}
    {% set menu = menu|merge([{'route': 'package_copy', 'title': '<i class="fa fa-share"></i>  Перенос данных'}]) %}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    <li {% if loop.index == active %}class="active"{% endif %}>
        <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route, {'id': entity.id}) }}"{% endif %}>{{item.title|raw}}</a>
    </li>
{% endfor %}
</ul>
