{% set menu = [
    {'route': 'package', 'title': '<i class="fa fa-list "></i> '~"package.listTabs.list"|trans({}, "MBHPackageBundle")},
    {'route': 'report_room', 'title': '<i class="fa fa-table"></i> '~"package.listTabs.chess"|trans({}, "MBHPackageBundle")},
    {'route': 'report_accommodation', 'title': '<i class="fa fa-home"></i> '~"package.listTabs.placement"|trans({}, "MBHPackageBundle")},
    {'route': 'tourist', 'title': '<i class="fa fa-users"></i> '~"package.listTabs.clients"|trans({}, "MBHPackageBundle")},
]
%}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    {%  if active is not defined  %}{%  set active = 1  %}{% endif %}
    <li {% if loop.index == active %}class="active"{% endif %}>
        <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
    </li>
{% endfor %}
</ul>
