{% extends 'MBHPackageBundle:Package:layout.html.twig' %}

{% set small_title = "ошибка бронирования" %}    

{% block content %}

    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> При бронировании произошла ошибка. Попробуйте еще раз.</div>

{% endblock %} 

