{% extends 'MBHHotelBundle:RoomTypeCategory:layout.html.twig' %}

{% set layout = "tabs" %}

{% block content %}
    <div class="tab-content">
        <div class="tab-pane active" id="general_info">
            {{ form_start(form, {'action': path('room_type_category_new'), 'method' : 'POST', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:new.html.twig' %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
