{% extends 'MBHPackageBundle:Tourist:layout.html.twig' %}

{% set small_title = "редактирование гостя #" ~ entity.id %}
{% set layout = 'tabs' %}

{% block content %}
    {% include 'MBHPackageBundle:Tourist:tabs.html.twig' with {'active': 1, 'entity': entity} %}

    <div class="tab-content">
    {{ form_start(form, {'action': path('tourist_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'route': 'tourist' } %}
    {{ form_end(form) }}

    {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs } %}
    </div>
{% endblock %}
