{% extends 'MBHPackageBundle:Tourist:layout.html.twig' %}

{% set small_title = "cоздание туриста" %}

{% block content %}

    {% include 'MBHPackageBundle:Tourist:tabs.html.twig' with {'active': 2} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">

            {{ form_start(form, {'action': path('tourist_create'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:new.html.twig' %}
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
