{% set menu = [
    {'route': 'tourist', 'title': '<i class="fa fa-users"></i> Клиенты'},
    {'route': 'report_accommodation', 'title': '<i class="fa fa-home"></i> Размещение'}
]
%}

{% if is_granted("ROLE_ADMIN") %}
    {% set menu = menu|merge([{'route': 'analytics', 'title': '<i class="fa fa-bar-chart-o"></i> Аналитика'}])%}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    <li {% if loop.index == active %}class="active"{% endif %}>
        <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
    </li>
{% endfor %}
</ul>
