<ul class="nav nav-tabs" role="tablist">
   <li class="active">
        <a href="#home" role="tab" data-toggle="tab">Текст здесь
        </a>
    </li>

    <li class="disabled">
        <a href="#" role="tab">Заглушка</a>
    </li>
</ul>