.roomTypeImage {
  float: left;
}
.make-main-image {
  position: relative;
  left: -54px;
  top: 43px;
}
.delete-image {
  position: relative;
  left: -52px;
  top: 43px;
}
.main-image:hover {
  cursor: default;
}
.main-image {
  padding-right: 6px;
  left: -50px;
}

#daily-in-list {
  padding-bottom: 5px;
}

#daily-in-list .form-inline {
  padding-bottom: 5px;
}

#daily-in-list .fa-times {
  padding-left: 5px;
  cursor: pointer;
}