#mbh_bundle_hotelbundle_task_date_date {
    width: 90px;
    margin-right: 8px;
}
#mbh_bundle_hotelbundle_task_date_time {
    width: 60px;
}

#mbh_bundle_hotelbundle_task_date input {
    display: inline-block !important;
}

#task-filter-begin, #task-filter-end {
    width: 80px;
}

#task-filter-status, #task-filter-priority {
    width: 100px;
}

#task-filter-performer {
    width: 150px;
}