{% extends 'MBHOnlineBundle:Form:layout.html.twig' %}

{% set layout = 'tabs' %}

{% set title = 'views.form.layout.online_form'|trans({}, 'MBHOnlineBundle') %}
{% if small_title is not defined %}
    {% set small_title = 'views.form.index.edit'|trans({}, 'MBHOnlineBundle') %}
{% endif %}

{% block scripts %}
    {{ parent() }}
    {% javascripts filter='uglifyjs2'
        '@MBHOnlineBundle/Resources/public/js/form/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block tabsLayout %}
    {% set menu = [
        {'route': 'online_form_edit', 'title': '<i class="fa fa-cog"></i> '~'views.form.index.settings'|trans({}, 'MBHOnlineBundle')},
        {'route': 'online_form_fields_name', 'title': '<i class="fa fa-cog"></i> '~'views.form.index.fields_name'|trans({}, 'MBHOnlineBundle')},
        {'route': 'form_analytics', 'title': '<i class="fa fa-bar-chart"></i> '~'views.form.analytics'|trans({}, 'MBHOnlineBundle')},
        {'route': 'form_code', 'title': '<i class="fa fa-code"></i> '~'views.form.index.site_embed_code'|trans({}, 'MBHOnlineBundle')}
    ] %}

    <ul class="nav nav-tabs" role="tablist">
        {% for item in menu %}
            <li {% if loop.index == active %}class="active"{% endif %}>
                <a {% if loop.index == active %}role="tab" data-toggle="tab"
                   {% else %}href="{{ path(item.route, {'id' : config.id}) }}"{% endif %}>
                    {{ item.title|raw }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}