{% extends 'MBHOnlineBundle:Form:common_for_new_and_edit.html.twig' %}

{% set layout = "tabs" %}
{% set active = 2 %}

{% block content %}
    <div class="tab-content">

        {{ form_start(form, {'action': path('online_form_fields_name', {id: config.id}), 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:new.html.twig' %}
        {{ form_end(form) }}
        {% if config %}
            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs } %}
        {% endif %}
    </div>
{% endblock %}