.default-service ul {
  list-style-type: none;
  padding-left: 0px;
}
.default-service ul li {
  margin-bottom: 5px;
}
.default-service ul li i.fa-times {
  cursor: pointer;
}
.default-service ul li input,
.default-service ul li select {
  margin-right: 5px;
}
