body {
  overflow-y: hidden !important;
  padding-bottom: 0 !important;
}
.accommodation-chessBoard-pagination ul {
  margin: 5px;
}
#accommodation-chessBoard-filter-floor {
  width: 120px !important;
}
#loading-indicator {
  top: 50%;
  left: 50%;
}
.red-package {
  background-color: rgba(232, 34, 34, 0.6) !important;
}
#chessboard-messages {
  position: absolute;
  z-index: 300;
  margin-top: 3px;
  top: -57px;
  margin-left: -11px;
}
#dimmer {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1100;
}
.package {
  z-index: 100;
  cursor: pointer;
}
.package .divide-package-button,
.package .remove-package-button {
  position: absolute;
  top: -3px;
}
.package .divide-package-button {
  left: 7px;
}
.package .remove-package-button {
  right: 7px;
}
.package:after {
  content: ' ';
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid red;
  border-bottom: 20px solid transparent;
}
.with-left-divider:after,
.with-right-divider:before {
  content: ' ';
  height: 12px;
  top: 14px;
  position: absolute;
  -webkit-border-radius: 0 7px 7px 0;
  -moz-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  width: 7px;
}
.with-left-divider:after {
  background-color: white;
  left: 0;
}
.with-right-divider.danger:before {
  background-color: #ff9e80;
}
.with-right-divider.success:before {
  background-color: #8bc34a;
}
.with-right-divider.warning:before {
  background-color: #fdd835;
}
.with-right-divider:before {
  right: -7px;
}
.popover.fade {
  min-width: 250px;
  padding-right: 10px;
  max-width: 700px !important;
  z-index: 500;
}
.popover-content {
  overflow: auto;
  min-width: 200px !important;
  max-width: 500px !important;
  max-height: 200px !important;
}
.popover-package-container {
  white-space: nowrap;
}
.popover-package-container .popover-info-button,
.popover-package-container .popover-edit-button {
  width: 47px;
  margin: 0 5px;
  font-size: 40px;
}
.popover-package-container .popover-info-button {
  border: 0;
  background-color: white;
}
.popover-package-container .popover-edit-button {
  left: 50px;
  cursor: pointer;
}
#package-modal-change-alert {
  font-size: 1.3em;
}
#package-edit-modal .findGuest {
  max-width: 600px !important;
}
#packageModal .modal-body .row {
  padding-bottom: 10px;
  font-size: 1.3em;
}
.danger,
.package {
  background-color: #ff9e80;
}
.danger .package-description,
.package .package-description,
.danger .ui-resizable-e,
.package .ui-resizable-e,
.danger .ui-resizable-w,
.package .ui-resizable-w {
  background-color: #c96f53;
}
.success {
  background-color: #8bc34a;
}
.success .package-description,
.success .ui-resizable-e,
.success .ui-resizable-w {
  background-color: #7d8600;
}
.warning {
  background-color: #fdd835;
}
.warning .package-description,
.warning .ui-resizable-e,
.warning .ui-resizable-w {
  background-color: #c77800;
}
#accommodation-chessBoard-content {
  position: relative;
  color: #3d5471;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#accommodation-chessBoard-content strong.disabled-room-type {
  text-decoration: line-through;
}
#accommodation-chessBoard-content #header-title {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  position: absolute;
  z-index: 250;
}
#accommodation-chessBoard-content #header-title .tableTitleCell {
  height: 40px;
  padding: 10px;
  text-align: center;
}
#accommodation-chessBoard-content #calendarWrapper {
  position: relative;
  display: inline-block;
  margin-left: 200px;
}
#accommodation-chessBoard-content #roomTypeColumn {
  z-index: 150;
  border-left: 1px solid #ddd;
  background-color: white;
  display: inline-block;
  width: 200px;
  top: 81px;
  position: absolute;
}
#accommodation-chessBoard-content .calendarDays li {
  display: block;
}
#accommodation-chessBoard-content .calendarDates {
  cursor: default;
}
#accommodation-chessBoard-content .calendarRow,
#accommodation-chessBoard-content .calendarDates {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
#accommodation-chessBoard-content .tile,
#accommodation-chessBoard-content .calendarDaysHeader li {
  float: left;
  width: 47px;
}
#accommodation-chessBoard-content .tile {
  border-bottom: 1px solid #dce0e0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
}
#accommodation-chessBoard-content .tile .tile {
  border-bottom: 0px;
}
#accommodation-chessBoard-content .tile .date {
  border-right: 1px solid #eee;
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  padding: 12px 2px 0px 8px;
  height: 40px;
  position: relative;
  text-align: right;
}
#accommodation-chessBoard-content .achtung {
  background-color: rgba(193, 232, 42, 0.55);
}
#accommodation-chessBoard-content .tile .leftRooms,
#accommodation-chessBoard-content .tile .no-accommodation-date {
  border-right: 1px solid #eee;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  padding: 12px 5px;
  height: 40px;
  position: relative;
  text-align: center;
}
#accommodation-chessBoard-content .tile .date div {
  margin-left: 0;
  text-align: right;
  width: 28px;
}
#accommodation-chessBoard-content .calendarDates .tile .date div {
  display: none;
}
#accommodation-chessBoard-content .tile.tile-busy.left .date div,
#accommodation-chessBoard-content .tile.tile-busy.both .date div {
  cursor: default;
}
#accommodation-chessBoard-content .tile .date span {
  display: block;
  text-align: right;
  opacity: 0.4;
}
#accommodation-chessBoard-content .tile .month {
  border-top: 1px solid #ddd;
  border-right: 1px solid #e3e3e3;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 5px;
  height: 40px;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#accommodation-chessBoard-content .tile .day {
  border-right: 1px solid #e3e3e3;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  padding: 5px 5px;
  height: 40px;
  position: relative;
  text-align: center;
}
#accommodation-chessBoard-content .tile .day span {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
#accommodation-chessBoard-content .tile .title {
  border-top: 1px solid #ddd;
  border-right: 1px solid #e3e3e3;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 5px;
  height: 40px;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  width: 199px;
}
#accommodation-chessBoard-content .tile .title-sub {
  border-right: 1px solid #e3e3e3;
  font-size: 11px;
  font-weight: bold;
  padding: 5px 5px 0 9px;
  height: 40px;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
}
#accommodation-chessBoard-content .tile .title-sub a:hover {
  cursor: default;
}
#accommodation-chessBoard-content .tile .title-sub a {
  color: #3d5471;
}
#accommodation-chessBoard-content .tile .price {
  color: #868686;
  font-weight: normal;
  margin-top: -20px;
  pointer-events: none;
  position: absolute;
  text-align: right;
  width: 100%;
}
#accommodation-chessBoard-content .tile .price span {
  display: inline-block;
  padding: 0 5% 0 0;
}
#accommodation-chessBoard-content .tile .unavailable-icon {
  bottom: 6%;
  position: absolute;
  right: 6%;
}
#accommodation-chessBoard-content .tile.weekend::after {
  background-color: #f6e9ca;
  content: " ";
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#accommodation-chessBoard-content .tile.today::after {
  background-color: #cae0ef;
  content: " ";
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#accommodation-chessBoard-content .tile.tile-free::before,
#accommodation-chessBoard-content .tile.active-start::before,
#accommodation-chessBoard-content .tile.left::before,
#accommodation-chessBoard-content .today.both::before {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 300px 166px;
  content: "";
  left: 32%;
  margin: -100px;
  position: absolute;
  top: 50%;
}
#accommodation-chessBoard-content .tile.active-end::before,
#accommodation-chessBoard-content .tile.both::before,
#accommodation-chessBoard-content .tile.right::before,
#accommodation-chessBoard-content .tile.right-left::before,
#accommodation-chessBoard-content .tile-busy + .no-tile-status::before {
  border-color: transparent;
  border-style: solid;
  border-width: 298px 164px 300px 0;
  content: "";
  left: 28%;
  margin: -100px;
  position: absolute;
  top: 50%;
}
#accommodation-chessBoard-content .tile.tile-busy-early > .tile.right-left::before,
#accommodation-chessBoard-content .tile.tile-busy-early > .tile.right::before {
  border-width: 289px 161px 300px 0;
}
#accommodation-chessBoard-content .tile.tile-busy-early > .tile.left::before {
  border-width: 0 0 307px 170px;
}
#accommodation-chessBoard-content .tile.tile-busy.both::before {
  border-color: #edefed;
}
#accommodation-chessBoard-content .tile.tile-free.active-start::before {
  border-right-color: #ddd !important;
}
#accommodation-chessBoard-content .tile.tile-free.active-middle {
  background: #ddd !important;
}
#accommodation-chessBoard-content .tile.tile-free.active-end::before {
  border-top-color: #ddd !important;
}
#accommodation-chessBoard-content div.tile.tile-busy.left {
  border-bottom: 0;
}
#accommodation-chessBoard-content .tile.tile-busy.left::before {
  border-bottom-color: #edefed;
  border-left-color: transparent;
}
#accommodation-chessBoard-content .tile.tile-busy.left.active-start::before,
#accommodation-chessBoard-content .tile.tile-busy.left.active-start .tile.left::before {
  border-bottom-color: #c99 !important;
}
#accommodation-chessBoard-content .tile.tile-busy.left.active-middle::before,
#accommodation-chessBoard-content .tile.tile-busy.left.active-middle .tile.left::before {
  border-bottom-color: #c99 !important;
  border-left-color: #c99 !important;
  border-right-color: #c99 !important;
}
#accommodation-chessBoard-content .tile.tile-busy.left.active-end::before {
  border-right-color: #edefed;
}
#accommodation-chessBoard-content .tile.tile-busy.left.active-end {
  background: #ddd !important;
}
#accommodation-chessBoard-content .tile.tile-busy.both.active::before,
#accommodation-chessBoard-content .tile.tile-busy.right-left.active::before {
  border-color: #c99 !important;
}
#accommodation-chessBoard-content .tile.tile-busy.left.active-start .date,
#accommodation-chessBoard-content .tile.tile-busy.active-middle .date,
#accommodation-chessBoard-content .tile.tile-busy.both.active .date,
#accommodation-chessBoard-content .tile.tile-busy.right-left.active .date {
  color: #666 !important;
}
#accommodation-chessBoard-content .tile.tile-busy.both.active::before,
#accommodation-chessBoard-content .tile.tile-busy.right-left.active::before,
#accommodation-chessBoard-content .tile.tile-busy.right-left.active div.tile::before {
  border-color: #c99 !important;
}
#accommodation-chessBoard-content .tile.tile-busy.right::before,
#accommodation-chessBoard-content .tile.tile-busy.right-left::before {
  border-top-color: #edefed;
}
#accommodation-chessBoard-content .tile.tile-busy.right.active-start::before {
  border-right-color: #ddd !important;
}
#accommodation-chessBoard-content .tile.tile-busy.right.active-middle::before,
#accommodation-chessBoard-content .tile.tile-busy.right.active-middle .tile.right::before {
  border-color: #c99 !important;
  border-left-color: #c99 !important;
  border-right-color: #c99 !important;
}
#accommodation-chessBoard-content .tile.tile-busy.right.active-end::before,
#accommodation-chessBoard-content .tile.tile-busy.right.active-end .tile.right::before {
  border-top-color: #c99 !important;
}
#accommodation-chessBoard-content .tile.tile-free.right-left::before {
  border-top-color: #ffffff;
}
#accommodation-chessBoard-content .tile.tile-free.right::before {
  border-right-color: #ffffff;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success.left > .date,
#accommodation-chessBoard-content .tile.tile-busy.tile-success.both > .date {
  color: #fff;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success.both::before {
  border-color: #73a839;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success.left::before {
  border-bottom-color: #73a839;
  border-left-color: transparent;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success.left.active-end::before {
  border-right-color: #73a839;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success.right::before,
#accommodation-chessBoard-content .tile.tile-busy.tile-success.right-left::before {
  border-top-color: #73a839;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success-coming.both::before {
  border-color: rgba(115, 168, 57, 0.75);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success-coming.left::before {
  border-bottom-color: rgba(115, 168, 57, 0.75);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success-coming.both::before {
  border-color: rgba(115, 168, 57, 0.75);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-success-coming.right::before,
#accommodation-chessBoard-content .tile.tile-busy.tile-success-coming.right-left::before {
  border-top-color: rgba(115, 168, 57, 0.75);
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-success.right::before,
#accommodation-chessBoard-content .tile.tile-busy-early.tile-success.right-left::before {
  border-top-color: #43631f;
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-success.left::before {
  border-bottom-color: #43631f;
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-success-coming.tile-success.right::before,
#accommodation-chessBoard-content .tile.tile-busy-early.tile-success-coming.right-left::before {
  border-top-color: rgba(67, 99, 31, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-success-coming.tile-success.left::before {
  border-bottom-color: rgba(67, 99, 31, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy-early .tile.tile-success-coming.tile-success.right::before,
#accommodation-chessBoard-content .tile.tile-busy-early .tile.tile-success-coming.right-left::before {
  border-top-color: rgba(115, 168, 57, 0.75);
}
#accommodation-chessBoard-content .tile.tile-busy-early .tile.tile-success-coming.tile-success.left::before {
  border-bottom-color: rgba(115, 168, 57, 0.75);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning.left > .date,
#accommodation-chessBoard-content .tile.tile-busy.tile-warning.both > .date {
  color: #fff;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning.both::before {
  border-color: #dd5600;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning.left::before {
  border-bottom-color: #dd5600;
  border-left-color: transparent;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning.left.active-end::before {
  border-right-color: #dd5600;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning.right::before,
#accommodation-chessBoard-content .tile.tile-busy.tile-warning.right-left::before {
  border-top-color: #dd5600;
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-warning.right::before,
#accommodation-chessBoard-content .tile.tile-busy-early.tile-warning.right-left::before {
  border-top-color: #7c390e;
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-warning.left::before {
  border-bottom-color: #7c390e;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning-coming.both::before {
  border-color: rgba(221, 86, 0, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning-coming.left::before {
  border-bottom-color: rgba(221, 86, 0, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning-coming.both::before {
  border-color: rgba(221, 86, 0, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-warning-coming.right::before,
#accommodation-chessBoard-content .tile.tile-busy.tile-warning-coming.right-left::before {
  border-top-color: rgba(221, 86, 0, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger.left > .date,
#accommodation-chessBoard-content .tile.tile-busy.tile-danger.both > .date {
  color: #fff;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger.both::before {
  border-color: #c71c22;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger.left::before {
  border-bottom-color: #c71c22;
  border-left-color: transparent;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger.left.active-end::before {
  border-right-color: #c71c22;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger.right::before,
#accommodation-chessBoard-content .tile.tile-busy.tile-danger.right-left::before {
  border-top-color: #c71c22;
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-danger.right::before,
#accommodation-chessBoard-content .tile.tile-busy-early.tile-danger.right-left::before {
  border-top-color: #67090c;
}
#accommodation-chessBoard-content .tile.tile-busy-early.tile-danger.left::before {
  border-bottom-color: #67090c;
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger-coming.both::before {
  border-color: rgba(199, 28, 34, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger-coming.left::before {
  border-bottom-color: rgba(199, 28, 34, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger-coming.both::before {
  border-color: rgba(199, 28, 34, 0.45);
}
#accommodation-chessBoard-content .tile.tile-busy.tile-danger-coming.right::before,
#accommodation-chessBoard-content .tile.tile-busy.tile-danger-coming.right-left::before {
  border-top-color: rgba(199, 28, 34, 0.45);
}
#accommodation-chessBoard-content .tile-title {
  position: absolute;
  top: 13px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 3px;
  font-size: 11px;
  line-height: 11px;
  border-radius: 4px;
  z-index: 20;
  overflow: hidden;
  white-space: nowrap;
}
#accommodation-chessBoard-content .tile-coming {
  background-image: url('/bundles/mbhpackage/images/coming-cm.png');
}
#accommodation-chessBoard-content .tile-coming-out {
  background-image: url('/bundles/mbhpackage/images/outcoming-cm.png');
}
#accommodation-chessBoard-content .tile-coming-out-in {
  background-image: url('/bundles/mbhpackage/images/outcoming-coming-cm.png');
}
#accommodation-chessBoard-content .tile-coming-in-out {
  background-image: url('/bundles/mbhpackage/images/coming-outcoming-cm.png');
}
#accommodation-chessBoard-content .fa-big-icon1 {
  font-size: 8px;
  padding: 1px 0 0 0px;
}
#accommodation-chessBoard-content .tile.tile-free.left::before {
  border-bottom-color: #ffffff;
}
#accommodation-chessBoard-content .popover a,
#accommodation-chessBoard-content .popover a:hover,
#accommodation-chessBoard-content .popover a:visited,
#accommodation-chessBoard-content .popover a:link {
  text-decoration: none;
  color: inherit;
}
#accommodation-chessBoard-content .tile-bookable {
  cursor: pointer;
}
.room-types-table .wait-accommodation td:nth-child(4),
.room-types-table .wait-accommodation :nth-child(5),
.room-types-table .wait-accommodation :nth-child(6),
.room-types-table .wait-accommodation :nth-child(7),
.room-types-table .wait-accommodation :nth-child(8) {
  opacity: 0.35;
}
.room-types-table .wait-accommodation td:last-child .btn-info {
  opacity: 0.35;
}
.room-types-table .select-status {
  width: 50px;
}
.room-types-table .select2 .select2-selection__arrow {
  display: none;
}
.room-types-table .select2 .select2-selection {
  padding: 3px 0;
  background-color: transparent;
  border: none;
}
.room-types-table .select2 .select2-selection__rendered {
  padding-right: 0;
}
.room-types-table .select2 .select2-selection {
  height: 25px;
}
#filling-table td:nth-child(1) small {
  color: #777;
  white-space: nowrap;
}
#filling-chessBoard-filter-roomType {
  width: 300px;
}
#filling-table-filter .datepicker-period-select {
  width: 250px;
}
#work-shift-list-table tr {
  cursor: pointer;
}
.ui-resizable-e,
.ui-resizable-w {
  z-index: 150;
  width: 7px;
  height: 38px;
  position: absolute;
  cursor: pointer;
  top: 0;
}
.ui-resizable-w {
  border-left: 1px solid wheat;
  cursor: w-resize;
}
.ui-resizable-e {
  right: 0;
  border-right: 1px solid wheat;
  cursor: e-resize;
}
.remove-package-button,
.divide-package-button {
  padding: 0 2px;
  border: none;
  background: none;
  z-index: 110;
}
.remove-package-button :active,
.divide-package-button :active {
  border: 0;
}
.remove-package-button {
  color: rgba(177, 0, 0, 0.6);
}
.divide-package-button {
  color: #333;
}
.modal {
  color: #3d5471;
  padding: 4px 0;
}
.modal td:first-child {
  font-weight: bolder;
}
.package-description {
  white-space: nowrap;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 12px auto;
  text-align: center;
  font-size: 11px;
}
#work-shift-detail-header {
  margin-bottom: 5px;
}
#work-shift-detail-header .header {
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}
.dividing-line {
  position: absolute;
  border: 2px dashed red;
  height: 40px;
  z-index: 250;
  top: 0;
}
#ex1Slider {
  display: inline-block;
  width: 60%;
}
#ex1Slider .slider-selection {
  background: #BABABA;
}
