body {
  padding-bottom: 0 !important;
}
.accommodation-chessBoard-pagination ul {
  margin: 5px;
}
#accommodation-chessBoard-content .tile .title .roomType-text {
  font-size: 13px;
  font-weight: bold;
  color: #3C3C3C;
}
#accommodation-chessBoard-filter-floor {
  width: 120px !important;
}
#loading-indicator {
  top: 50%;
  left: 50%;
}
.red-package {
  background-color: rgba(232, 34, 34, 0.6) !important;
}
#chessboard-messages {
  position: absolute;
  z-index: 300;
  margin-top: 3px;
  top: -57px;
  margin-left: -11px;
}
#dimmer {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1100;
}
.package {
  z-index: 100;
  cursor: pointer;
}
.package .package-action-buttons {
  display: none;
  position: absolute;
  right: 3px;
  top: -3px;
}
.package-with-left-arrow:after,
.package-with-right-arrow:before {
  content: ' ';
  position: absolute;
  border-bottom: 18px solid transparent;
  border-top: 20px solid transparent;
  width: 0;
  height: 0;
}
.package-with-right-arrow:before {
  right: -20px;
}
.danger.package-with-right-arrow:before {
  border-left: 20px solid rgba(221, 75, 57, 0.6);
}
.success.package-with-right-arrow:before,
.package.package-with-right-arrow:before {
  border-left: 20px solid rgba(0, 166, 90, 0.6);
}
.warning.package-with-right-arrow:before {
  border-left: 20px solid rgba(243, 156, 18, 0.6);
}
.package-with-left-arrow:after {
  top: 0;
}
.success.package-with-left-arrow:after {
  border-right: 20px solid rgba(0, 166, 90, 0.6);
}
.warning.package-with-left-arrow:after {
  border-right: 20px solid rgba(243, 156, 18, 0.6);
}
.danger.package-with-left-arrow:after {
  border-right: 20px solid rgba(221, 75, 57, 0.6);
}
.with-left-divider:after,
.with-right-divider:before {
  content: ' ';
  height: 12px;
  top: 14px;
  position: absolute;
  -webkit-border-radius: 0 7px 7px 0;
  -moz-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  width: 7px;
}
.with-left-divider:after {
  background-color: white;
  left: 0;
}
.with-right-divider.danger:before {
  background-color: #ff9e80;
}
.with-right-divider.success:before {
  background-color: #8bc34a;
}
.with-right-divider.warning:before {
  background-color: #fdd835;
}
.with-right-divider:before {
  right: -7px;
}
.popover.fade {
  min-width: 250px;
  padding-right: 10px;
  max-width: 700px !important;
  z-index: 500;
}
.popover-content {
  overflow: auto;
  min-width: 200px !important;
  max-width: 500px !important;
  max-height: 200px !important;
}
.popover-package-container {
  white-space: nowrap;
}
.popover-package-container .popover-info-button,
.popover-package-container .popover-edit-button {
  width: 47px;
  margin: 0 5px;
  font-size: 40px;
}
.popover-package-container .popover-info-button {
  border: 0;
  background-color: white;
}
.popover-package-container .popover-edit-button {
  left: 50px;
  cursor: pointer;
}
#package-modal-change-alert {
  font-size: 1.3em;
}
#package-edit-modal .findGuest {
  max-width: 600px !important;
}
#packageModal .modal-body .row {
  padding-bottom: 10px;
  font-size: 1.3em;
}
.danger,
.package {
  background-color: rgba(221, 75, 57, 0.6);
}
.danger .resizable-appendix,
.package .resizable-appendix {
  background-color: rgba(221, 75, 57, 0.6);
}
.danger .ui-resizable-e,
.package .ui-resizable-e {
  border-left: 19px solid rgba(221, 75, 57, 0.6);
}
.danger .ui-resizable-w,
.package .ui-resizable-w {
  border-right: 19px solid rgba(221, 75, 57, 0.9);
}
.success {
  background-color: rgba(0, 166, 90, 0.6);
}
.success .resizable-appendix {
  background-color: rgba(0, 166, 90, 0.6);
}
.success .ui-resizable-e {
  border-left: 19px solid rgba(0, 166, 90, 0.6);
}
.success .ui-resizable-w {
  border-right: 19px solid rgba(0, 166, 90, 0.6);
}
.warning {
  background-color: rgba(243, 156, 18, 0.6);
}
.warning .resizable-appendix {
  background-color: rgba(243, 156, 18, 0.6);
}
.warning .ui-resizable-e {
  border-left: 19px solid rgba(243, 156, 18, 0.6);
}
.warning .ui-resizable-w {
  border-right: 19px solid rgba(243, 156, 18, 0.6);
}
#accommodation-chessBoard-content {
  position: relative;
  color: #3C3C3C;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#accommodation-chessBoard-content strong.disabled-room-type {
  text-decoration: line-through;
}
#accommodation-chessBoard-content #header-title {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  position: absolute;
  z-index: 250;
}
#accommodation-chessBoard-content #header-title .tableTitleCell {
  height: 40px;
  padding: 10px;
  text-align: center;
}
#accommodation-chessBoard-content #calendarWrapper {
  position: relative;
  display: inline-block;
  margin-left: 200px;
}
#accommodation-chessBoard-content #roomTypeColumn {
  z-index: 150;
  border-left: 1px solid #ddd;
  background-color: white;
  display: inline-block;
  width: 200px;
  top: 81px;
  position: absolute;
}
#accommodation-chessBoard-content .calendarDays li {
  display: block;
}
#accommodation-chessBoard-content .calendarDates {
  cursor: default;
}
#accommodation-chessBoard-content .calendarRow,
#accommodation-chessBoard-content .calendarDates {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}
#accommodation-chessBoard-content .tile,
#accommodation-chessBoard-content .calendarDaysHeader li {
  float: left;
  width: 47px;
}
#accommodation-chessBoard-content .tile {
  border-bottom: 1px solid #dce0e0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
}
#accommodation-chessBoard-content .tile .tile {
  border-bottom: 0px;
}
#accommodation-chessBoard-content .tile .date {
  border-right: 1px solid #eee;
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  height: 40px;
  position: relative;
  text-align: right;
}
#accommodation-chessBoard-content .achtung {
  background-color: rgba(193, 232, 42, 0.55);
}
#accommodation-chessBoard-content .tile .leftRooms,
#accommodation-chessBoard-content .tile .no-accommodation-date {
  border-right: 1px solid #eee;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  padding: 12px 5px;
  height: 40px;
  position: relative;
  text-align: center;
}
#accommodation-chessBoard-content .leftRoomsLine .weekend {
  background-color: #E6E6E6 !important;
}
#accommodation-chessBoard-content .tile .date div {
  margin-left: 0;
  text-align: right;
  width: 28px;
}
#accommodation-chessBoard-content .calendarDates .tile .date div {
  display: none;
}
#accommodation-chessBoard-content .tile.tile-busy.left .date div,
#accommodation-chessBoard-content .tile.tile-busy.both .date div {
  cursor: default;
}
#accommodation-chessBoard-content .tile .date span {
  display: block;
  text-align: right;
  opacity: 0.4;
}
#accommodation-chessBoard-content .tile .month {
  border-top: 1px solid #ddd;
  border-right: 1px solid #e3e3e3;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 5px;
  height: 40px;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
#accommodation-chessBoard-content .tile .day {
  border-right: 1px solid #e3e3e3;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  padding: 5px 5px;
  height: 40px;
  position: relative;
  text-align: center;
}
#accommodation-chessBoard-content .tile .day span {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
#accommodation-chessBoard-content .tile .title {
  border-right: 1px solid #e3e3e3;
  font-size: 13px;
  font-weight: bold;
  padding: 0px 5px;
  height: 40px;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  width: 199px;
}
#accommodation-chessBoard-content .tile .title-sub {
  border-right: 1px solid #e3e3e3;
  font-size: 13px;
  font-weight: bold;
  color: #3C3C3C;
  padding: 5px 5px 0 9px;
  height: 40px;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  width: 199px;
}
#accommodation-chessBoard-content .tile .title-sub a:hover {
  cursor: default;
}
#accommodation-chessBoard-content .tile .title-sub a {
  color: #3d5471;
}
#accommodation-chessBoard-content .tile .price {
  color: #868686;
  font-weight: normal;
  margin-top: -20px;
  pointer-events: none;
  position: absolute;
  text-align: right;
  width: 100%;
}
#accommodation-chessBoard-content .tile .price span {
  display: inline-block;
  padding: 0 5% 0 0;
}
#accommodation-chessBoard-content .tile .unavailable-icon {
  bottom: 6%;
  position: absolute;
  right: 6%;
}
#accommodation-chessBoard-content .tile.weekend {
  background-color: #f5f5f5;
}
#accommodation-chessBoard-content .tile-title {
  position: absolute;
  top: 13px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 3px;
  font-size: 11px;
  line-height: 11px;
  border-radius: 4px;
  z-index: 20;
  overflow: hidden;
  white-space: nowrap;
}
#accommodation-chessBoard-content .fa-big-icon1 {
  font-size: 8px;
  padding: 1px 0 0 0px;
}
#accommodation-chessBoard-content .tile.tile-free.left::before {
  border-bottom-color: #ffffff;
}
#accommodation-chessBoard-content .popover a,
#accommodation-chessBoard-content .popover a:hover,
#accommodation-chessBoard-content .popover a:visited,
#accommodation-chessBoard-content .popover a:link {
  text-decoration: none;
  color: inherit;
}
#accommodation-chessBoard-content .tile-bookable {
  cursor: pointer;
}
.room-types-table .wait-accommodation td:nth-child(4),
.room-types-table .wait-accommodation :nth-child(5),
.room-types-table .wait-accommodation :nth-child(6),
.room-types-table .wait-accommodation :nth-child(7),
.room-types-table .wait-accommodation :nth-child(8) {
  opacity: 0.35;
}
.room-types-table .wait-accommodation td:last-child .btn-info {
  opacity: 0.35;
}
.room-types-table .select-status {
  width: 50px;
}
.room-types-table .select2 .select2-selection__arrow {
  display: none;
}
.room-types-table .select2 .select2-selection {
  padding: 3px 0;
  background-color: transparent;
  border: none;
}
.room-types-table .select2 .select2-selection__rendered {
  padding-right: 0;
}
.room-types-table .select2 .select2-selection {
  height: 25px;
}
#filling-table td:nth-child(1) small {
  color: #777;
  white-space: nowrap;
}
#filling-chessBoard-filter-roomType {
  width: 300px;
}
#filling-table-filter .datepicker-period-select {
  width: 250px;
}
#work-shift-list-table tr {
  cursor: pointer;
}
.ui-resizable-e,
.ui-resizable-w {
  position: absolute;
  border-bottom: 19px solid transparent;
  border-top: 19px solid transparent;
  width: 0;
  top: 0;
  height: 0;
}
.ui-resizable-w {
  cursor: w-resize;
  z-index: 100;
}
.resizable-appendix {
  width: 4px;
  height: 38px;
  background-color: red;
  position: absolute;
  left: 2px;
  top: 0;
}
.near-right-element > .ui-resizable-e,
.near-left-element > .ui-resizable-w {
  position: absolute;
  border: 0 !important;
  width: 5px;
  top: 0;
  height: 38px;
}
.near-right-element > .ui-resizable-e {
  right: 0;
}
.danger.near-right-element .ui-resizable-e,
.package.near-right-element .ui-resizable-e {
  background-color: rgba(221, 75, 57, 0.6);
}
.success.near-right-element .ui-resizable-e {
  background-color: rgba(0, 166, 90, 0.6);
}
.warning.near-right-element .ui-resizable-e {
  background-color: rgba(243, 156, 18, 0.6);
}
.ui-resizable-e {
  cursor: e-resize;
}
.package:not(.near-right-element) > .ui.resizable-e {
  right: -20px;
}
.right-inner-resizable-triangle {
  position: absolute;
  z-index: 200;
  border-bottom: 19px solid transparent;
  border-top: 20px solid transparent;
  border-left: 10px solid white;
  width: 0;
  top: 0;
  right: -10px;
  height: 0;
}
.left-inner-resizable-triangle {
  position: absolute;
  z-index: 150;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid white;
  width: 0;
  top: 0;
  left: 0;
  height: 0;
}
.remove-package-button,
.divide-package-button {
  padding: 0 2px;
  border: none;
  background: none;
  z-index: 110;
  font-size: 13px;
}
.remove-package-button :active,
.divide-package-button :active {
  border: 0;
}
.remove-package-button {
  color: rgba(177, 0, 0, 0.6);
}
.divide-package-button {
  color: #333;
}
.modal {
  color: #3d5471;
  padding: 4px 0;
}
.modal td:first-child {
  font-weight: bolder;
}
.package-description {
  white-space: nowrap;
  overflow: hidden;
  color: black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 12px auto;
  text-align: center;
  font-size: 13px;
}
#work-shift-detail-header {
  margin-bottom: 5px;
}
#work-shift-detail-header .header {
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
  font-weight: bold;
}
.dividing-line {
  position: absolute;
  border: 2px dashed red;
  height: 38px;
  z-index: 250;
  top: 0;
}
#ex1Slider {
  display: inline-block;
  width: 60%;
}
#ex1Slider .slider-selection {
  background: #BABABA;
}
#accommodation-report-filter {
  display: flex;
  flex-wrap: wrap;
}
#accommodation-report-filter .hide-field-button,
#accommodation-report-filter .change-days-button {
  display: flex;
  justify-content: center;
}
#accommodation-report-filter .hide-field-button:before,
#accommodation-report-filter .change-days-button:not(.fa-caret-right):before {
  width: 20px;
}
#accommodation-report-filter .fa-caret-right.change-days-button {
  margin-left: 10px;
}
#accommodation-report-filter .input {
  display: flex;
  justify-content: center;
  align-items: center;
}
#accommodation-report-filter .form-block {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 769px) {
  #disable-button-wrapper {
    margin-top: 13px;
  }
}
