@media (max-width: 767px) {
  #package-edit-modal {
    #package-edit-body {
      padding-top: 0;
      .input {
        select + span.select2 {
          width: 93% !important;
        }
      }
    }
    .modal-footer {
      padding-top: 0;
      display: flex;
      justify-content: center;
    }

    table.package-search-table {
      td a.package-search-book {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 8px;
        width: 100%;
      }
    }
  }
}