<p> Спасибо, что Вы выбрали нас!</p>
{% if type == 'reservation' %}
    <p>В скором времени с Вами свяжутся наши менеджеры.</p>
{% elseif  type == 'online' %}
    <p>Бронь под номером {{ order }} создана.</p>
    {% if payButtonHtml is not empty %}
        Перейдя по этой ссылке вы сможете произвести оплату путевки в полном объеме: {{ payButtonHtml|raw }}
        Или обратитесь к менеджеру по телефону: 8-800-775-15-41 и мы поможем Вам произвести оплату.
    {% endif %}
    <p>В случае если хотите сделать первую оплату не 100%, пожалуйста позвоните нам по телефону и назовите номер заказа.</p>
{% endif %}
