<div style="background-color: #FFFFFF; padding: 15px">
    <strong>{{ text }}</strong>
    <div style="margin-top: 15px">
        {% if payButtonHtml %}
            {{ payButtonHtml|raw }}
        {% endif %}
    </div>
</div>