{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, {attr: {id: 'search-fomr', action: requestSearchUrl ~ 'step=2' }}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success" id="btn-search">Забронировать</button>
{{ form_end(form) }}