services:
#    mbh_online_booking.example:
#        class: MBH\Bundle\OnlineBookingBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]
    mbh.online.search_form:
        class: MBH\Bundle\OnlineBookingBundle\Form\SearchFormType
        arguments: ["@service_container"]
        tags:
            - { name: form.type }

    mbh.sign_form:
        class: MBH\Bundle\OnlineBookingBundle\Form\SignType
        arguments: ["@service_container"]
        tags:
            - { name: form.type }

    mbh.reservation_form:
        class: MBH\Bundle\OnlineBookingBundle\Form\ReservationType
        arguments: ["@service_container"]
        tags:
            - { name: form.type }

    mbh.online.chart.data.former:
        class: MBH\Bundle\OnlineBookingBundle\Service\ChartDataFormer
        arguments: ["@mbh.calculation"]


    mbh.online.special.sorter_date:
        class: MBH\Bundle\OnlineBookingBundle\Service\Sorters\SpecialSorterDate

    mbh.online.special.sorter_price:
        class: MBH\Bundle\OnlineBookingBundle\Service\Sorters\SpecialSorterPrice

    mbh.online.special.no_sort:
        class: MBH\Bundle\OnlineBookingBundle\Service\Sorters\SpecialNoSorter

    mbh.online.special_data_preparer:
        class: MBH\Bundle\OnlineBookingBundle\Service\SpecialDataPreparer
        arguments: ['@doctrine.odm.mongodb.document_manager', '%online_booking%', '@mbh.online.special.no_sort']

    mbh.online.special_data_preparer.date_sort:
        class: MBH\Bundle\OnlineBookingBundle\Service\SpecialDataPreparer
        arguments: ['@doctrine.odm.mongodb.document_manager', '%online_booking%', '@mbh.online.special.sorter_date']

    mbh.online.special_data_preparer.price_sort:
            class: MBH\Bundle\OnlineBookingBundle\Service\SpecialDataPreparer
            arguments: ['@doctrine.odm.mongodb.document_manager', '%online_booking%', '@mbh.online.special.sorter_price']

    mbh.online.search_form_data:
        class: MBH\Bundle\OnlineBookingBundle\Lib\OnlineSearchFormData
        arguments: ['@mbh.hotel.room_type_manager']

    mbh.online.abstract_result_generator:
        abstract: true
        class: MBH\Bundle\OnlineBookingBundle\Service\OnlineSearchHelper\AbstractResultGenerator
        arguments: ['@mbh.package.search', '%online_booking%', '@mbh.helper', '%mbh_cache%', '@service_container']

    mbh.online.common_result_generator:
        parent: mbh.online.abstract_result_generator
        class: MBH\Bundle\OnlineBookingBundle\Service\OnlineSearchHelper\OnlineCommonResultGenerator

    mbh.online.special_result_generator:
        parent: mbh.online.abstract_result_generator
        class: MBH\Bundle\OnlineBookingBundle\Service\OnlineSearchHelper\OnlineSpecialResultGenerator

    mbh.online.search_helper:
        class: MBH\Bundle\OnlineBookingBundle\Service\OnlineSearchHelper\OnlineSearchHelper
        arguments: ['%online_booking%', '@mbh.helper']
        calls:
            - [addGenerator, ['@mbh.online.special_result_generator']]
            - [addGenerator, ['@mbh.online.common_result_generator']]

    mbh.online_result_instance:
        class: MBH\Bundle\OnlineBookingBundle\Service\OnlineSearchHelper\OnlineResultInstance
        shared: false
        arguments: ['@doctrine_mongodb.odm.document_manager', '%online_left_rooms%']
