div.form-group {
  div.progress {
    margin: 10px 0px 0px 0px;
  }
}
#login-form-panel {
  max-width: 350px;
  margin: 0 auto;
}
.payment-order-price {
  font-weight: 600;
}
.payment-type-name {
  font-size: 1.3em;
}
.alignment-for-little-screen {
  display: flex;
  align-items: center;
}