#mbh-results-wrapper {
  width: auto;
  height: auto;
  padding: 10px 20px;
  overflow: auto;
}
.spacer-top {
  margin-top: 10px;
}
.spacer-left-sm {
  margin-left: 5px;
}
#mbh-result-response-info {
  display: none;
}
.mbh-right {
  text-align: right;
}
.mbh-left {
  text-align: left;
}
.mbh-center {
  text-align: center;
}
.mbh-results-packages-count {
  width: 50px;
}
.select2-container a {
  text-decoration: none !important;
  color: #949494 !important;
}

/* -------------------------------------------  Inline facility  ------------------------------------ */

ul.inline-facility {
  margin-left: 0;
  padding: 0;
}

ul.inline-facility li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}

/* ------------------------------------------------------  TARIFFS ---------------------------------- */
#mbh-results-tariffs p {
  padding: 0;
  margin: 0;
}
#mbh-results-tariffs a{
  text-decoration: none !important;
}
#mbh-results-tariffs small {
  font-size: 11px;
}
.mbh-results-tariffs-description {
  font-size: 12px;
  color: #999;
  padding: 0 0 0 20px !important;
}
#mbh-results-tariffs p input {
  margin: 0 6px 0 0;
  display: inline-block;
  vertical-align: middle;
}
#mbh-results-tariffs ul {
  padding: 0 15px;
  list-style-type: none;
  margin: 0;
}

#mbh-results-tariffs ul li {
  margin: 3px 0 0 0;
  padding: 0;
  border: 10px;

}
#mbh-results-tariffs-selected {
  color: #f67a00;
}

/* -------------------------- RESULTS -------------------------------- */
.mbh-results-tariff {
  display: none;
}
.mbh-results-hotel {
  font-size: 12px;
  color: #999;
  padding: 0 0 0 4px;
}
.warning .mbh-results-hotel {
  color: #000;
}
#mbh-results-image-wrapper {
  float: left;
  max-width: 180px;
}
#mbh-results-image-wrapper img {
  margin: 0 5px 5px 0;
  max-width: 30px;
}
#mbh-results-image-wrapper img.main {
  margin: 0 5px 5px 0;
  max-width: 155px;
}
#mbh-results-table-th-amount {
  width:80px;
}
#mbh-results-table-th-price {
  width: 120px;
}
#mbh-results-table-th-tourist {
  width: 100px;
}
#mbh-results-table-th-roomType {

}
.mbh-results-prices {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mbh-results-prices li {
  font-size: 16px;
}
.mbh-results-per-person {
  font-size: 11px;
  color: #7e747c;
}
.mbh-results-roomType {
  font-size: 18px;
}
.mbh-results-tourists-select {
  width: 100px;
}
.mbh-results-roomType-description-link {
  font-size: 11px;
}
.mbh-results-roomType-description {
  background-color: #fff;
  border: 0;
}
.mbh-results-roomType-description p {
  padding: 0;
  margin: 0 0 0 3px;
}
.mbh-roomType-image {
  max-width: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin: 0 10px 0 0;
}
#mbh-image-show-wrapper {
  border: 1px solid #b4b4b4;
  position: absolute;
  z-index: 100;
  max-width: 420px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  visibility: hidden;
  overflow: hidden;

}
#mbh-image-show-wrapper img {
  max-width: 400px;
  max-height: 400px;
}
/* -------------------------- SERVICES -------------------------------- */
.mbh-results-services-name small {
  font-size: 11px;
  color: #7e747c;
}
.mbh-results-services-name {
  font-size: 15px;
}
.mbh-results-services-per-service {
  font-size: 11px;
  color: #7e747c;
}
.mbh-results-services-prices {
  font-size: 16px;
}
#mbh-results-table-services-th-price {
  width:120px;
}
#mbh-results-table-services-th-amount {
  width:80px;
}
/* -------------------------- RESULTS ACTIONS -------------------------------- */
#mbh-results-actions {
  margin: 20px 0;
  text-align: right;
}
.mbh-results-total-sum {
  font-size: 16px;
  font-weight: bold;
}
/* -------------------------- USER FORM -------------------------------- */
.mbh-results-services-count {
  width: 60px;
}
#mbh-user-form sup {
  color: maroon;
}
#mbh-user-form-form label {
  font-weight: bold;
}
#mbh-user-form-birthday, #mbh-user-form-arrival, #mbh-user-form-departure {
  width: 100px;
}
/* -------------------------- PAYMENT TYPE FORM -------------------------------- */
.mbh-payment-type-row {
  margin-bottom: 5px;
  padding: 5px;
}
.mbh-payment-type-row p {
  font-size: 11px;
  color: #7e747c;
}
.mbh-payment-type-row label {
  font-size: 16px;
  font-weight: normal;
  margin-left: 6px;
  cursor: pointer;
}
.hidden {
  display: none !important;
}

/* -------------------------- PAY FORM -------------------------------- */
#mbh-results-pay-form-wrapper {
  margin-top: 20px;
  text-align: center;
}
#mbh-results-pay-form-button {
  font-size: 21px;
  margin: 0;
  padding: 6px 10px;
}
