#mbh-results-list-wrapper {

  @import "../../../../../../private/css/result-form/facility-wrapper";
  @import "../../../../../../private/css/result-form/image-container";
  @import "../../../../../../private/css/result-form/select-guest";
  @import "../../../../../../private/css/result-form/room-type-description";

  .mbh-results-container {
    margin: 20px 0;
    background: #FFFFFF;

    .mbh-results-room-type-description-container {
      .mbh-results-room-type-description-wrapper {
        .mbh-results-room-type-description-toggle {
          background: #FFFFFF;
          border: none;
          padding: unset;
          outline: none;
          font-style: italic;
          font-weight: 500;
          .fontSizeLineHeight(14px, 20px);
        }

        .mbh-results-room-type-description {
          .fontSizeLineHeight(14px, 20px);
        }
      }
    }

    .mbh-results-price-container {
      > * {
        text-align: center;
      }
      .price {
        .mbh-results-prices {
          margin: 0;
          padding: 0;
          list-style-type: none;

          .fontRobotoSlab();

          color: #4F4F4F;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .nights {
        text-align: center;
        color: #282828;
      }

      .room-count-selector {
        .room-count-selector-label {
          color: #737373;
          margin-bottom: 10px;
        }

        .mbh-results-packages-count {
          .styleForSelect2();
          width: 80px;
        }
      }
      .room-amount {
        color: #737373;
      }
    }

  }

  .mbh-results-container-desktop {
    padding: 28px 15px 27px;

    .price-wrapper {
      font-size: 28px;
    }

    .currency-symbol {
      font-size: 24px;
    }

    .mbh-results-image-wrapper {
      width: 270px;
    }

    .mbh-results-description-container {
      width: 420px;
      > div {
        margin-bottom: 3px;
      }
    }

    .mbh-results-room-type-name-wrapper {
      .fontSizeLineHeight(20px, 24px);
    }

    .mbh-results-hotel-title-wrapper {
      .mbh-results-hotel {
        .fontSizeLineHeight();
      }
    }

    .mbh-results-tariff-title-wrapper {
      .mbh-results-tariff {
        .fontSizeLineHeight(14px, 24px);
      }
    }

    .mbh-results-price-container {
      min-height: 200px;
      display: flex;
      flex-direction: column;

      .price {
        .mbh-results-prices {
          .fontSizeLineHeight(32px, 44px);
        }
      }
      .nights {
        .fontSizeLineHeight(16px, 28px);
      }
      .room-count-selector {
        margin-top: 10px;
        .room-count-selector-label {
          .fontSizeLineHeight(14px, 20px);
        }
      }
      .room-amount {
        margin-top: 10px;
        .fontSizeLineHeight(14px, 20px);
      }
    }
  }

  .mbh-results-container-mobile {
    padding: 10px 0;

    & > * {
      margin-bottom: 18px;
    }

    .price-wrapper {
      font-size: 24px;
    }

    .currency-symbol {
      font-size: 20px;
    }

    .mbh-results-room-type-name-wrapper {
      .fontSizeLineHeight(16px, 20px);
      margin-bottom: 3px;
    }

    .mbh-results-hotel-title-wrapper {
      .mbh-results-hotel {
        .fontSizeLineHeight(14px, 24px);
      }
    }

    .mbh-results-tariff-title-wrapper {
      .mbh-results-tariff {
        .fontSizeLineHeight(14px, 24px);
      }
    }

    .mbh-results-image-wrapper {
      @media (max-width: 359px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .facility-wrapper + .mbh-results-room-type-description-container {
      margin-top: 18px;
    }

    .mbh-results-price-container {
      .select-guest-and-price-and-nights-container,
      .room-amount-and-room-count-selector-container {
        display: flex;
        & > div {
          width: 50%;
          .fontSizeLineHeight(12px, 16px);
        }
      }

      .select-guest-and-price-and-nights-container {
        margin-bottom: 5px;
      }

      .price-and-nights-container {
        .price {
          margin-bottom: 5px;
        }
      }

    }
  }
}
