.step-info {
  @media (min-width: @size-screen-max-width-mobile) {
    margin: 25px 0 65px 0;
  }
  margin: 25px 15px 65px 15px;

  .step-number-info {
    margin-bottom: 10px;

    &.active {
      .step-number {
        background: @general_color;
      }
    }

    .step-number {
      .fontSizeLineHeight(16px, 16px);
      background: #BDBDBD;
    }
  }

  @media (min-width: @size-screen-mid-width-tablet) {
    .step-number-info + .step-number-info {
      margin-left: 18px;
    }
  }
}
