services:
    mbh.kernel_root_dir:
        class: 'mock_class'
        factory: ["@kernel", getRootDir]

    mbh.service.client_list_getter:
        class: MBH\Bundle\BillingBundle\Service\ClientListGetter
        arguments: ["@mbh.kernel_root_dir"]

    mbh.maintenance.manager:
        class: MBH\Bundle\BillingBundle\Lib\Maintenance\MaintenanceManager
        calls:
            - [addMaintenance, ['@mbh.parameters.maintenance']]
            - [addMaintenance, ['@mbh.nginx.maintenance']]
            - [addMaintenance, ['@mbh.mongo.maintenance']]

    mbh.maintenance.abstract:
        public: false
        abstract: true
        arguments: ["@service_container"]
        class: MBH\Bundle\BillingBundle\Lib\Maintenance\AbstractMaintenance

    mbh.parameters.maintenance:
        class: MBH\Bundle\BillingBundle\Lib\Maintenance\ParametersMaintenance
        parent: mbh.maintenance.abstract

    mbh.nginx.maintenance:
        public: false
        class: MBH\Bundle\BillingBundle\Lib\Maintenance\NginxMaintenance
        parent: mbh.maintenance.abstract

    mbh.mongo.maintenance:
        public: false
        arguments: ["@service_container", {sampleDbName: "%mongodb_database%"}]

        class: MBH\Bundle\BillingBundle\Lib\Maintenance\MongoMaintenance

    mbh.billing.client.converter:
        public: false
        class: MBH\Bundle\BillingBundle\Request\ParamConverter\JsonToClientConverter
        tags:
            - { name: request.param_converter, converter: json_client_converter}

    mbh.billing.api:
        class: MBH\Bundle\BillingBundle\Service\BillingApi
        arguments: ['@mbh.billing.logger']

    mbh.billing.logger:
        class:     Symfony\Bridge\Monolog\Logger
        arguments: ['installer']
        calls:
            - [pushHandler, ['@mbh.billing.logger_handler']]

    mbh.billing.logger_handler:
        class:     Monolog\Handler\StreamHandler
        arguments: ["%kernel.logs_dir%/%kernel.environment%.installer.log", 200]

    mbh.console.client_install:
        class: MBH\Bundle\BillingBundle\Command\ClientInstallCommand
        arguments: ["@mbh.billing.logger"]
        tags: ['console.command']

    mbh.console.billing_install:
        class: MBH\Bundle\BillingBundle\Command\BillingInstallCommand
        arguments: ["@mbh.billing.api", "@doctrine_mongodb.odm.default_document_manager", "@mbh.billing.logger"]
        tags: ['console.command']