services:
    mbh.channelmanager:
        class: MBH\Bundle\ChannelManagerBundle\Services\ChannelManager
        arguments: ['@service_container']

    mbh.channelmanager.vashotel:
        class: MBH\Bundle\ChannelManagerBundle\Services\Vashotel
        arguments: ['@service_container']

    mbh.channelmanager.oktogo:
        class: MBH\Bundle\ChannelManagerBundle\Services\Oktogo
        arguments: ['@service_container']

    mbh.channelmanager.booking:
        class: MBH\Bundle\ChannelManagerBundle\Services\Booking
        arguments: ['@service_container']

    mbh.channelmanager.myallocator:
        class: MBH\Bundle\ChannelManagerBundle\Services\MyAllocator
        arguments: ['@service_container']

    mbh.channelmanager.ostrovok:
        class: MBH\Bundle\ChannelManagerBundle\Services\Ostrovok
        arguments: ['@service_container']

    mbh.channelmanager.hundred_one_hotels:
        class: MBH\Bundle\ChannelManagerBundle\Services\HundredOneHotels
        arguments: ['@service_container']

    mbh.channelmanager.hoh_order_info:
        class: MBH\Bundle\ChannelManagerBundle\Model\HundredOneHotels\OrderInfo
        arguments: ['@service_container']
        shared: false

    mbh.channelmanager.hoh_package_info:
        class: MBH\Bundle\ChannelManagerBundle\Model\HundredOneHotels\PackageInfo
        arguments: ['@service_container']
        shared: false

    mbh.channelmanager.hoh_request_formatter:
        class: MBH\Bundle\ChannelManagerBundle\Model\HundredOneHotels\HOHRequestFormatter

    mbh.channelmanager.expedia:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\Expedia
        arguments: ['@service_container']

    mbh.channelmanager.expedia_request_formatter:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaRequestFormatter
        arguments: ['%mbh.channelmanager.services%']

    mbh.channelmanager.expedia_request_data_formatter:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaRequestDataFormatter
        arguments: ['@service_container']

    mbh.channelmanager.helper:
        class: MBH\Bundle\ChannelManagerBundle\Services\ChannelManagerHelper

    mbh.channelmanager.order_handler:
        class: MBH\Bundle\ChannelManagerBundle\Services\OrderHandler
        arguments: ['@doctrine_mongodb.odm.document_manager']

    mbh.channelmanager.expedia_response_handler:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaResponseHandler
        arguments: ['@service_container']
        shared: false

    mbh.channelmanager.expedia_order_info:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaOrderInfo
        arguments: ['@service_container']
        shared: false

    mbh.channelmanager.expedia_package_info:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaPackageInfo
        arguments: ['@service_container']
        shared: false

    mbh.channel_manager.expedia_notification_order_info:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaNotificationOrderInfo
        arguments: ['@service_container']

    mbh.channel_manager.expedia_notification_package_info:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaNotificationPackageInfo
        arguments: ['@service_container']

    mbh.channel_manager.expedia_notification_response_compiler:
        class: MBH\Bundle\ChannelManagerBundle\Services\Expedia\ExpediaNotificationResponseCompiler

    mbh.channelmanager.booking_type:
      class: MBH\Bundle\ChannelManagerBundle\Form\BookingType
      arguments: ['@mbh.currency', '@translator']
      tags:
              - { name: form.type }

    mbh.channelmanager.myallocator_type:
      class: MBH\Bundle\ChannelManagerBundle\Form\MyallocatorType
      arguments: ['@mbh.channelmanager.myallocator', '@mbh.currency']
      tags:
              - { name: form.type }

    mbh.channelmanager.logger:
        class:     Symfony\Bridge\Monolog\Logger
        arguments: [app]
        calls:
            - [pushHandler, ['@mbh.channelmanager.logger_handler']]

    mbh.channelmanager.logger_handler:
        class:     Monolog\Handler\StreamHandler
        arguments: ['%kernel.logs_dir%/%kernel.environment%.channelmanager.log', 200]

    mbh.channelmanager.configs.subscriber:
            class: MBH\Bundle\ChannelManagerBundle\EventListener\ConfigsSubscriber
            arguments: ['@service_container']
            tags:
                - { name: doctrine_mongodb.odm.event_subscriber, connection: default}

    ostrovok_api_service:
        class: MBH\Bundle\ChannelManagerBundle\Lib\Ostrovok\OstrovokApiService
        arguments: ['%mbh.channelmanager.services%']

    mbh_bundle_channel_manager.lib_ostrovok.ostrovok_data_generator:
        class: MBH\Bundle\ChannelManagerBundle\Lib\Ostrovok\OstrovokDataGenerator

    mbh.channelmanager.ostrovok.api_service:
        class: MBH\Bundle\ChannelManagerBundle\Lib\Ostrovok\OstrovokApiService
        arguments: ['%mbh.channelmanager.services%']

    mbh.channelmanager.ostrovok.data_generator:
        class: MBH\Bundle\ChannelManagerBundle\Lib\Ostrovok\OstrovokDataGenerator

    mbh.twig.channelmanager.extension:
        class: MBH\Bundle\ChannelManagerBundle\Twig\Extension
        arguments: ['@service_container', '@doctrine_mongodb', '%mbh.channelmanager.services%', '@mbh.cm_wizard_manager']
        tags:
            - { name: twig.extension }

    mbh.booking_rooms_type:
        class: MBH\Bundle\ChannelManagerBundle\Form\BookingRoomsType
        arguments: ['@mbh.helper']
        tags:
            - { name: form.type}

    mbh.cm_wizard_manager:
        class: MBH\Bundle\ChannelManagerBundle\Services\CMWizardManager
        arguments:
            - '@mbh.channelmanager'
            - '@mbh.document_fields_manager'
            - '@security.token_storage'
            - '@mbh.billing.api'
            - '@translator'
            - '@mbh.warnings_compiler'
            - '@mbh.helper'

    mbh.channel_manager_config_type:
        class: MBH\Bundle\ChannelManagerBundle\Form\ChannelManagerConfigType
        arguments: ['@translator']
        tags:
            - {name: form.type}

    mbh.hundred_one_hotels_type:
        class: MBH\Bundle\ChannelManagerBundle\Form\HundredOneHotelType
        arguments: ['@translator']
        tags:
            - {name: form.type}

    mbh.vash_otel_type:
        class: MBH\Bundle\ChannelManagerBundle\Form\VashotelType
        arguments: ['@translator']
        tags:
            - {name: form.type}

    mbh.intro_type:
        class: MBH\Bundle\ChannelManagerBundle\Form\IntroType
        arguments: ['@translator']
        tags: [{name: form.type}]