<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <style>
        .indent {
            text-indent: 1.5em;
        }

        .document {
            width: 900px;
        }

        .header {
            text-align: center;
        }

        .area {
            border-bottom: solid #000000 1px;
        }

        .date {
            /*float: right;*/
        }

        .upper {
            text-transform: uppercase;
        }
    </style>
</head>
<body>


<div class="document">
    <div class="header">
        <span class="upper">Свидетельство</span> № <strong>#kart#</strong> <br>
        о регистрации по месту пребывания
    </div>
    <div>
        <div class="indent">
            Выдано <strong>#fio#</strong>
        </div>
        <div style="float:right;">
            (Ф.И.О., год и место рождения)
        </div>
        <div><strong>#mesrog#</strong></div>
    </div>
    <div>
        <div class="area">&nbsp</div>
        о том, что он заергистрирован по месту пребывания по адресу: <strong>#gelen#</strong>
        <br>
        (руспублика, край, область, округ, район, город, пгт, село,
        <strong class="area">__#ulic#__#dom#__kor#_#g_#kv</strong>
        деревня, аул,улица, дом, корпус, квартира)<br> на срок с <strong>#d1#</strong> г. по <strong>#d2#</strong> г.
        <div class="indent">
            Свидетельтсво выдвно к документу, удостоверяющему личность<br>
            вид <strong>#tip_doc#</strong>, серия <strong>#ser#</strong>,N <strong>#non#</strong><br>
            дата выдачи <strong>#kogda#</strong> г.<br>
            <strong>#kem#</strong>
        </div>

        <p style="text-align: center">(наименование органа, учереждения, выдавшего документ)</p>
        <div>
            <div>Начальник (руководитель) органа регистрационного учета</div>
            <div class="area" style="margin-left: 410px;"></div>
            &nbsp
            <div class="area"></div>
            <div style="text-align: center;">(наименование ограна регистрационного учета)</div>
        </div>


        <table style="width: 900px;">
            <tbody>
            <tr>
                <td>
                </td>
                <td style="float: right">
                    <div>
                        &nbsp
                        <div class="area" style="width: 200px"></div>
                        <div style="text-align: center;">(подпись)</div>
                    </div>
                </td>
                <td style="float: right;">
                    <div>
                        &nbsp
                        <div class="area" style="width: 200px;"></div>
                        <div style="text-align: center;">(фамилия)</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>М.П</td>
                <td style="float: right;">
                </td>
                <td style="float: right;">
                    "
                    <div class="area" style="width: 25px; display: inline-block"></div>
                    "
                    <div class="area" style="width: 120px; display: inline-block"></div>
                    <div class="area" style="width: 40px; display: inline-block"></div>
                    г.
                </td>
            </tr>
            </tbody>
        </table>

        <!--
        <div>
            <div style="float:right">
                <div style="display: inline-block">
                    &nbsp<div class="area" style="width: 200px"></div>
                    Подпись
                </div>
                <div style="display: inline-block">
                    &nbsp<div class="area" style="width: 200px;"></div>
                    фамилия
                </div>
            </div>

            <div>
                М.П <div class="area" style="width: 40px; display: inline-block"></div>г.
            </div>
        </div>
        -->

    </div>
</body>
</html>
