<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <style>
        .indent {
            text-indent: 1.5em;
        }

        .area {
            border-bottom: 1px solid #000000;
        }

        .center {
            text-align: center;
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }

        .ib {
            display: inline-block;
        }

        .document {
            width: 900px;
        }
    </style>
</head>
<body>
<div class="document">

    <div style="float: right;">
        Утверждена<br>
        Приказом Министерства финансов<br>
        Российской Федерации<br>
        от 13 декабря 1993 г.N 121<br>
        <br>
        Форма N 1-Г
    </div>

    <table border="1" style="width: 900px;text-align: center;" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                АНКЕТА № 3
            </td>
            <td>
                Путевка №
            </td>
            <td>
                Авто
            </td>
            <td>
                № счета 302942309
            </td>
        </tr>
        </tbody>
    </table>

    <div style="margin-top: 30px">
        <div class="left">
            <div>
                1. Фамилия
                <div style="width: 250px" class="area ib">&nbsp</div>
            </div>
            <div>
                2. Имя
                <div style="width: 280px" class="area ib">&nbsp</div>
            </div>
            <div>
                3. Отчество
                <div style="width: 250px" class="area ib">&nbsp</div>
            </div>
            <div>
                4. Дата рождения
                <div style="width: 100px" class="area ib">&nbsp</div>г.
            </div>
            <div>
                5. Место рождения
                <div style="width: 330px" class="area ib">&nbsp</div>
            </div>
            <div>
                <div class="ib left">
                    6. серии
                    <div style="width: 100px" class="area ib">&nbsp</div>
                    №
                    <div style="width: 100px" class="area ib">&nbsp</div>
                    выдан
                </div>
                <div class="ib">
                    <div style="width: 100px" class="area ib">&nbsp</div>
                    <div style="text-align: center"><small>(когда)</small></div>
                </div>
            </div>

            <div class="ib">
                <div style="width: 450px" class="area ib left">&nbsp</div>
                <div class="center"><small>(наименования органа внутренних дел, выдавшего документ)</small></div>
                <div style="clear:both;"></div>
            </div>
            <div>
                7. Адрес постоянного места жительства
                <div style="width: 400px" class="area">&nbsp</div>
            </div>
            <div>
                Ул. д.<br>
                Гражданство телефон
            </div>
            8. Цель приезда
            <div style="width: 350px" class="area ib">&nbsp</div>
            <div>
                9. Срок проживания до 26.06.2015 16:00
            </div>
            <div>
                10. Продление проживания
                <div style="width: 270px" class="area ib">&nbsp</div>
            </div>
            <div>
                11. С памяткой о правилах пожарной безопасности ознакомлен
            </div>
        </div>
        <div>
            Комната № 1k202<br>
            Индекс поселения
            <div style="width: 300px" class="area ib">&nbsp</div>
            <br>
            Прибыл 15.06.2015 07:00<br>
            (дата, часы)<br>
            Выбыл
            <div style="width: 150px" class="area ib">&nbsp</div>
            (дата, часы)<br>
        </div>

        <div style="clear: both"></div>
    </div>
    <div>
        <div style="float: right">
            Подпись
            <div style="width: 150px" class="area ib">&nbsp</div>
            (лица, прибывшего в гостиницу)
        </div>
        <div style="clear: both"></div>
    </div>

    <div>
        <div style="float: right">
            Обратная сторона Ф. N 1-Г
        </div>
        <div style="clear: both"></div>
    </div>

    <div style="margin-top: 30px">
        Поселен(а) "__"
        <div style="width: 550px" class="area ib">&nbsp</div>
        20___ г.<br>
        город (селение)
        <div style="width: 550px" class="area ib">&nbsp</div><br>
        гостиница Левин<br>
        На дополнительное место в номере согласен(а)
        <div style="width: 150px" class="area ib">&nbsp</div>
        (подпись лица, прибывшего в гостиницу)<br>
        Согласен(а) на проживание в номере с оплатой всех мест
        <div style="width: 150px" class="area ib">&nbsp</div>
        (подпись лица, прибывшего в гостиницу)<br>
        Подпись ответственного лица
        <div style="width: 150px" class="area ib">&nbsp</div>
        /Главный/_
    </div>

</div>
</body>
</html>
