<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <style>
        .indent {
            text-indent: 1.5em;
        }

        .area {
            border-bottom: 1px solid #000000;
        }

        .center {
            text-align: center;
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }

        .ib {
            display: inline-block;
        }

        .document {
            width: 900px;
        }
    </style>
</head>
<body>
<div class="document">

    <div style="float: right;">
        Утверждена<br>
        Приказом Министерства финансов<br>
        Российской Федерации<br>
        от 13 декабря 1993 г.N 121<br>
        <br>
        Форма N 1-Г
    </div>

    <table border="1" style="width: 900px;text-align: center;" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                АНКЕТА № 3
            </td>
            <td>
                Путевка №
            </td>
            <td>
                Авто
            </td>
            <td>
                № счета 302942309
            </td>
        </tr>
        </tbody>
    </table>

    <div style="margin-top: 30px; width: 730px">
        <div class="left">
            <div>
                1. Фамилия
                <div style="width: 250px" class="area ib">&nbsp</div>
            </div>
            <div>
                2. Имя
                <div style="width: 280px" class="area ib">&nbsp</div>
            </div>
            <div>
                3. Отчество
                <div style="width: 250px" class="area ib">&nbsp</div>
            </div>
            <div>
                4. Дата рождения
                <div style="width: 100px" class="area ib">&nbsp</div>г.
            </div>
            <div>
                5. Место рождения
                <div style="width: 320px" class="area ib">&nbsp</div>
            </div>
            <div>
                <div class="ib left">
                    6. серии
                    <div style="width: 100px" class="area ib">&nbsp</div>
                    №
                    <div style="width: 125px" class="area ib">&nbsp</div>
                    выдан
                </div>
                <div class="ib">
                    <div style="width: 100px" class="area ib">&nbsp</div>
                    <div style="text-align: center"><small>(когда)</small></div>
                </div>
            </div>
        </div>

        <div class="right">
            <div>
                Комната № <div style="width: 180px" class="area ib">1k202</div>
            </div>
            <div>
                Индекс поселения<div style="width: 137px" class="area ib">&nbsp</div>
            </div>

            <div>
                <div class="ib left">Прибыл &nbsp</div>
                <div class="ib">
                    <div style="width: 200px" class="area ib left">15.06.2015 07:00</div>
                    <div class="center"><small>(дата, часы)</small></div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <div>
                <div class="ib left">Выбыл &nbsp</div>
                <div class="ib">
                    <div style="width: 205px" class="area ib left">&nbsp</div>
                    <div class="center"><small>(дата, часы)</small></div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>

        <div style="clear: both"></div>
    </div>


    <div>
        <div class="ib">
            <div style="width: 455px" class="area ib left">&nbsp</div>
            <div class="center"><small>(наименования органа внутренних дел, выдавшего документ)</small></div>
            <div style="clear:both;"></div>
        </div>

        <div>
            <div>7. Адрес постоянного места жительства &nbsp</div>
            <div class="ib">
                <div style="width: 455px" class="area ib left">&nbsp</div>
                <div class="center"><small>Ул. д.</small></div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div>
            Гражданство телефон
        </div>
        8. Цель приезда
        <div style="width: 615px" class="area ib">&nbsp</div>
        <div>
            9. Срок проживания до 26.06.2015 16:00
        </div>
        <div>
            10. Продление проживания
            <div style="width: 535px" class="area ib">&nbsp</div>
        </div>
        <div>
            11. С памяткой о правилах пожарной безопасности ознакомлен
        </div>
    </div>

    <div>
        <div class="right" style="margin-right: 170px">
            <div class="ib left">Подпись &nbsp</div>
            <div class="ib">
                <div style="width: 200px" class="area ib left">&nbsp</div>
                <div class="center"><small>(лица, прибывшего в гостиницу)</small></div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>

    <div style="margin-top: 20px">
        <div style="float: right; font-weight: bold">Обратная сторона Ф. N 1-Г</div>
        <div style="clear: both"></div>
    </div>

    <div style="margin-top: 30px">
        <p>
            <div>
                Поселен(а) "<div style="width: 30px" class="area ib">&nbsp</div>"
                <div style="width: 540px" class="area ib">&nbsp</div>
                20<div style="width: 30px" class="area ib">&nbsp</div> г.
            </div>
        </p>
        <p>
            <div>
                город (селение) &nbsp
                <div style="width: 600px" class="area ib">&nbsp</div>
            </div>
        </p>
        <p>гостиница Левин</p>

        <div>
            <div class="ib left">На дополнительное место в номере согласен(а) &nbsp</div>
            <div class="ib">
                <div style="width: 390px" class="area ib left">&nbsp</div>
                <div class="center"><small>(подпись лица, прибывшего в гостиницу)</small></div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div>
            <div class="ib left">Согласен(а) на проживание в номере с оплатой всех мест &nbsp</div>
            <div class="ib">
                <div style="width: 320px" class="area ib left">&nbsp</div>
                <div class="center"><small>(подпись лица, прибывшего в гостиницу)</small></div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div>
            Подпись ответственного лица
            <div style="width: 150px" class="area ib">&nbsp</div>
        </div>
    </div>
</div>
</body>
</html>
