<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Pdf</title>
        <style type="text/css">
            html {
                padding: 10mm;
            }
            body {
                margin: 0;
            }
            body{
                font-family: "Open Sans"; /*Arial*/
                font-size: 16px;
            }
            .document{
                padding-top: 0px;
                width: 900px;
                margin: 0 auto;
            }
            .ib{
                display: inline-block;
            }
            .area {
                border-bottom: solid #000000 1px;
            }
            .left {
                float: left;
            }
            .right {
                float: right;
            }
            .center {
                text-align: center;
            }
            .indent {
                text-indent: 1.5em;
            }
            .upper {
                text-transform: uppercase;
            }
        </style>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="document">
            {% block document %}{% endblock %}
        </div>
    </body>
</html>