<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <style>
        .indent {
            text-indent: 1.5em;
        }

        .area {
            border-bottom: 1px solid #000000;
        }

        .document {
            width: 900px;
        }
        .document h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="document">
    <h2>Расписка</h2>
    <div>
        <p>Я, <strong>Пантелейсова</strong></p>
        <p>Дата рождения __.__.___г.,</p>
        <p>Вид документа  серия номер </p>
        <p>выданный __.__.___г. Место рожения   Гражданоство</p>
        <p>постоянное место жительства <strong>г. обл/кр ул. д.</strong></p>
        <p>за период проживания с <strong>07:00 15.06.2015</strong> г. по <strong>16:00 26.06.2015</strong> г</p>
        <p>в предоставленной мне квартире по адресу: ул. д. корп. кв. <strong>1к202</strong></p>
        <div style="white-space: pre;"><span style="text-decoration: underline;font-weight: bold">Обязуюсь:</span>
            -   не производить шум позднее 23-ч часов;
            -   не загрязнять подъезды и прилегающую у дому территорию;
            -   не беспокоить соседей;
            -   не портить предметы обихода и интрьера;
            -   не производить перестановку мебели
            -   не хранить и не использовать взрыво и огнеопасные предметы.
            За все происходящее в предоставленной мне квартире на период проживания я несу полную
            ответственность. В случае нарешения данных обязательстя согласен на досрочное выселение без
            возврата залога и внесенной предоплаты, с возмещением возникшего материального ущерба.
        </div>
        <div>
            <div style="float: left;">
                <div class="area" style="display: inline-block; width: 150px"></div>
                (подпись)
            </div>
            <div style="float: right; font-weight: bold">
                15.06.2015 г.
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <hr/>

    <h2>Расписка</h2>
    <div>
        <p>Я, <strong>Пантелейсова</strong></p>
        <p>Дата рождения __.__.___г.,</p>
        <p>Вид документа  серия номер </p>
        <p>выданный __.__.___г. Место рожения   Гражданоство</p>
        <p>постоянное место жительства <strong>г. обл/кр ул. д.</strong></p>
        <p>за период проживания с <strong>07:00 15.06.2015</strong> г. по <strong>16:00 26.06.2015</strong> г</p>
        <p>в предоставленной мне квартире по адресу: ул. д. корп. кв. <strong>1к202</strong></p>
        <div style="white-space: pre;"><span style="text-decoration: underline;font-weight: bold">Обязуюсь:</span>
            -   не производить шум позднее 23-ч часов;
            -   не загрязнять подъезды и прилегающую у дому территорию;
            -   не беспокоить соседей;
            -   не портить предметы обихода и интрьера;
            -   не производить перестановку мебели
            -   не хранить и не использовать взрыво и огнеопасные предметы.
            За все происходящее в предоставленной мне квартире на период проживания я несу полную
            ответственность. В случае нарешения данных обязательстя согласен на досрочное выселение без
            возврата залога и внесенной предоплаты, с возмещением возникшего материального ущерба.
        </div>
        <div>
            <div style="float: left;">
                <div class="area" style="display: inline-block; width: 150px"></div>
                (подпись)
            </div>
            <div style="float: right; font-weight: bold">
                15.06.2015 г.
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
</body>
</html>