{% extends 'MBHBaseBundle::login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
    </p>
{% endblock %}
