{% extends 'MBHHotelBundle:Hotel:layout.html.twig' %}

{% set small_title = 'views.hotel.edit.editing_number'|trans({}, 'MBHHotelBundle') ~ entity.id %}

{% block content %}

    {% include 'MBHHotelBundle:Hotel:tabs.html.twig' with {'active': 1, 'entity': entity} %}

    <div class="tab-content">
        {{ form_start(form, {'action': path('hotel_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': 'hotel_delete' } %}
        {{ form_end(form) }}

        {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'hotel_delete' } %}
    </div>
    
{% endblock %}
