{% extends 'MBHHotelBundle:Hotel:layout.html.twig' %}

{% set small_title = 'views.hotel.images.editing_number'|trans({}, 'MBHHotelBundle') ~ entity.id %}
{% set layout = "tabs" %}

{% block content %}
    {% include 'MBHHotelBundle:Hotel:tabs.html.twig' with {'active': 4, 'entity': entity} %}
    <div class="tab-content">
        {{ form_start(form, {'action': path('hotel_images', {'id': entity.id}),  'attr': {'class': 'form-horizontal'}}) }}

        {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'route': 'hotel' } %}
        {{ form_end(form) }}

        {% include '@MBHHotel/Hotel/image-list.html.twig' with {showMakeMainButton: true, showDeleteButton: true} %}
    </div>

{% endblock %}

{% block form_row %}

{% endblock %}

