{% extends 'MBHHotelBundle:Hotel:layout.html.twig' %}

{% set small_title = "ошибка" %}    

{% block content %}

    <div class="alert alert-danger" role="alert">
        {% if is_granted('ROLE_ADMIN') %}
            <strong>У вас не создано ни одного отеля!</strong> Создайте новый отель для продолжения работы.
            <a href="{{ path('hotel_new') }}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Создать отель</a>
        {% else %}
            <strong>У вас нет прав для работы с отелем!</strong> Обратитесь к администратору для получения разрешения.
        {% endif %}
    </div>

    {% include 'MBHBaseBundle:Actions:list.html.twig' with {'route': 'hotel_new'} %}

{% endblock %} 
