.default-service {
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 5px;
      i.fa-times {
        cursor: pointer;
      }
      input, select {
        margin-right: 5px;
      }
    }
  }
}

.tariff_combination_item,
.tariff_combination_item > div {
  display: flex;
}

.tariff_combination_item {
  align-items: center;
}

.tariff_combination_item > div {
  min-width: 125px;
  justify-content: flex-end;
}

.duplication {
  border: 1px solid red;
}