{% extends "MBHChannelManagerBundle::layout.html.twig" %}

{% set title = "HomeAway" %}
{% set title_url = path('homeaway') %}

{% set small_title = 'views.channnelmanager.settings'|trans({}, 'MBHChannelManagerBundle')  %}
{% set layout = 'tabs' %}

{% block content %}

    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 1, 'entity': doc, 'base': 'homeaway', 'services' : false} %}

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {{ form_start(form, {'action': path('homeaway'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHChannelManagerBundle::actions.html.twig' %}
            {{ form_end(form) }}

            {%  if doc %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': doc, 'logs': logs} %}
            {%  endif %}
        </div>
    </div>
{% endblock %}