{% extends "MBHChannelManagerBundle:HomeAway:layout.html.twig" %}

{% block innerContent %}
    <ul class="nav nav-tabs" role="tablist">
        {% for item in menu %}
            {% if (config is null or not config.isEnabled) and loop.index != 1 %}
                <li class="disabled">
                    <a href="#" role="tab" data-toggle="tooltip"
                       title="{{ 'views.tabs.must_fill_main_settings'|trans({}, 'MBHChannelManagerBundle') }}">{{ item.title|raw }}</a>
                </li>
            {% else  %}
                <li {% if loop.index == active %}class="active"{% endif %}>
                    <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
                </li>
            {% endif  %}
        {% endfor %}
    </ul>
{% endblock %}