{% if services is not defined %}
    {% set services = true %}
{% endif %}

{% set menu = [] %}
{% if  config is null or not config.isReadyToSync() %}
    {% set menu = menu|merge([
        {'route': base, icon: 'fa-book', titleTransId: 'Инструкция'},
    ]) %}
    {% set active = active + 1 %}
{% endif %}

{% set menu = menu|merge([
    {'route': base, icon: 'fa-info-circle', titleTransId: 'views.tabs.main_settings'},
    {'route': base ~ '_room', icon: 'fa-bed', titleTransId: 'views.tabs.room_types'},
    {'route': base ~ '_tariff', icon: 'fa-sliders', titleTransId: 'views.tabs.tariffs'}
]) %}

{% if services and config and config.isReadyToSync() %}
    {% set menu = menu|merge([
        {'route': base ~ '_service', icon: 'fa-plug', titleTransId: 'views.tabs.services'}
    ]) %}
{% endif %}

{% if config %}
    {% if notifications is not defined %}
        {% set notifications = mbh_channelmanager_get_notifications(config) %}
    {% endif %}

    {% if notifications|length %}
        <div class="alert alert-warning">
            {% for entry in notifications %}
                <p>
                    <i class="fa fa-exclamation-circle"></i>&nbsp;
                    {{ entry|trans }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
    {% for item in menu %}
        {% set title = (config and config.isReadyToSync() ? '<i class="fa ' ~ item.icon ~ '"></i>' : loop.index ~ '.') ~ item.titleTransId|trans({}, 'MBHChannelManagerBundle') %}
        {% if (config is null or not config.isEnabled or not config.isReadyToSync()) and loop.index != active %}
            <li class="disabled">
                <a href="#" role="tab">{{ title|raw }}</a>
            </li>
        {% else %}
            <li {% if loop.index == active %}class="active"{% endif %}>
                <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"
                   {% else %}href="{{ path(item.route) }}"{% endif %}>{{ title|raw }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
