{% set menu = [
    {'route': base, 'title': '<i class="fa fa-info-circle"></i> Основные настройки'},
    {'route': base ~ '_room', 'title': '<i class="fa fa-home"></i>  Типы номеров'},
    {'route': base ~ '_tariff', 'title': '<i class="fa fa-sliders"></i>  Тарифы'}
]
%}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    {% if entity is null and loop.index != 1 %}
        <li class="disabled">
            <a href="#" role="tab" data-toggle="tooltip" title="Необходимо заполнить основные настройки!">{{item.title|raw}}</a>
        </li>
    {% else  %}
        <li {% if loop.index == active %}class="active"{% endif %}>
            <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
        </li>
    {% endif  %}
{% endfor %}
</ul>
