{% if services is not defined %}
    {% set services = true %}
{% endif %}

{% set menu = [] %}
{% set isReadyToSync = config and config.isReadyToSync() %}
{% if not isReadyToSync %}
    {% set menu = menu|merge([
        {'route': 'wizard_info', routeParams: {channelManagerName: base},
            titleTransId: 'views.tabs.instruction', titleTransParams: {'%channelManagerName%': channel_manager_human_name(base)}},
    ]) %}
    {% set active = active + 1 %}
{% endif %}

{% set menu = menu|merge([
    {'route': base, icon: 'fa-info-circle', titleTransId: 'views.tabs.main_settings'},
    {'route': base ~ '_room', icon: 'fa-bed', titleTransId: 'views.tabs.room_types'},
    {'route': base ~ '_tariff', icon: 'fa-sliders', titleTransId: 'views.tabs.tariffs'}
]) %}

{% if not isReadyToSync %}
    {% set menu = menu|merge([
        {'route': 'cm_data_warnings', routeParams: {channelManagerName: base}, titleTransId: 'view.tabs.data_warnings'}
    ]) %}
{% endif %}

{% if services and isReadyToSync %}
    {% set menu = menu|merge([
        {'route': base ~ '_service', icon: 'fa-plug', titleTransId: 'views.tabs.services'}
    ]) %}
{% endif %}

{% if config %}
    {% if notifications is not defined %}
        {% set notifications = mbh_channelmanager_get_notifications(config) %}
    {% endif %}

    {% if notifications|length %}
        <div class="alert alert-warning">
            {% for entry in notifications %}
                <p>
                    <i class="fa fa-exclamation-circle"></i>&nbsp;
                    {{ entry|trans }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
    {% for item in menu %}
        {% set routeParams = item.routeParams is defined ? item.routeParams : {} %}
        {% set titleTransParams = item.titleTransParams is defined ? item.titleTransParams : {} %}

        {% set title = (config and config.isReadyToSync() ? '<i class="fa ' ~ item.icon ~ '"></i>' : loop.index ~ '. ') ~ item.titleTransId|trans(titleTransParams, 'MBHChannelManagerBundle') %}
        {% set isConfiguredByTechSupport = is_cm_configured_by_tech_support(base) %}
        {% set isActiveTab = loop.index == active %}

        {% if not (isActiveTab or (config and config.isReadyToSync())
            or (loop.index in [1, 2] and active in [1, 2] and ((is_mb_user() and isConfiguredByTechSupport) or (not isConfiguredByTechSupport and (config and config.isConnectionSettingsRead())))
            and not (loop.index == 2 and active == 1 and isConfiguredByTechSupport and (config is empty or config.hotelId is empty)))) %}
            <li class="disabled">
                <a href="#" role="tab">{{ title|raw }}</a>
            </li>
        {% else %}
            <li {% if isActiveTab %}class="active"{% endif %}>
                <a {% if isActiveTab %}href="#home" role="tab" data-toggle="tab"
                   {% else %}href="{{ path(item.route, routeParams) }}"{% endif %}>{{ title|raw }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
