{% set menu = [
    {'route': base, 'title': '<i class="fa fa-info-circle"></i>'~'views.tabs.main_settings'|trans({}, 'MBHChannelManagerBundle')},
    {'route': base ~ '_room', 'title': '<i class="fa fa-home"></i>'~'views.tabs.room_types'|trans({}, 'MBHChannelManagerBundle')},
    {'route': base ~ '_tariff', 'title': '<i class="fa fa-sliders"></i>'~'views.tabs.tariffs'|trans({}, 'MBHChannelManagerBundle')},
    {'route': base ~ '_service', 'title': '<i class="fa fa-plug"></i>'~'views.tabs.services'|trans({}, 'MBHChannelManagerBundle')},
]
%}

<ul class="nav nav-tabs" role="tablist">
{% for item in menu %}
    {% if entity is null and loop.index != 1 %}
        <li class="disabled">
            <a href="#" role="tab" data-toggle="tooltip" title={{ 'views.tabs.must_fill_main_settings'|trans({}, 'MBHChannelManagerBundle') }}>{{item.title|raw}}</a>
        </li>
    {% else  %}
        <li {% if loop.index == active %}class="active"{% endif %}>
            <a {% if loop.index == active %}href="#home" role="tab" data-toggle="tab"{% else %}href="{{ path(item.route) }}"{% endif %}>{{item.title|raw}}</a>
        </li>
    {% endif  %}
{% endfor %}
</ul>
