.mbh-grid tr.header td {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
.mbh-grid td.first-th {
  min-width: 200px;
}
.mbh-grid td input {
  width: 80px;
}
.mbh-grid td input {
  width: 80px;
  text-align: center;
}
.mbh-grid td.content {
  text-align: center;
  min-width: 85px;
  width: 85px;
}
.mbh-grid td.content-total {
  text-align: right;
  min-width: 150px;
  width: 150px;
  color: #666;
}
.mbh-grid td input[disabled] {
  cursor: pointer;
}
.mbh-grid td.chosen {
  background-color: #FAF3D2 !important;
}
.mbh-grid td.weekend {
  background-color: #fcf8e3 !important;
}
.mbh-grid td.alert {
  background-color: #f2dede !important;
  color: #b94a48 !important;
}
.mbh-grid td.alert small {
  color: #b94a48 !important;
}
.mbh-grid .mbh-grid-input {
  width: 65px;
}
.mbh-grid .mbh-grid-checkbox {
  width: auto !important;
  cursor: pointer;
}
.mbh-grid span.input {
  position: relative;
  cursor: pointer;
}
.mbh-grid span.disabled-detector {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.mbh-grid input.mbh-grid-checkbox + span.disabled-detector {
  display: none;
}
.mbh-grid input.mbh-grid-checkbox[disabled] + span.disabled-detector {
  display: inline;
}
