.search-tourists-select {
  small {
    color: #555;
  }
}
.search-form {
    
    label {
        text-align: left !important;
        padding: 0px !important;
    }

    ul {
        list-style-type: none;
        padding-bottom: 10px;

        li {
            color: #AA3333;
        }
    }
}
.package-search-tariffs {

    ul {
        list-style-type: none;
    }
}
.package-search-prices 
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}