.search-tourists-select {
  small {
    color: #555;
  }
}
.package-search-tariffs {

    ul {
        list-style-type: none;
    }
}
.package-search-prices 
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}