{% extends "MBHBaseBundle::page.html.twig" %}

{% block scripts %}
    {{ parent() }}

    {% javascripts filter='uglifyjs2'
        '@MBHHotelBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block styles %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite, uglifycss' '@MBHHotelBundle/Resources/public/css/*'%}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="box box-default">
        <div class="box-body">
            {% block content_text %}{% endblock %}
        </div>
    </div>
{% endblock %}