{% extends "MBHChannelManagerBundle:Airbnb:layout.html.twig" %}

{% block content %}
    {% include 'MBHChannelManagerBundle::tabs.html.twig' with {'active': 1, 'entity': config, base: 'airbnb', services: false } %}
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            {{ form_start(form, {'action': path('airbnb'), 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHChannelManagerBundle::actions.html.twig' %}
            {{ form_end(form) }}

            {% if config %}
                {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': config, 'logs': logs} %}
            {% endif %}
        </div>
    </div>
{% endblock %}