{% extends "MBHChannelManagerBundle:Airbnb:layout.html.twig" %}

{% block content %}
    {% embed '@MBHChannelManager/ICalService/room.html.twig' with {service: 'airbnb', syncAllPackagesRoute: 'airbnb_all_packages_sync'} %}
        {% block instructions %}
            <div class="well">
                <p>{{ 'airbnb.rooms.connection_instructions.text1'|trans }}</p>
                <p>{{ 'airbnb.rooms.connection_instructions.text2'|trans }}</p>

                <p>{{ 'airbnb.rooms.connection_instructions.text3'|trans }}</p>
                <ol class="btm-pd">
                    {% for itemNumber in 1..7 %}
                        <li>
                            {{ ('airbnb.rooms.connection_instructions.list.text' ~ itemNumber)|trans|raw }}
                        </li>
                    {% endfor %}
                </ol>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}