{% extends 'MBHChannelManagerBundle:Airbnb:layout.html.twig' %}

{% block content %}
    {% embed '@MBHChannelManager/ICalService/roomLinks.html.twig' with {service: 'airbnb', syncAllPackagesRoute: 'airbnb_all_packages_sync'} %}
        {% block instructions %}
            <div class="well" id="room-links-instruction">
                <p>{{ 'airbnb.room_links.connection_instructions.text1'|trans }}</p>

                <p>{{ 'airbnb.room_links.connection_instructions.text2'|trans }}</p>
                <ol class="btm-pd">
                    {% for listNumber in 1..9 %}
                        <li>{{ ('airbnb.room_links.connection_instructions.list.text' ~ listNumber)|trans|raw }}</li>
                    {% endfor %}
                </ol>

                <p>{{ 'airbnb.room_links.connection_instructions.text3'|trans }}</p>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

