{% set menu = [
    {'route': base, icon: 'fa-info-circle', titleTransId: 'views.tabs.main_settings'},
    {'route': base ~ '_room', icon: 'fa-bed', titleTransId: 'views.tabs.room_types'},
] %}

<ul class="nav nav-tabs" role="tablist">
    {% for item in menu %}
        {% set routeParams = item.routeParams is defined ? item.routeParams : {} %}
        {% set titleTransParams = item.titleTransParams is defined ? item.titleTransParams : {} %}

        {% set title = (config and config.isReadyToSync() ? '<i class="fa ' ~ item.icon ~ '"></i>' : loop.index ~ '. ') ~ item.titleTransId|trans(titleTransParams, 'MBHChannelManagerBundle') %}
        {% set isConfiguredByTechSupport = is_cm_configured_by_tech_support(base) %}
        {% set isActiveTab = loop.index == active %}

        {% if not (isActiveTab or config) %}
            <li class="disabled">
                <a href="#" role="tab">{{ title|raw }}</a>
            </li>
        {% else %}
            <li {% if isActiveTab %}class="active"{% endif %}>
                <a {% if isActiveTab %}href="#home" role="tab" data-toggle="tab"
                   {% else %}href="{{ path(item.route, routeParams) }}"{% endif %}>{{ title|raw }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
