@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #282828;
  /* -------------------------- RESULTS ACTIONS -------------------------------- */
  /* -------------------------- USER FORM -------------------------------- */
  /* -------------------------- PAYMENT TYPE FORM -------------------------------- */
  /* -------------------------- PAY FORM -------------------------------- */
}
body #mbh-results-wrapper {
  box-sizing: border-box;
  width: calc(100vw - 30px);
}
@media (min-width: 732px) {
  body #mbh-results-wrapper {
    width: 732px;
  }
}
@media (min-width: 832px) {
  body #mbh-results-wrapper {
    width: 832px;
  }
}
body #mbh-results-wrapper #mbh-package-info .mbh-package-info-wrapper .mbh-room-name {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 24px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-package-info-wrapper .mbh-hotel-name {
  color: #0099ff;
  font-size: 16px;
  line-height: 20px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-daterange {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-days-amount,
body #mbh-results-wrapper #mbh-package-info .mbh-package-amount,
body #mbh-results-wrapper #mbh-package-info .mbh-price-amount {
  font-size: 16px;
  line-height: 20px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-days-amount #mbh-package-info-nights::before {
  content: "/";
}
body #mbh-results-wrapper #mbh-package-info .mbh-price-amount .mbh-order-total {
  border-top: 1px solid #A0A0A0;
}
body #mbh-results-wrapper .step-info {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}
body #mbh-results-wrapper .step-info .step-number-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
body #mbh-results-wrapper .step-info .step-number-info.active .step-number {
  background: #0099ff;
}
body #mbh-results-wrapper .step-info .step-number-info .step-number {
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #BDBDBD;
  color: #FFFFFF;
}
body #mbh-results-wrapper .step-info .step-number-info .step-title {
  margin-left: 18px;
  margin-right: 18px;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel {
  padding: 0;
  border: none;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-heading {
  display: flex;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 24px;
  background: #282828;
  opacity: 0.7;
  color: #FFFFFF;
  height: 52px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body {
  padding: 0;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #FFFFFF;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li {
  border-bottom: 1px solid #A0A0A0;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper.show-description {
  background: #c3ebff;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper.show-description .mbh-results-tariff-description {
  display: block;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper.show-description .mbh-results-tariff-label .mbh-results-tariffs-description-toggle {
  background: #c3ebff;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper.show-description .mbh-results-tariff-label #mbh-results-tariff-selected {
  font-weight: bold;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label {
  height: 52px;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label .mbh-results-tariffs-description-toggle {
  border: none;
  background: #FFFFFF;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label #mbh-results-tariff-selected {
  margin-left: 15px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label a {
  text-decoration: none;
  padding-left: 35px;
  margin-left: -20px;
  z-index: 1;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label input[type="radio"] {
  margin: 0 0 0 10px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label input[type="radio"]:disabled:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  border: 1px solid #DADADA;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label input[type="radio"]:disabled:checked:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  border: 1px solid #0099FF;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-label input[type="radio"]:disabled:checked:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  background: #0099FF;
  margin-left: 4px;
  margin-top: 1px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel .panel-body ul li .mbh-results-tariff-wrapper .mbh-results-tariff-description {
  display: none;
  margin-left: 35px;
  padding-bottom: 5px;
}
body #mbh-results-wrapper .step-one #mbh-results-duration {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  line-height: 44px;
}
body #mbh-results-wrapper .step-one #mbh-results-duration #mbh-result-response-info {
  display: none;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container {
  margin: 10px 0;
  padding: 5px 0;
  background: #FFFFFF;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .main-image {
  margin-bottom: 5px;
  text-align: center;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image {
  display: flex;
  justify-content: space-between;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-name-wrapper {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-hotel-and-tariff-wrapper span + span {
  margin-left: 5px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .facility-wrapper ul.inline-facility {
  list-style: none;
  padding: 0;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .facility-wrapper ul.inline-facility li {
  padding: 2px;
  display: inline-block;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper .mbh-results-room-type-description-toggle {
  background: #FFFFFF;
  border: none;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper.show-description .mbh-results-room-type-description {
  display: block;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper .mbh-results-room-type-description {
  display: none;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container > * {
  text-align: center;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .price .mbh-results-prices {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  line-height: 44px;
  color: #4F4F4F;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .nights {
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  text-align: center;
  color: #282828;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-count-selector {
  margin-top: 10px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-amount {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}
