@import "../common-style.mixin";

.importFont();

@general_color: #0099FF;
@general_color_light: #C3EBFF;

body {
  .widthContainer() {
    width: 100%;
  }

  .maxOuterBorders() {
    box-sizing: border-box;

    @media (min-width: @size-screen-max-width-mobile) {
      width: @size-screen-max-width-mobile;
    }

    @media (min-width: @size-screen-mid-width-tablet) {
      width: @size-screen-mid-width-tablet;
    }

    //@media (min-width: @size-screen-min-width-desktop) {
    //  width: @general-width-desktop-max;
    //}


  }

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #F2F2F2;

  .commonStyleFont();

  #mbh-results-wrapper {

    .maxOuterBorders();

    .step-info {
      margin-top: 25px;
      display: flex;
      .step-number-info {
        display: flex;
        align-items: center;

        &.active {
          .step-number {
            background: @general_color;
          }
        }

        .step-number {
          font-size: 16px;
          line-height: 16px;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 40px;
          height: 40px;
          background: #BDBDBD;
          color: #FFFFFF;
        }

        .step-title {
          margin-left: 18px;
          margin-right: 18px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }


    .step-one {

// BEGIN TARIFFS
      #mbh-results-tariffs {

        margin-top: 25px;

        .heightPanelHeading () {
          height: 52px;
        }

        .panel {
          padding: 0;
          border: none;

          .panel-heading {
            display: flex;
            align-items: center;

            .fontRobotoSlab();

            font-size: 20px;
            line-height: 24px;

            background: #282828;
            opacity: 0.7;

            color: #FFFFFF;

            .heightPanelHeading ();
          }

          .panel-body {
  // BEGIN LIST
            padding: 0;
            ul {
              padding: 0;
              margin: 0;
              list-style: none;
              background: #FFFFFF;

              li {
                border-bottom: 1px solid #A0A0A0;

                .mbh-results-tariff-wrapper {

                  &.show-description {

                    background: @general_color_light;
                    .mbh-results-tariff-description {
                      display: block;
                    }

                    .mbh-results-tariff-label {
                      .mbh-results-tariffs-description-toggle {
                        background: @general_color_light;
                      }
                      #mbh-results-tariff-selected {
                        font-weight: bold;
                      }
                    }
                  }

                  .mbh-results-tariff-label {
                    .mbh-results-tariffs-description-toggle {
                      border: none;
                      background: #FFFFFF;

                      font-style: italic;
                      font-weight: normal;
                      font-size: 16px;
                      line-height: 24px;

                      color: #737373;
                    }


                    .heightPanelHeading ();
                    display: flex;
                    align-items: center;
                    margin: 0;

                    font-size: 16px;
                    line-height: 24px;

                    #mbh-results-tariff-selected {
                      margin-left: 15px;
                    }

                    a {
                      text-decoration: none;
                      padding-left: 35px;
                      margin-left: -20px;
                      z-index: 1;
                    }

                  // BEGIN RADIO
                    input[type="radio"] {
                      margin: 0 0 0 10px;

                      .commonRadio() {
                        content: '';
                        position: absolute;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        background: #FFFFFF;

                        margin-top: -3px;
                      }

                      &:disabled {
                        &:before {
                          .commonRadio();
                          border: 1px solid #DADADA;
                        }

                        &:checked {
                          &:before {
                            .commonRadio();
                            border: 1px solid #0099FF;
                          }

                          &:after {
                            .commonRadio();
                            width: 10px;
                            height: 10px;
                            background: #0099FF;

                            margin-left: 4px;
                            margin-top: 1px;
                          }
                        }
                      }

                    }
                  // END RADIO
                  }

                  .mbh-results-tariff-description {
                    display: none;
                    margin-left: 35px;
                    padding-bottom: 5px;
                    //font-size: 16px;
                    //line-height: 24px;
                  }

                }
              }
            }
  // END LIST
          }
        }
      }
// END TARIFFS

      #mbh-results-duration {

        .fontRobotoSlab();
        font-size: 32px;
        line-height: 44px;

        #mbh-result-response-info {
          display: none;
        }
      }
// BEGIN RESULT
      #mbh-results-list-wrapper {
        .mbh-results-container {
          margin: 10px 0;
          padding: 5px 0;
          background: #FFFFFF;
  // BEGIN IMAGE
          .mbh-results-image-wrapper {
            .main-image {
              margin-bottom: 5px;
              text-align: center;
            }
            .list-small-image {
              display: flex;
              justify-content: space-between;
            }
          }
  // END IMAGE
  // BEGIN DESCRIPTION
          .mbh-results-description-container {
            .mbh-results-room-type-name-wrapper {
              .fontRobotoSlab();
              font-size: 20px;
              line-height: 24px;
            }

            .mbh-results-hotel-and-tariff-wrapper {
              span + span {
                margin-left: 5px;
              }
            }

            .facility-wrapper {
              ul.inline-facility {
                list-style: none;
                padding: 0;
                li {
                  padding: 2px;
                  display: inline-block;
                }
              }
            }

            .mbh-results-room-type-description-container {
              .mbh-results-room-type-description-wrapper {

                .mbh-results-room-type-description-toggle {
                  background: #FFFFFF;
                  border: none;

                  font-style: italic;
                  //font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                }


                &.show-description {
                  .mbh-results-room-type-description {
                    display: block;
                  }
                }

                .mbh-results-room-type-description {
                  display: none;

                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
  // END DESCRIPTION
  // BEGIN PRICE
          .mbh-results-price-container {
            > * {
              text-align: center;
            }
            .price {
              .mbh-results-prices {
                margin: 0;
                padding: 0;
                list-style-type: none;

                .fontRobotoSlab();
                font-size: 32px;
                line-height: 44px;

                color: #4F4F4F;
              }
            }

            .nights {
              font-size: 16px;
              line-height: 28px;
              /* or 175% */

              text-align: center;

              color: #282828;
            }

            .room-count-selector {
              margin-top: 10px;
            }

            .room-amount {
              margin-top: 10px;

              font-size: 14px;
              line-height: 20px;
            }
          }
  // END PRICE
        }
      }
// END RESULT
    }

  }

  /* -------------------------- RESULTS ACTIONS -------------------------------- */
  #mbh-results-actions {
    //margin: 20px 0;
    //text-align: right;
    //display: flex;
    //position: fixed;
    //.maxOuterBorders();
  }
  .mbh-results-total-sum {
    font-size: 16px;
    font-weight: bold;
  }
  /* -------------------------- USER FORM -------------------------------- */
  .mbh-results-services-count {
    width: 60px;
  }
  #mbh-user-form sup {
    color: maroon;
  }
  #mbh-user-form-form label {
    font-weight: bold;
  }
  #mbh-user-form-birthday, #mbh-user-form-arrival, #mbh-user-form-departure {
    width: 100px;
  }
  /* -------------------------- PAYMENT TYPE FORM -------------------------------- */
  .mbh-payment-type-row {
    margin-bottom: 5px;
    padding: 5px;
  }
  .mbh-payment-type-row p {
    font-size: 11px;
    color: #7e747c;
  }
  .mbh-payment-type-row label {
    font-size: 16px;
    font-weight: normal;
    margin-left: 6px;
    cursor: pointer;
  }
  .hidden {
    display: none !important;
  }

  /* -------------------------- PAY FORM -------------------------------- */
  #mbh-results-pay-form-wrapper {
    margin-top: 20px;
    text-align: center;
  }
  #mbh-results-pay-form-button {
    font-size: 21px;
    margin: 0;
    padding: 6px 10px;
  }


  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //
  //background: #C4C4C4;
  //
  //.commonStyleFont();
  //
  //#mbh-results-wrapper {
  //
  //  .widthContainer() {
  //    width: 100%;
  //  }
  //
  //  .maxOuterBorders() {
  //    box-sizing: border-box;
  //
  //    @media (min-width: @size-screen-max-width-mobile) {
  //      width: @size-screen-max-width-mobile;
  //    }
  //
  //    @media (min-width: @size-screen-mid-width-tablet) {
  //      width: @size-screen-mid-width-tablet;
  //    }
  //
  //    //@media (min-width: @size-screen-min-width-desktop) {
  //    //  width: @general-width-desktop-max;
  //    //}
  //
  //
  //  }
  //
  //  .maxOuterBorders();
  //
  //  .step-first {
  //    display: flex;
  //    flex-direction: column;
  //    justify-content: center;
  //
  //    #mbh-results-duration {
  //      margin-top: 70px;
  //      margin-bottom: 20px;
  //      order: 2;
  //
  //      .fontRobotoSlab();
  //      font-size: 32px;
  //      line-height: 44px;
  //
  //      #mbh-result-response-info {
  //        display: none;
  //      }
  //    }
  //
  //    #mbh-results-tariffs {
  //
  //      order: 1;
  //
  //      .heightPanelHeading () {
  //        height: 52px;
  //      }
  //
  //      .panel {
  //        .panel-heading {
  //          display: flex;
  //          align-items: center;
  //
  //          .fontRobotoSlab();
  //
  //          font-size: 20px;
  //          line-height: 24px;
  //
  //          background: #282828;
  //          opacity: 0.7;
  //
  //          color: #FFFFFF;
  //
  //          padding-left: 25px;
  //
  //          .heightPanelHeading ();
  //        }
  //
  //        .panel-body {
  //          ul {
  //            padding: 0;
  //            margin: 0;
  //            list-style: none;
  //            background: #FFFFFF;
  //
  //            li {
  //              border-bottom: 1px solid #A0A0A0;
  //
  //              .heightPanelHeading ();
  //
  //              .mbh-results-tariffs-label {
  //
  //                height: 100%;
  //                display: flex;
  //                align-items: center;
  //                margin: 0;
  //
  //                font-size: 16px;
  //                line-height: 24px;
  //
  //                input[type="radio"] {
  //                  margin: 0 0 0 10px;
  //
  //                  .commonRadio() {
  //                    content: '';
  //                    position: absolute;
  //                    border-radius: 50%;
  //                    width: 18px;
  //                    height: 18px;
  //                    background: #FFFFFF;
  //
  //                    margin-top: -6px;
  //                  }
  //
  //                  &:disabled {
  //                    &:before {
  //                      .commonRadio();
  //                      border: 1px solid #DADADA;
  //                    }
  //
  //                    &:checked {
  //                      &:before {
  //                        .commonRadio();
  //                        border: 1px solid #0099FF;
  //                      }
  //
  //                      &:after {
  //                        .commonRadio();
  //                        width: 10px;
  //                        height: 10px;
  //                        background: #0099FF;
  //
  //                        margin: -1px 5px 5px 5px;
  //                      }
  //                    }
  //                  }
  //
  //                }
  //
  //                #mbh-results-tariffs-selected {
  //                  margin-left: 15px;
  //                }
  //
  //                a {
  //                  text-decoration: none;
  //                  padding-left: 35px;
  //                  margin-left: -20px;
  //                  z-index: 1;
  //                }
  //              }
  //            }
  //          }
  //        }
  //      }
  //    }
  //
  //    #mbh-results-table-wrapper {
  //      order: 3;
  //
  //      table#mbh-results-table {
  //        width: 100%;
  //        max-width: 100%;
  //        margin-bottom: 21px;
  //        border-collapse: collapse;
  //        border-spacing: 0;
  //
  //        thead {
  //          display: none;
  //        }
  //
  //        tbody {
  //          tr {
  //            td {
  //              &.mbh-left {
  //                .mbh-results-tariff {
  //                  display: none;
  //                }
  //
  //                .mbh-results-image-wrapper {
  //                  .main {
  //                    width: 180px;
  //                  }
  //                }
  //
  //                ul.inline-facility {
  //                  list-style: none;
  //                  li {
  //                    display: inline-block;
  //                  }
  //                }
  //              }
  //
  //
  //            }
  //          }
  //        }
  //      }
  //    }
  //
  //    #mbh-results-actions {
  //      order: 4;
  //    }
  //  }
  //
  //}
}
