@import "../common-style.mixin";

.importFontRoboto();
.importFontRobotoSlab();

body {
  @import "/inside/common-mixin";

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;

// --- NEXT BUTTON STYLE
  #mbh-user-form-next,
  #mbh-payment-types-next,
  #mbh-online-payment-btn {
    &:hover {
      border-color: var(--main);
      background-color: var(--main);
    }

    .filterBrightnessOnHover();
  }

  .select2-drop {
    .styleFontForSelect();
  }

  .mbh-results-info-load {
    background-color: @general_color;
  }

  #mbh-results-wrapper {
    .maxOuterBorders(970px);

    @import "inside/package-info-wrapper";
    @import "inside/step-info-wrapper";
    #mbh-results-actions {
      @media (min-width: 472px) {
        flex-direction: row;
        height: 78px;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;

      border: 1px solid @general_color;
      background: #FFFFFF;
    }

    .step-one {
      .currency-symbol {
        font-size: 28px;
      }

      @import "inside/tariff-wrapper";
      #mbh-results-duration {
        h3 {
          .fontRobotoSlab();

          @media (min-width: @size-screen-max-width-mobile) {
            .fontSizeLineHeight(32px, 44px);
            margin-left: unset;
          }
          margin-left: 15px;
        }

        #mbh-result-response-info {
          display: none;
        }
      }
      @import "inside/results-wrapper";
    }
    .step-two {
      #mbh-results-actions {
        justify-content: space-between;

        #mbh-user-form-previous {
          .marginLeftBtn();
        }

        #mbh-user-form-next {
          .marginRightBtn();
        }
      }

      @media (max-width: @size-screen-max-width-mobile-minus-one) {
        .mbh-results-step-wrapper {
          display: flex;
          flex-direction: column;

          .mbh-results-services-and-user-form {
            order: 2;
          }
        }
      }

      .mbh-results-services-and-user-form {
        #mbh-results-services-wrapper {
          .panel-body {
            padding: 0;
          }

          .mbh-service-item-header,
          .mbh-service-item {
            &.row {
              margin-right: unset;
              margin-left: unset;
            }

            padding: 15px 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #A0A0A0;
          }

          .mbh-service-item-header {
            height: 48px;
            .fontSizeLineHeight();
            color: #737373;
          }

          .mbh-service-item {
            min-height: 56px;

            .mbh-service-item-name {
              font-weight: bold;
              .fontSizeLineHeight();

              small {
                font-weight: normal;
                .fontSizeLineHeight();
              }
            }

            .mbh-service-item-price {
              font-weight: 500;
              .fontSizeLineHeight();
            }

            .mbh-service-item-hotel {
              .styleForSelect2();
              text-align: right;
            }
          }
        }
        .mbh-results-form-user-container {

          .panel-body {
            padding: 36px 25px;
          }

          #mbh-user-form-wrapper {
            .mbh-user-form-row {
              label {
                text-align: left;

                font-style: normal;
                font-weight: normal;
                .fontSizeLineHeight(16px, 20px);

                &[for="mbh-form-personal-data"] {
                  font-size: 14px;
                }
              }
            }

            #personal-data-form-group {
              .required-star {
                margin-right: 3px;
              }
              #mbh-form-personal-data {
                margin: 0 3px;
                width: 20px;
                height: 20px;
                top: 4px;
                position: relative;
              }

              @media (max-width: 520px) {
                .col-xs-12 {
                  display: flex;
                  align-items: center;

                  input {
                    width: 35px;
                    height: 35px;
                  }

                  label {
                    margin-left: 15px;
                    margin-bottom: unset;
                  }
                }
              }
            }
          }
        }
      }
    }

    .step-three {
      #mbh-results-actions {
        justify-content: space-between;
        #mbh-payment-types-previous {
          .marginLeftBtn();
        }
        #mbh-payment-types-next {
          .marginRightBtn();
        }
      }

      #mbh-results-payment-form {
        .panel-body {
          padding-top: 0;
          padding-bottom: 0;
        }
        .mbh-payment-type-row {
          .mbh-payment-type-row-total {
            .fontSizeLineHeight();
            margin-bottom: 7px;
          }

          .col-sm-1 {
            margin-left: 10px;
            margin-right: -10px;
          }

          .col-sm-11 {
            padding-left: 0;
          }

          .col-sm-1.hidden + .col-sm-11 {
            margin-left: 25px;
          }

          @media (max-width: 390px) {
            display: flex;
          }

          &.selected {
            background-color: @general_color_light;
          }

          border-bottom: 1px solid #A0A0A0;
          padding: 15px 0;

          .mbh-payment-types-radio {
            .inputStyleRadio();
          }

          .mbh-payment-type-label {
            font-style: normal;
            font-weight: normal;
            .fontSizeLineHeight();
          }
        }

        #mbh-payment-systems {
          padding-top: 15px;

          label {
            font-weight: normal;
            .fontSizeLineHeight();
          }
        }
      }
    }

    .step-four {
      margin-bottom: 15px;

      .mbh-results-success-booking {
        > div {
          margin-bottom: 5px;
        }
        .text-success {
          .fontRobotoSlab();
          .fontSizeLineHeight(20px, 24px);
        }

        .text-back-soon,
        .text-order-number,
        .text-package-number {
          .fontSizeLineHeight();
        }
      }

      .btn-info {
        margin-top: 15px;
        background-color: @general_color;
        border-color: @general_color;

        white-space: unset;
      }
    }
  }
}
