/* roboto-300 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.eot');
  src: local('Roboto Light'), local('Roboto-Light'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-500 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-500italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-700italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-900italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.eot');
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-slab-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-regular.eot');
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-regular.svg#RobotoSlab') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-slab-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-700.eot');
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-700.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-700.svg#RobotoSlab') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-slab-300 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-300.eot');
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-300.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-slab-v8-cyrillic_cyrillic-ext_latin-300.svg#RobotoSlab') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;
}
body .panel {
  padding: 0;
  border: none;
}
body .panel .panel-heading {
  display: flex;
  align-items: center;
  border: unset;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 24px;
  background: #282828;
  opacity: 0.7;
  color: #FFFFFF;
  height: 52px;
}
body .panel .panel-body ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #FFFFFF;
}
body .panel .panel-body ul li {
  border-bottom: 1px solid #A0A0A0;
}
body .panel .panel-body ul li input[type="radio"] {
  margin: 0 0 0 10px;
}
body .panel .panel-body ul li input[type="radio"]:disabled:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  border: 1px solid #DADADA;
}
body .panel .panel-body ul li input[type="radio"]:disabled:checked:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  border: 1px solid var(--main);
}
body .panel .panel-body ul li input[type="radio"]:disabled:checked:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  background: var(--main);
  margin-left: 4px;
  margin-top: 1px;
}
body .select2-drop {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
body .mbh-results-info-load {
  background-color: var(--main);
}
body #mbh-results-wrapper {
  box-sizing: border-box;
  width: calc(100vw - 30px);
}
@media (min-width: 732px) {
  body #mbh-results-wrapper {
    width: 732px;
  }
}
@media (min-width: 832px) {
  body #mbh-results-wrapper {
    width: 832px;
  }
}
body #mbh-results-wrapper #mbh-package-info {
  background-color: #FFFFFF;
  margin-bottom: 10px;
}
body #mbh-results-wrapper #mbh-package-info .row {
  margin-bottom: 5px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-package-info-wrapper {
  margin-bottom: 11px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-package-info-wrapper .mbh-room-name {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 24px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-package-info-wrapper .mbh-hotel-name {
  color: var(--main);
  font-size: 16px;
  line-height: 20px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-group-info {
  margin-bottom: 11px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-group-info .mbh-daterange {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-group-info .mbh-days-amount,
body #mbh-results-wrapper #mbh-package-info .mbh-group-info .mbh-package-amount {
  font-size: 16px;
  line-height: 20px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-group-info .mbh-days-amount #mbh-package-info-nights::before {
  content: "/";
}
body #mbh-results-wrapper #mbh-package-info .mbh-price-amount {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
body #mbh-results-wrapper #mbh-package-info .mbh-price-amount .mbh-order-total {
  font-weight: bold;
  margin-top: 11px;
  padding-top: 11px;
  border-top: 1px solid #A0A0A0;
}
body #mbh-results-wrapper #mbh-package-info .mbh-price-amount i.fa {
  margin-left: 3px;
  font-size: 0.8em;
}
body #mbh-results-wrapper .step-info {
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}
body #mbh-results-wrapper .step-info .step-number-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
body #mbh-results-wrapper .step-info .step-number-info.active .step-number {
  background: var(--main);
}
body #mbh-results-wrapper .step-info .step-number-info .step-number {
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #BDBDBD;
  color: #FFFFFF;
}
body #mbh-results-wrapper .step-info .step-number-info .step-title {
  margin-left: 18px;
  margin-right: 18px;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .text-primary {
  color: var(--main);
}
body #mbh-results-wrapper #mbh-results-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--main);
  background: #FFFFFF;
  z-index: 20;
}
@media (min-width: 472px) {
  body #mbh-results-wrapper #mbh-results-actions {
    flex-direction: row;
    height: 78px;
  }
}
body #mbh-results-wrapper #mbh-results-actions .btn-primary {
  background-color: var(--main);
  border-color: var(--main);
}
body #mbh-results-wrapper #mbh-results-actions #mbh-results-total .mbh-results-total-text {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
body #mbh-results-wrapper #mbh-results-actions #mbh-results-total .mbh-results-total-sum {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0 0.3em;
}
@media (min-width: 832px) {
  body #mbh-results-wrapper .mbh-results-step-wrapper .col-sm-8 {
    width: 530px;
  }
  body #mbh-results-wrapper .mbh-results-step-wrapper .col-sm-4 {
    width: 332px;
  }
}
body #mbh-results-wrapper .step-one #mbh-results-actions {
  justify-content: flex-end;
}
@media (max-width: 731px) {
  body #mbh-results-wrapper .step-one #mbh-results-actions {
    width: calc(100vw - 30px);
    height: 55px;
    position: fixed;
    bottom: 0;
  }
}
body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-package-info-container {
  display: flex;
  margin-left: 30px;
}
body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-package-info-container > div {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0.3em;
}
body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-package-info-container .separator {
  margin: 0 0.3em;
}
body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-package-info-container .mbh-package-info-amount-room-and-guest span + span {
  margin-left: 0.3em;
}
body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-package-info-container .mbh-package-info-date span + span {
  margin-left: 0.3em;
}
body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-total {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0 5px 0;
  margin-bottom: 13px;
}
@media (min-width: 472px) {
  body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-total {
    margin: unset;
    margin-right: 30px;
  }
}
body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-next {
  margin: 10px 0 5px 0;
}
@media (min-width: 472px) {
  body #mbh-results-wrapper .step-one #mbh-results-actions #mbh-results-next {
    margin: unset;
    margin-right: 30px;
  }
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .panel-body {
  padding: 0;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper.show-description {
  background: var(--mainlight);
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper.show-description .mbh-results-tariff-description {
  display: block;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper.show-description .mbh-results-tariff-label .mbh-results-tariffs-description-toggle {
  background: var(--mainlight);
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper.show-description .mbh-results-tariff-label #mbh-results-tariff-selected {
  font-weight: bold;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper .mbh-results-tariff-label {
  height: 52px;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper .mbh-results-tariff-label .mbh-results-tariffs-description-toggle {
  border: none;
  background: #FFFFFF;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper .mbh-results-tariff-label #mbh-results-tariff-selected {
  margin-left: 15px;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper .mbh-results-tariff-label a {
  text-decoration: none;
  padding-left: 35px;
  margin-left: -20px;
  z-index: 1;
}
body #mbh-results-wrapper .step-one #mbh-results-tariffs .mbh-results-tariff-wrapper .mbh-results-tariff-description {
  display: none;
  margin-left: 35px;
  padding-bottom: 5px;
}
body #mbh-results-wrapper .step-one #mbh-results-duration h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  line-height: 44px;
}
body #mbh-results-wrapper .step-one #mbh-results-duration #mbh-result-response-info {
  display: none;
}
@media (max-width: 731px) {
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper {
    margin-bottom: 60px;
  }
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container {
  margin: 10px 0;
  padding: 5px 0;
  background: #FFFFFF;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .main-image {
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--mainlight);
  height: 120px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .main-image a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a {
  margin-right: 7px;
  margin-left: 7px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:first-of-type {
  margin-left: 0;
}
@media (max-width: 374px) {
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(4) {
    margin-right: 0;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(n+5) {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 439px) {
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(5) {
    margin-right: 0;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(n+6) {
    display: none;
  }
}
@media (min-width: 440px) and (max-width: 549px) {
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(6) {
    margin-right: 0;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(n+7) {
    display: none;
  }
}
@media (min-width: 550px) and (max-width: 831px) {
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(7) {
    margin-right: 0;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(n+8) {
    display: none;
  }
}
@media (min-width: 832px) {
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(3) {
    margin-right: 0;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a:nth-of-type(n+4) {
    display: none;
  }
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .list-small-image a img {
  height: 50px;
  width: 50px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container > div {
  margin-bottom: 8px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-name-wrapper {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-hotel-and-tariff-wrapper .mbh-results-hotel {
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-hotel-and-tariff-wrapper span + span {
  margin-left: 5px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-select-guest {
  width: 80px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-select-guest a {
  border-radius: unset;
  height: 34px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-select-guest a .select2-chosen {
  margin-top: 4px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .facility-wrapper ul.inline-facility {
  list-style: none;
  padding: 0;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .facility-wrapper ul.inline-facility li {
  padding: 2px;
  display: inline-block;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper .mbh-results-room-type-description-toggle {
  margin-top: 5px;
  background: #FFFFFF;
  border: none;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper.show-description .mbh-results-room-type-description.description-small {
  display: none;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper.show-description .mbh-results-room-type-description.description-full {
  display: block;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper .mbh-results-room-type-description {
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper .mbh-results-room-type-description.description-small {
  display: block;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container .mbh-results-room-type-description-container .mbh-results-room-type-description-wrapper .mbh-results-room-type-description.description-full {
  display: none;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container > * {
  text-align: center;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .price .mbh-results-prices {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  line-height: 44px;
  color: #4F4F4F;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .price .mbh-results-prices i.fa {
  font-size: .7em;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .nights {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282828;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-count-selector {
  margin-top: 10px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-count-selector .room-count-selector-label {
  font-size: 16px;
  line-height: 28px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-count-selector .mbh-results-packages-count {
  width: 80px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-count-selector .mbh-results-packages-count a {
  border-radius: unset;
  height: 34px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-count-selector .mbh-results-packages-count a .select2-chosen {
  margin-top: 4px;
}
body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container .room-amount {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
@media (max-width: 831px) {
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container {
    display: flex;
    flex-direction: column;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-description-container {
    order: 1;
    margin-bottom: 15px;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper {
    margin-bottom: 15px;
    order: 2;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-image-wrapper .main-image {
    height: 250px;
  }
  body #mbh-results-wrapper .step-one #mbh-results-list-wrapper .mbh-results-container .mbh-results-price-container {
    order: 3;
  }
}
body #mbh-results-wrapper .step-two #mbh-results-actions {
  justify-content: space-between;
}
body #mbh-results-wrapper .step-two #mbh-results-actions #mbh-user-form-previous {
  order: 2;
  margin: 5px 0 10px 0;
}
@media (min-width: 472px) {
  body #mbh-results-wrapper .step-two #mbh-results-actions #mbh-user-form-previous {
    margin: unset;
    margin-left: 30px;
    order: unset;
  }
}
body #mbh-results-wrapper .step-two #mbh-results-actions #mbh-user-form-next {
  margin: 10px 0 5px 0;
}
@media (min-width: 472px) {
  body #mbh-results-wrapper .step-two #mbh-results-actions #mbh-user-form-next {
    margin: unset;
    margin-right: 30px;
  }
}
@media (max-width: 731px) {
  body #mbh-results-wrapper .step-two .mbh-results-step-wrapper {
    display: flex;
    flex-direction: column;
  }
  body #mbh-results-wrapper .step-two .mbh-results-step-wrapper .mbh-results-services-and-user-form {
    order: 2;
  }
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .panel-body {
  padding: 0;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .mbh-service-item {
  border-bottom: 1px solid #A0A0A0;
  min-height: 56px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .mbh-service-item.row {
  margin-right: unset;
  margin-left: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .mbh-service-item .mbh-service-item-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .mbh-service-item .mbh-service-item-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .mbh-service-item .mbh-service-item-hotel {
  width: 80px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .mbh-service-item .mbh-service-item-hotel a {
  border-radius: unset;
  height: 34px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form #mbh-results-services-wrapper .mbh-service-item .mbh-service-item-hotel a .select2-chosen {
  margin-top: 4px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form .mbh-results-form-user-container #mbh-user-form-wrapper .mbh-user-form-row label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form .mbh-results-form-user-container #mbh-user-form-wrapper .mbh-user-form-row label[for="mbh-form-personal-data"] {
  font-size: 14px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form .mbh-results-form-user-container #mbh-user-form-wrapper #personal-data-form-group .required-star {
  margin-right: 3px;
}
body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form .mbh-results-form-user-container #mbh-user-form-wrapper #personal-data-form-group #mbh-form-personal-data {
  margin: 0 3px;
}
@media (max-width: 520px) {
  body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form .mbh-results-form-user-container #mbh-user-form-wrapper #personal-data-form-group .col-xs-12 {
    display: flex;
    align-items: center;
  }
  body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form .mbh-results-form-user-container #mbh-user-form-wrapper #personal-data-form-group .col-xs-12 input {
    width: 35px;
    height: 35px;
  }
  body #mbh-results-wrapper .step-two .mbh-results-services-and-user-form .mbh-results-form-user-container #mbh-user-form-wrapper #personal-data-form-group .col-xs-12 label {
    margin-left: 15px;
    margin-bottom: unset;
  }
}
body #mbh-results-wrapper .step-three #mbh-results-actions {
  justify-content: space-between;
}
body #mbh-results-wrapper .step-three #mbh-results-actions #mbh-payment-types-previous {
  order: 2;
  margin: 5px 0 10px 0;
}
@media (min-width: 472px) {
  body #mbh-results-wrapper .step-three #mbh-results-actions #mbh-payment-types-previous {
    margin: unset;
    margin-left: 30px;
    order: unset;
  }
}
body #mbh-results-wrapper .step-three #mbh-results-actions #mbh-payment-types-next {
  margin: 10px 0 5px 0;
}
@media (min-width: 472px) {
  body #mbh-results-wrapper .step-three #mbh-results-actions #mbh-payment-types-next {
    margin: unset;
    margin-right: 30px;
  }
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form .panel-body {
  padding-top: 0;
  padding-bottom: 0;
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form .mbh-payment-type-row {
  border-bottom: 1px solid #A0A0A0;
  padding: 15px 0;
}
@media (max-width: 390px) {
  body #mbh-results-wrapper .step-three #mbh-results-payment-form .mbh-payment-type-row {
    display: flex;
  }
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form .mbh-payment-type-row.selected {
  background-color: var(--mainlight);
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form .mbh-payment-type-row .mbh-payment-types-radio:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  border: 1px solid #DADADA;
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form .mbh-payment-type-row .mbh-payment-types-radio:checked:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  border: 1px solid var(--main);
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form .mbh-payment-type-row .mbh-payment-types-radio:checked:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #FFFFFF;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  background: var(--main);
  margin-left: 4px;
  margin-top: 1px;
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form .mbh-payment-type-row .mbh-payment-type-label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form #mbh-payment-systems {
  padding-top: 15px;
}
body #mbh-results-wrapper .step-three #mbh-results-payment-form #mbh-payment-systems label {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
body #mbh-results-wrapper .step-four {
  margin-bottom: 15px;
}
body #mbh-results-wrapper .step-four .btn-info {
  margin-top: 15px;
  background-color: var(--main);
  border-color: var(--main);
}
