@import "../common-style.mixin";

.importFontRoboto();

body {
  .commonStyleFont();

  .replaceStyleBootstrap();

  display: flex;
  justify-content: center;
  background-color: unset;

  #mbh-results-actions {
    .maxOuterBorders();

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    @media (min-width: 472px) {
      flex-direction: row;
      justify-content: flex-end;
    }

    height: inherit;
    border: 1px solid @general_color;
    background: #FFFFFF;

    #mbh-results-package-info-container {
      display: flex;
      margin-left: 30px;

      > div {
        display: flex;
        align-items: center;
        .fontSizeLineHeight();
        margin: 0 0.3em;
      }

      .separator {
        margin: 0 0.3em;
      }

      .mbh-package-info-amount-room-and-guest {

        span + span {
          margin-left: 0.3em;
        }
      }
      .mbh-package-info-date {
        span + span {
          margin-left: 0.3em;
        }
      }
    }

    #mbh-results-next {
      @media (max-width: 471px) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      margin-left: 20px;
      margin-right: 30px;

      border: 1px solid @general_color;

      &:hover {
        background-color: #FFFFFF;
        color: #4F4F4F;
      }
    }

    #mbh-results-total {
      display: flex;

      .mbh-results-total-text {
        font-size: 14px;
        margin-right: 0.3em;
        .textUppercase();
      }

      #mbh-results-total-sum {
        font-size: 18px;
        font-weight: bold;
        .textUppercase();
      }

      .currency-symbol {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
