/* roboto-300 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.eot');
  src: local('Roboto Light'), local('Roboto-Light'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-300.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-regular.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-500 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-500italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-500italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-700italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-700italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/* roboto-900italic - cyrillic_cyrillic-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.eot');
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.woff') format('woff'), /* Modern Browsers */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('/bundles/mbhonline/fonts/mbsite/roboto-v19-cyrillic_cyrillic-ext_latin-900italic.svg#Roboto') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  font-size: 12px;
  color: #282828;
  display: flex;
  justify-content: center;
  background-color: unset;
}
body .btn {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
body .bg-primary {
  background-color: var(--mainlight);
}
body .text-primary {
  color: var(--main);
}
body .btn-primary {
  background-color: var(--main);
  border-color: var(--main);
}
body .btn-default {
  border-color: unset;
  background: #BDBDBD;
}
@media (min-width: 732px) {
  body .panel-heading {
    padding: 15px 25px;
  }
}
body .panel {
  box-shadow: none;
}
@media (min-width: 732px) {
  body .filler {
    flex-grow: 2;
  }
}
body #mbh-results-actions {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  border-top: 1px solid var(--main);
  background: #FFFFFF;
}
@media (min-width: 700px) {
  body #mbh-results-actions {
    width: calc(100vw - 30px);
  }
}
@media (min-width: 732px) {
  body #mbh-results-actions {
    width: 732px;
  }
}
@media (min-width: 832px) {
  body #mbh-results-actions {
    width: 970px;
  }
}
@media (min-width: 472px) {
  body #mbh-results-actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media (min-width: 732px) {
  body #mbh-results-actions {
    border: 1px solid var(--main);
    border-bottom: none;
  }
}
body #mbh-results-actions #mbh-results-package-info-container {
  display: flex;
  margin-left: 30px;
}
body #mbh-results-actions #mbh-results-package-info-container > div {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0.3em;
}
body #mbh-results-actions #mbh-results-package-info-container .separator {
  margin: 0 0.3em;
}
body #mbh-results-actions #mbh-results-package-info-container .mbh-package-info-amount-room-and-guest span + span {
  margin-left: 0.3em;
}
body #mbh-results-actions #mbh-results-package-info-container .mbh-package-info-date span + span {
  margin-left: 0.3em;
}
body #mbh-results-actions #mbh-results-next {
  margin-left: 20px;
  margin-right: 30px;
  border: 1px solid var(--main);
}
@media (max-width: 471px) {
  body #mbh-results-actions #mbh-results-next {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
body #mbh-results-actions #mbh-results-next:hover {
  background-color: var(--main);
}
body #mbh-results-actions #mbh-results-next:hover {
  filter: brightness(120%);
}
body #mbh-results-actions #mbh-results-total {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  body #mbh-results-actions #mbh-results-total {
    flex-direction: row;
  }
}
body #mbh-results-actions #mbh-results-total .mbh-results-total-text {
  font-size: 12px;
  margin-right: 0.3em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media (min-width: 732px) {
  body #mbh-results-actions #mbh-results-total .mbh-results-total-text {
    font-size: 14px;
  }
}
body #mbh-results-actions #mbh-results-total #mbh-results-total-sum {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
body #mbh-results-actions #mbh-results-total .currency-symbol {
  font-size: 14px;
  font-weight: bold;
}
@media (max-width: 767px) {
  body .hidden-xs {
    display: none !important;
  }
}
body .btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
body button[disabled] {
  cursor: default;
}
body .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  color: #ffffff;
  margin: 0;
}
