@import "../common-style.mixin";

.importFontRoboto();

body {
  .commonStyleFont();

  .replaceStyleBootstrap();

  display: flex;
  justify-content: center;
  background-color: unset;

  #mbh-results-actions {
    .maxOuterBorders();

    display: flex;
    justify-content: flex-end;

    height: inherit;

    align-items: center;

    border: 1px solid @general_color;
    background: #FFFFFF;

    #mbh-results-package-info-container {
      display: flex;
      margin-left: 30px;

      > div {
        display: flex;
        align-items: center;
        .fontSizeLineHeight();
        margin: 0 0.3em;
      }

      .separator {
        margin: 0 0.3em;
      }

      .mbh-package-info-amount-room-and-guest {

        span + span {
          margin-left: 0.3em;
        }
      }
      .mbh-package-info-date {
        span + span {
          margin-left: 0.3em;
        }
      }
    }

    #mbh-results-next {
      margin-left: 20px;
      margin-right: 30px;
    }

    #mbh-results-total {
      .mbh-results-total-text {
        font-size: 14px;
        .textUppercase();
      }

      .mbh-results-total-sum {
        font-size: 18px;
        font-weight: bold;
        .textUppercase();
        margin: 0 0.3em;
      }
    }
  }
}
