{% spaceless %}
    <span>{{ entity.begin|mbh_format }} - {{ entity.end|mbh_format }}</span>
    <br>
    <small>{{ entity.nights }} {{ 'nights'|transchoice(entity.nights) }}</small>
{% endspaceless %}