/* --- EASYDROPDOWN DEFAULT THEME --- */
.datepicker table tr td.day {
    font-weight: bolder !important;
}

.formmainpage {
    position: relative;
}

.bron-wrap {
    width: 100%; /* position:absolute;*/
}

.bron-wrap .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

.booking-form {
    background: #fff;
    font-family: 'Open Sans Semibold', arial;
    font-size: 12px;
    z-index: 10;
    height: 485px;
    position: relative;
}

.booking-form label {
    font-weight: 200;
    margin-bottom: 3px;
}

.booking-title {
    text-align: center;
    background: #ebb730;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 30px;
    margin-bottom: 3px;
    line-height: 1;
}

.booking-title.pay-online {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

.booking-title:first-child {
    margin-bottom: 3px;
}

.booking-title a {
    color: #fff;
}

.booking-group {
    margin: 15px 30px 0;
}

.booking-date {
    margin: 0px 15px 0px;
}

.booking-nights {
    margin: 8px 30px;
}

.booking-form .col-md-6 {
    padding: 0 5px
}

.booking-number {
    margin: 10px 25px 0px;
}

.booking-age {
    margin: 10px 25px 0px; /*height: 60px;*/
}

.booking-age label {
    padding: 0 5px;
    width: 100%;
}

.booking-date label {
    margin-top: 7px;
}

.booking-date input {
    width: 100%;
    padding-left: 8px;
}

.booking-group select, .booking-number select, .booking-age select, .booking-child-age select, .booking-date input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 30px;
    padding: 0 15px 0 2px;
    border: 1px solid #969696;
    border-radius: 3px;
    width: 100%;
    font-size: 12px;
    line-height: 30px;
    color: #323232;
}

.booking-date input {
    background: url('https://azovsky.ru/images/calendar/calendar.jpg') no-repeat scroll right center / 30px 100%, #f0f0f0 !important;
    padding: 0px 30px 0 10px;
}

.booking-group select, .booking-number select {
    background: url('https://azovsky.ru/images/form-arrow.png') no-repeat scroll right center / 30px 100%, #f0f0f0;
    padding: 0 30px 0 4px;
}

.booking-age select {
    background: url('https://azovsky.ru/images/age-arrow.png') no-repeat scroll right center / 30px 100%;
}

.booking-child-age {
    width: calc(20% - 8px);
    height: 40px;
    margin: 0 4px !important;
    float: left;
}

.booking-child-age select {
    background: url('https://azovsky.ru/images/age-arrow.png') no-repeat scroll 100% 10px / 13px 6px, #f0f0f0;
    padding-left: 4px;
}

.booking-submit {
    margin: 0 30px;
}

.booking-form .booking-submit input {
    background: #92b638;
    text-align: center;
    border: 0;
    margin: 8px 0 15px;
    display: block;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans Semibold', arial;
    padding: 5px;
}

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}

/* WRAPPER */

.dropdown {
    position: relative;

    border: 1px solid #969696;
    cursor: pointer;
    line-height: 30px;
    background: #f0f0f0;
    border-radius: 3px;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dropdown.open {
    z-index: 2;
    border: 1px solid #11a3ee;
    box-shadow: 0px 0px 3px #72e9f7;
}

.dropdown:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.dropdown.focus {
    box-shadow: 0 0 5px rgba(51, 102, 248, .4);
}

/* CARAT */

.dropdown .carat {
    position: absolute;
    right: 0px;
    top: 0%;
    height: 100%;

    padding: 0px;
}

.dropdown.open .carat {
    right: 0px;
    top: 0%;
    height: 100%;
    background: url('https://azovsky.ru/images/form-arrow.png') no-repeat scroll right center / 30px 100%, #f0f0f0;
    padding: 0;
}

.dropdown.disabled .carat {
    border-top-color: #999;
}

.dropdown ul {
    padding: 0;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.dropdown select {
    position: absolute;
    left: 0px;
    top: 0px;

}

.dropdown.touch .old {
    width: 100%;
    height: 100%;
}

.dropdown.touch select {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.dropdown .selected,
.dropdown li {
    background: url('https://azovsky.ru/images/form-arrow.png') no-repeat scroll right center / 30px 100%;
    display: block;

    /*	*/
    padding: 0 30px 0 10px;

    /*
    overflow: hidden;
    white-space: nowrap;*/
}

.dropdown li {
    background: #fff;
    font-size: 14px;
    font-family: Arial;
    line-height: 22px;
}

.dropdown.disabled .selected {
    color: #999;
}

.dropdown .selected::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;

    border-radius: 0 2px 2px 0;
    /*box-shadow: inset -55px 0 25px -20px #fff;*/
}

/* DROP DOWN WRAPPER */

.dropdown div {
    position: absolute;
    height: 0;
    left: -1px;
    right: -1px;
    top: 100%;
    margin-top: 3px;
    background: #fff;
    border: 1px solid #969696;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div {
    opacity: 1;
    z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;

    box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after {
    opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
}

.dropdown.scrollable.open ul {
    overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li {
    list-style: none;
    padding: 4px 12px;
}

/* .focus class is also added on hover */

.dropdown li.focus {
    background: #11a3ee;
    position: relative;
    z-index: 3;
    color: #fff;
}

.formmainpage select {
    -ms-appearance: none;
    appearance: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.formmainpage select::-ms-expand {
    display: none;
}

.check {
    margin: 5px 15px;
}

.check label {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    cursor: pointer;
}

.tooltip-span {
    cursor: pointer;
    background: #676767;
    font-size: 10px;
    color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding-top: 0;
    margin-left: 5px;
}

.tooltip-span .tooltip-text {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-left: 2px;
    margin-top: -75px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    visibility: hidden;
    width: 200px;
    z-index: 10;
    font-size: 13px;
    text-align: left;
}

.tooltip-span:hover .tooltip-text, .tooltip-span:focus .tooltip-text {
    opacity: 1;
    visibility: visible;
}

.check .date-check {
    display: none;
}

.check .date-check:checked + span {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAYAAABPhbxiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6 eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1 ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIiB4bXBNTTpJbnN0 YW5jZUlEPSJ4bXAuaWlkOkIzRkYzMEVFRERCQjExRThBRUExQjkxMzZDMEZBM0IwIiB4bXBNTTpE b2N1bWVudElEPSJ4bXAuZGlkOkIzRkYzMEVGRERCQjExRThBRUExQjkxMzZDMEZBM0IwIj4gPHht cE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QjNGRjMwRUNEREJCMTFF OEFFQTFCOTEzNkMwRkEzQjAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QjNGRjMwRUREREJC MTFFOEFFQTFCOTEzNkMwRkEzQjAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94 OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz49g9xqAAABl0lEQVR42nyRz0oCURTG5947Izlq i1ZJafhnG7gJUnRQUKKitm2kP/QAvUoPYFEPEBEU1U5EcyKfQVwEom7UGUfRe+907uiAbTy7wz2/ 7/vOuSifz8rSiuLclnw+lVE6s8vl6k0wuPmbSOw+rYIQ5xwgH7Wh6vWfi/F4cttstuDJPiKRyA72 eDycEAKqDCOEFk4OxDhndq2mn/f7g0dXkVIuYa93jU6nUwRqRFW9DMTRMlSt6lfLkN/v+0gm94pY NLreKNXr35+MURvgmaqqAHEHGgyG98tQJpM6BDOJtNvdB9M0Lxlj0U6nF4fozxBbqlRq1wDduVAg EHjVtOSxoiiSaY4UWZaJ4T4ahlGEI7RgzwZApWWndHr/RECGYSoYY5sUCrn34dCYgEpeDFmWpY1G 1hlaXMmNN3cyZYAcMRKPR6VweLs2hAL4QMwLCI4kra8HXgACJ1nEE5AtvskBARLWPBQK6RDDgriF +U7+N01LncIqzk4LJ+zGJ7FYBFNKCcYI4K2vbre3IfpsNp1zD7Fw+ld/AgwA68DXirAJaUgAAAAASUVORK5CYII=") no-repeat 50% 50%;
    background-size: 10px 8px;
}

.check .date-check-custom {
    width: 14px;
    height: 14px;
    border: 1px solid #656565;
    margin-right: 5px;
    margin-top: 3px;
    padding: 6px;
    display: block;
    box-sizing: border-box;
}

.check .wrap-contcheck {
    width: 100%;
    display: inline;
    padding-top: 3px;
}

.check .check-lab {
    font-size: 14px;
    display: block;
    line-height: 16px;
    color: #003366;
}

/*.dropdown li.active{
	background: #A3ABB1;
}*/
@media (max-width: 1200px) {
    .booking-group {
        margin: 10px 15px 0;
    }

    .booking-date {
        margin: 0;
    }

    .booking-nights {
        margin: 8px 15px;
    }

    .booking-number {
        margin: 10px;
    }

    .booking-submit {
        margin: 0 15px;
    }

    .booking-age {
        margin: 5px 13px 0;
    }

    .booking-child-age {
        margin: 0 !important;
        width: 20%;
        padding: 0 2px;
    }

    .day-offer {
        padding: 0 0 15px;
    }

    .dopinfoblock, .navigation {
        padding: 15px 0;
    }
}
