#children-icon {
  position: relative;
  bottom: 15px;
}

#search-form .popover {
  max-width: 350px;
}

#search-form .popover-content input {
  width: 55px;
  margin-right: 5px;
}

#search-form .popover-content input:last-child {
  margin-right: 0;
}

#search-form .popover-content div {
  white-space: nowrap;
}

#search-form {
  h3{
    &.popover-title {
      font-size: 10px;
    }
  }
}

.form-group {
  margin: 5px 7% 15px !important
}

.input-group {

}

.bronirovanie {
  select {
    margin: 0 !important;
    width: 100% !important;
  }
  label {
    font-weight: normal !important;
  }
  input {
    margin: 0;
    &[type="text"] {
      margin: 0;
      width: 100% !important;
      //background-color: white;
      padding: 0 12px;
    }
  }
  span>i {
    color: #f7f7f7;
  }
}

.bcy {
  background-color: #ebb630;
}

.bgnd {
  background: #f4f4f4 url(../images/fico4.png) no-repeat scroll right center / auto 100% !important;

}
.hinform {
  margin-top: 48px;
}


