// Color variables (appears count calculates by raw css)
@color0: #ebb630; // Appears 4 times
@color1: #2196f3; // Appears 3 times
@color2: #8a8a8a; // Appears 3 times



#online-booking-search {
  .rublesize {
    font-size: 19px;
  }
  .logo {
  }
  .right-info {
    padding: 0 5px 0 10px;
  }
  .oblimg {
    border: 1px solid #CCCCCC;
    height: auto;
    margin-bottom: 0;
    width: auto;
  }
  .miniimages {
    margin: 0;
    padding: 0;
  }
  .oldprice {
    color: #90b738;
    font-size: 20px;
    text-decoration: line-through;
  }
  .newprice {
    color: red;
    font-size: 20px;
  }
  .title {
    .round {
      -moz-border-radius: 35px;
      background-color: @color2;
      border-radius: 35px;
      display: inline-block;
      height: 10px;
      width: 10px;
    }
    .star {
      background-color: @color0;
    }
  }
  .table {
    margin-bottom: 0;
    th {
      color: @color1;
      font-weight: normal;
    }
    i {
      color: @color0;
    }
  }
  .descr {
    margin: 0;
    width: auto;
  }
  .btmactions {
    float: right;
    margin: 15px 0 5px 0;
    a {
      border-radius: 0;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
    }
    a.btn-default {
      background-color: @color2;
    }
  }
  .more-link {
    float: left;
    font-size: 12px;
    padding: 5px 0 0 5px;
  }
  .less-link {
    float: left;
    font-size: 12px;
    padding: 5px 0 0 5px;
  }
  .numicon {
    color: @color0;
    margin-right: 10px;
    margin-top: 8px;
  }
  .roomtype {
    color: @color1;
    text-transform: capitalize;
  }
  .roomname {
    font-weight: bold;
    & > a {
      color: #8a8a8a;
      cursor: pointer;
      &:hover, &:focus, &:visited, &:link {
        text-decoration: none;

      }
    }
  }
  .infocontainer {
    overflow: hidden;
  }
  .hotellogo {
    background-color: rgba(255, 255, 255, 0.27);
    height: 50px;
    left: -65px;
    position: absolute;
    top: 0px;
    width: 50px;
  }
  .guests {
    color: @color1;
    text-transform: capitalize;
    i {
      color: @color0;
    }
    i+.guestslist {
      color: @color2;
      font-size: 12px;
      margin-left: 5px;
    }
  }
  span.guestslist {
    font-size: 20px;
  }
}
.oneblock {
  border-radius: 3px;
  border: 1px solid #bec8d2;
  padding: 10px 3px;
}