.oneblockspec {
    width: 100%;
    padding: 10px 13px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-bottom: none;
}

.spec-last {
    border-bottom: 1px solid #969696;
}


.hotel-hide {
    display: none;
}

.oneblockspec div {
    box-sizing: border-box;
}

.oneblockspec p {
    margin: 0;
    line-height: 1;
}

.spec-img {
    width: 28%;
    float: left;
    position: relative;
}

.spec-img .main-img {
    width: 100%;
    height: 145px;
}

.hotel-thumb {
    display: none;
}

.spec-info {
    width: 22%;
    float: left;
    padding: 10px 10px 10px 25px;
    height: 145px;
    position: relative;
}

.spec-info .hotel {
    color: #0f46a0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 13px;
}

.spec-info .room {
    color: #656565;
    font-size: 13px;
    margin-bottom: 20px;
}

.spec-info .food {
    position: absolute;
    bottom: 0;
    text-align: left;
}

.wrap .spec-info .food a {
    color: #c19100;
    font-size: 10px;
    text-decoration: none;
}

.spec-info .food img {
    float: left;
    margin: 0 10px 0 0;
    padding-top: 3px;
}

.spec-date {
    width: 27%;
    float: left;
    padding: 12px 25px 10px 50px;
}

.spec-date .date {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.spec-date .daynight {
    color: #656565;
    font-size: 13px;
    margin-bottom: 32px;
}

.spec-date select {
    padding: 9px 5px;
    border: 1px solid #bdbdbd;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    max-width: 120px;
    color: #333;
    font-size: 11px;
    appearance: none;
    background: url('http://azovsky.ru/images/specnew/grey-arrow.png') no-repeat 95% 50%;
}

.spec-date select::-ms-expand { /* пїЅпїЅпїЅ IE */
    display: none;
}

.spec-price {
    width: 23%;
    float: left;
    padding: 10px 25px 10px 45px;
}

.spec-price p {
    color: #0f46a3;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.spec-price .crossout {
    text-decoration: line-through;
    color: #363636;
    font-weight: normal;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 24px;
}

.spec-price input {
    background: #90b73a;
    color: #fff;
    text-transform: uppercase;
    border: none;
    width: 100%;
    max-width: 145px;
    padding: 8px 5px;
    text-align: center;
}

.oneblockspec .special-strip {
    position: relative;
    background: #fd0002;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 14px;
    margin-left: -6px;
    font-size: 16px;
    padding: 6px 12px 6px 12px;
}

.oneblockspec .special-strip:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #bf0002 #bf0002 transparent transparent;
}

.col-md-4 {
    float: left;
    width: 33.33333%;
    padding: 0 15px;
}

.row-no-indent {
    margin-left: -15px;
    margin-right: -15px;
}

.inghotelline {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.inghotelline img {
    height: 50px;
    border: 1px solid #fff;
}

@media (max-width: 1200px) {
    .oneblockspec {
        border: none;
        border-bottom: 1px solid #6c6762;
        padding-top: 20px;
    }

    .oneblockspec:last-child {
        border-bottom: none;
    }

    .spec-img {
        width: 57%;
    }

    .hotel-thumb {
        display: block;
        margin-top: 10px;
    }

    .hotel-thumb .food img {
        width: 25px;
        margin-right: 20px;
        border: none;
    }

    .hotel-thumb .food {
        margin-top: 25px;
    }

    .wrap .hotel-thumb .food a {
        font-size: 19px;
        color: #c19100;
        text-decoration: none;
    }

    .spec-info {
        height: auto;
    }

    .spec-info, .spec-date, .spec-price {
        width: 43%;
        padding: 2px 0px 5px 20px;
    }

    .spec-img .main-img {
        border: 1px solid #60b3c5;
        height: 300px;
    }

    .spec-info .hotel {
        color: #3eabc2;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .spec-info .room {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .spec-info .food {
        display: none;
    }

    .spec-date .date {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .spec-date .daynight {
        font-size: 23px;
        margin-bottom: 19px;
    }

    .spec-date select {
        color: #303030;
        font-size: 20px;
        width: 100%;
        max-width: 500px;
    }

    .spec-price p {
        font-size: 34px;
        text-align: left;
    }

    .oneblockspec .special-strip {
        padding: 7px 14px 7px 12px;
        font-size: 33px;
        margin-left: -10px;
    }

    .oneblockspec .special-strip:after {
        border-width: 5px;
    }

    .spec-price .crossout {
        font-size: 28px;
    }

    .spec-price input {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 768px) {
    .spec-img {
        width: 100%;
        border-top: 1px solid #6c6762;
        padding-top: 20px;
    }

    .oneblockspec:first-child .spec-img {
        border-top: none;
    }

    .oneblockspec {
        border-bottom: none;
    }

    .spec-info, .spec-date, .spec-price {
        width: 100%;
        padding: 0px 15px;
    }

    .spec-img .main-img {
        height: 250px;
    }

    .spec-info {
        padding-top: 20px;
    }

    .spec-info .hotel {
        margin-bottom: 3px;
    }

    .hotel-thumb p {
        display: none;
    }

    .spec-info .food {
        display: block;
        font-size: 11px;
    }

    .spec-info .hotel {
        font-size: 15px;
    }

    .spec-info .food img {
        padding: 0;
        margin-top: -3px;
    }

    .spec-info .room {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .spec-date {
        padding-top: 22px;
    }

    .spec-date .date {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .spec-date select {
        max-width: 300px;
        font-size: 12px;
        padding: 8px 5px;
    }

    .spec-date .daynight {
        margin-bottom: 18px;
        font-size: 13px;
    }

    .spec-price {
        padding-top: 17px;
    }

    .spec-price p {
        font-size: 20px;
        width: 95px;
        display: block;
        float: left;
    }

    .spec-price .crossout {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0px;
    }

    .oneblockspec .special-strip {
        padding: 7px 14px 7px 12px;
        font-size: 16px;
        margin-left: -6px;
    }

    .oneblockspec .special-strip:after {
        border-width: 3px;
    }

    .spec-price input {
        max-width: 300px;
    }
}

@media (max-width: 414px) {
    .spec-img .main-img {
        height: 180px;
    }
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 15px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

.spec-wrap {
    background: #9cdbfc;
}

.month-spec {
    padding:0 15px;
    margin: 0 auto;
}

.month-spec .bx-wrapper .bx-viewport {
    height: 50px !important;
    margin-bottom: 50px;
    top: 0;
    background: #f7fcff;
}

.month-spec .bx-wrapper .bx-controls-direction a {
    margin-top: -5px;
    width: 7px;
}

.month-spec .bx-wrapper .bx-prev {
    background: url('http://azovsky.ru/images/spec-arr-left.png') no-repeat 0 0px;
    left: 0;
}

.month-spec .bx-wrapper .bx-next {
    background: url('http://azovsky.ru/images/spec-arr-right.png') no-repeat 0 0px;
    right: 0;
}

.month-spec li {
    text-align: center;
    height: 50px;
    line-height: 50px;
	display:inline-block;
	width:20%;
	margin-left:-4px;
}

.month-spec li a {
    text-transform: uppercase;
    color: #656565;
	font-weight:600;
}

.month-spec li a:hover {
    background: #25a7ff;
    color: #fff;
    font-weight: bold;
    padding: 7px 25px;
    text-decoration: none;
}

.mont-spec li a:focus {
    text-decoration: none;
}

.spec-active {
    background: #2196f3;
    color: #fff !important;
    font-weight: bold;
    padding: 7px 25px;
    text-decoration: none;
}

.month-spec li a.disable-month {
    color: #c7c7c7;
    cursor: default;
}

.month-spec li a.disable-month:hover {
    background: none;
    color: #c7c7c7;
    font-weight: normal;
}

@media (max-width: 875px) {
    .month-spec .bx-wrapper {
        display: block;
    }
}

@media (max-width: 768px) {
    .month-spec li a:hover {
        padding: 7px 5px;
    }
}
@media (max-width: 414px) {
    .month-spec li {width:50%;}
}