<ul class="nav navbar-nav navbar-right">
    <li><button type="button" data-toggle="modal" data-target="#entity-delete-confirmation" class="btn btn-danger navbar-btn"><i class="fa fa-trash-o"></i> {{ delete_title|default('views.actions.deleteButtons.delete'|trans({}, 'MBHBaseBundle')) }}</button></li>
</ul>


