<div id="actions" class="navbar navbar-default navbar-fixed-bottom main-footer">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% block right %}
            {% endblock %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% block left %}
            {% endblock %}
        </ul>
    </div>
</div>