{% if save_close is not defined %}
    {% set save_close = true %}
{% endif %}
{% if save is not defined %}
    {% set save = true %}
{% endif %}

<ul class="nav navbar-nav">
    {% if save_close %}<li><button type="submit" name="save_close" class="btn btn-success navbar-btn"><i class="fa fa-check-square-o"> </i> {{ 'views.actions.saveButtons.save_and_close'|trans({}, 'MBHBaseBundle') }} </button></li>{% endif %}
    {% if save %}
        <li>
        <button type="submit" name="save" class="btn btn-info navbar-btn"><i
                    class="fa fa-check-square-o"> </i> {{ save_text|default('views.actions.saveButtons.save'|trans({}, 'MBHBaseBundle')) }}
        </button></li>{% endif %}
    <li><button type="button" onclick="location.href = '{{ title_url|default(path('_welcome'))}}'" class="btn btn-default navbar-btn"><i class="fa fa-ban"> </i> {{ 'views.actions.saveButtons.cancel'|trans({}, 'MBHBaseBundle') }}</button></li>
</ul>