{% if save_close is not defined %}
    {% set save_close = true %}
{% endif %}

<div id="actions" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        {% include 'MBHBaseBundle:Actions:saveButtons.html.twig' with {'save_close': save_close, 'save_text': save_text|default('views.actions.update.save'|trans({}, 'MBHBaseBundle'))}%}
        
        {% if delete_route is defined and delete_route is not empty %}
        <ul class="nav navbar-nav navbar-right">
            <li><button data-href="{{ path(delete_route, {'id': entity.id}) }}" class="btn btn-danger navbar-btn delete-link"><i class="fa fa-trash-o"></i> {{ delete_title|default('views.actions.update.delete'|trans({}, 'MBHBaseBundle')) }}</button></li>
        </ul>
        {% endif %}
    </div>
</div>