<div id="actions" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        {% include 'MBHBaseBundle:Actions:saveButtons.html.twig'%}
        {% include 'MBHBaseBundle:Actions:deleteButtons.html.twig'%}
    </div>
</div>