{% extends 'MBHHotelBundle:RoomType:layout.html.twig' %}

{% set small_title = 'views.roomType.edit.edit_room_type'|trans({}, 'MBHHotelBundle') ~ entity.id %}

{% block content %}

        {{ form_start(form, {'action': path('room_type_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': 'room_type_delete' } %}
        {{ form_end(form) }}

        {% if selected_hotel().getIsHostel %}<span id="hotel_is_hostel"></span>{% endif %}

        {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'hotel_delete' } %}

{% endblock %}
