{% extends 'MBHHotelBundle:RoomType:layout.html.twig' %}

{% set small_title = 'views.roomType.edit.edit_room_type'|trans({}, 'MBHHotelBundle') ~ entity.id %}

{% block content %}

    {% include 'MBHHotelBundle:RoomType:editTabs.html.twig' with {'active' : 1, 'entity': entity} %}

    <div class="tab-content">
        <div class="tab-pane active" id="general_info">
            {{ form_start(form, {'action': path('room_type_update', {'id': entity.id}), 'method': 'PUT', 'attr': {'class': 'form-horizontal'}}) }}
            {{ form_widget(form) }}
            {% include 'MBHBaseBundle:Actions:update.html.twig' with {'entity': entity, 'delete_route': 'room_type_delete' } %}
            {{ form_end(form) }}

            {% include 'MBHBaseBundle:Partials:entityInfo.html.twig' with {'entity': entity, 'logs': logs, 'delete_route': 'hotel_delete' } %}
        </div>
    </div>
{% endblock %}
