{% extends 'MBHHotelBundle:RoomType:layout.html.twig' %}

{% set small_title = "cоздание типа номера" %}

{% block content %}

    {{ form_start(form, {'action': path('room_type_create'), 'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form) }}
    {% include 'MBHBaseBundle:Actions:new.html.twig' %}
    {{ form_end(form) }}

    {% if selected_hotel().getIsHostel %}<span id="hotel_is_hostel"></span>{% endif %}
    
{% endblock %}
