.mbh-results-select-guest {
  .styleForSelect2();
  text-align: unset;

  .select2:not(.hidden) {
    text-align: center;
  }

  .price-for {
    margin-right: .5em;
    font-weight: normal;
  }

  .person-icon + .person-icon {
    margin-left: .4em;
  }
}
