.navbar-logo
{
  font-size:26px;
  vertical-align:middle;
}
.navbar {
  ul {
    li {
      button, div {
        margin-right: 8px;
      }
      div {
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
}
#actions
{
  background-color: #f5f5f5;
  background-image: none;
  border: 1px solid #e0e0e0;
  padding: 0px;
}

.parent_badge {
  margin-left: 20px;
  .badge-sidebar-left,
  .badge-sidebar-right {
    display: inline-block;
    width: 30px;
  }
}

.sidebar-collapse .parent_badge {
  margin-left: -8px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
}

//.badge-sidebar-margin.badge-sidebar-left {
//  margin-left: 20px !important;
//}
//.badge-sidebar-margin.badge-sidebar-right {
//  // margin-right: 35px !important;
//}
