.navbar-logo
{
  font-size:26px;
  vertical-align:middle;
}
.navbar {
  ul {
    li {
      button, div {
        margin-right: 8px;
      }
      div {
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }
  }
}
#actions
{
  background-color: #f5f5f5;
  background-image: none;
  border: 1px solid #e0e0e0;
  padding: 0px;
}

@media (max-width: 1024px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
}

.badge-sidebar-margin.badge-sidebar-left {
  right: 60px !important;
}
.badge-sidebar-margin.badge-sidebar-right {
  right: 35px !important;
}