.td-md
{
    width: 150px !important;
}
.td-sm
{
    width: 70px !important;
}
.td-xs
{
    width: 40px !important;
}
.table-icon
{
    opacity: 0.6;
}
.table-actions
{
    a, button {
        margin-right: 3px;
    }
    
}