.select2-container {
  display: inline-block !important;
}

textarea.big
{
  height: 150px;
  width: 500px;
}

.filter-form
{
  div.input {
    margin: 0px;
    padding: 0px 0px 5px 10px;
    display: inline-block;
  }

  select {
    width: 250px !important;
  }

  input.datepicker {
    width: 80px;
  }
}

.input-xxs {
  width: 55px !important;
}

.input-xs {
  width: 100px !important;
}

.input-small {
  width: 150px !important;
}
.payment-system-form {
  display: inline-block;
}
.findGuest {
  min-width: 700px !important;
}

form.form-horizontal {
  label {
    small {
      color: #777;
    }
  }
}