.filter-form {
  display: flex;
  flex-wrap: wrap;

  #package-filter-dates {
    width: 150px;
  }

  input.datepicker {
    width: unset;
    max-width: 84px;
  }

  .filter-form_group-date {
    display: flex !important;
    flex-wrap: wrap;

    //#package-filter-begin,
    //#package-filter-end {
    //  background: white;
    //}

    > div > .filter-form_input {
      &::after {
        content: "—";
      }
      input.datepicker {
        &:first-child {
          margin-right: .3em;
        }

        &:last-child {
          order: 2;
          margin-left: .3em;
        }
      }
    }
  }

  .filter-form_group-human-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-form_input {
    display: flex;
    justify-content: center;
    align-items: center;

    > i.fa {
      display: flex;
      justify-content: center;

      &::before {
        width: 20px;
        margin-left: 8px;
      }
    }

    > button {
      margin-left: 10px;
    }
  }
  .group-date-select {
    margin-left: 5px;
  }

  .filter-form_group-checkbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    >.filter-form_input {
      width: unset;
    }
  }
}