<div id="actions" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-expanded="true">
                        <i class="fa fa-magic"></i>
                        {{ 'package.actions'|trans({}, 'MBHPackageBundle') }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="1c-export" href="{{ path('cash_1c_export') }}">Экспорт в 1C</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>